Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

chore: #541 added message routing to test list
  tests/integration/run.py
Due: none

test(qauld): added network toplogy files
  tests/integration/topologies/grid4-3x3.json
  tests/integration/topologies/grid4-5x5.json
  tests/integration/topologies/line-10.json
  tests/integration/topologies/line-5.json
Due: none

test: #541 fixed apssing tests
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_user_discovery.py
Due: none

chore(app): updated research doc
  docs/research/testing-framework.md
Due: none

test(app): #541 added a runner for all routing tests
  tests/integration/run_routing_tests.py
  tests/integration/test_neighbour_detection.py
Due: none

added CHANGELOG for qaul version 2.0.0-rc.5
  CHANGELOG.md
Due: none

fix(qaul): codebase audit fixes
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/storage/database.rs
Due: run-rust-workflow

fix(qaul): medium and low grade audit fixes
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/libqaul/src/api/android.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
Due: run-rust-workflow

refactor: streamline chat and group management by introducing GroupStore and updating chat-related logic
  qaul_ui/lib/main.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

test(server): #541 set permission socket
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 added json flag for outpus
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

feat(server): #541 added json printing to other commands
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

test(server): #5411 chnaged test to poll router info table
  tests/integration/test_route_expiration.py
  tests/integration/test_route_stability.py
Due: none

fix(test): updated the user discovery tests
  tests/integration/test_node_startup.py
  tests/integration/test_user_discovery.py
Due: none

test(app): #541 updated test suites to use uv and pytest
  docs/research/mdns-bug.md
  tests/integration/conftest.py
  tests/integration/lib/node.py
  tests/integration/pyproject.toml
  tests/integration/run.py
  tests/integration/run_network_tests.py
  tests/integration/test_degraded_links.sh
  tests/integration/test_direct_messages.py
  tests/integration/test_direct_messages.sh
  tests/integration/test_feed_distribution.py
  tests/integration/test_feed_distribution.sh
  tests/integration/test_message_routing.py
  tests/integration/test_neighbour_detection.py
  tests/integration/test_node_startup.py
  tests/integration/test_route_discovery.py
  tests/integration/test_route_expiration.py
  tests/integration/test_route_stability.py
  tests/integration/test_user_discovery.py
Due: none

test(app): #541 added route stabilty tests
  tests/integration/lib/network.py
  tests/integration/test_route_discovery.py
  tests/integration/test_route_expiration.py
  tests/integration/test_route_stability.py
Due: none

test(app): dsd
  tests/integration/run_network_tests.py
Due: none

test(server): #541 fixed mdns requery timeout
  rust/libqaul/src/connections/lan.rs
  tests/integration/lib/network.py
  tests/integration/lib/node.py
Due: run-rust-workflow

test(server): #541 run correctness tests for diff topologies
  tests/integration/lib/topology.py
  tests/integration/results/.gitkeep
  tests/integration/run_topologies.py
Due: none

test(app): #541 manually kill all qauld processes
  tests/integration/lib/network.py
Due: none

test(app): #541 user and node discovery
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_node_startup.py
  tests/integration/test_user_discovery.py
Due: none

fix(tests): #541 added print statements
  tests/integration/lib/node.py
  tests/integration/run.py
  tests/integration/test_user_discovery.py
Due: none

chore(app): added improvments
  .gitignore
Due: none

test(server): #541 initial test results
  tests/integration/results/2026-03-13-grid4-3x3.json
  tests/integration/results/2026-03-13-line-10.json
  tests/integration/results/2026-03-13-line-5.json
  tests/integration/results/2026-03-16-grid4-5x5.json
  tests/integration/results/2026-03-16-grid8-4x4.json
  tests/integration/results/2026-03-16-routing-line-5.json
  tests/integration/results/2026-03-17-routing-grid4-3x3.json
  tests/integration/results/2026-03-17-routing-grid8-4x4.json
  tests/integration/results/2026-03-17-routing-line-10.json
  tests/integration/results/2026-03-17-routing-line-5.json
Due: none

fix(server): #541 create socket before setting permissions
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

test(shared): #541 added basic test guardrails
  tests/integration/lib/network.py
  tests/integration/lib/node.py
  tests/integration/run.py
Due: none

test(server): #541 updated network degradation tests
  tests/integration/lib/network.py
  tests/integration/test_degraded_links.py
Due: none

test(app): #541 added message routing tests
  tests/integration/test_message_routing.py
Due: none

test(shared): #541 updated file permisssions
  tests/integration/run.py
Due: none

test(app): #541 added redundant kill for all qauld processes
  tests/integration/lib/network.py
Due: none

test: updated to use local node
  tests/integration/test_user_discovery.py
Due: none

test(shared): #541 updated errors from harness runner
  tests/integration/run_topologies.py
Due: none

test(server): #541 added netwrok degradation tests
  tests/integration/lib/node.py
  tests/integration/run_network_tests.py
  tests/integration/test_degraded_links.py
  tests/integration/test_direct_messages.py
  tests/integration/test_feed_distribution.py
Due: none

test(server): #541 updated test suites
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_user_discovery.py
Due: none

test(shared): #541 updated test reports
  tests/integration/results/2026-03-17-routing-grid8-4x4.json
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
