Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

feat: [Flutter] add DTN module integration
  qaul_ui/packages/qaul_rpc/lib/src/models/dtn_configuration.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/dtn_translator.dart
Due: run-flutter-workflow

feat: [Flutter] add CRON task to refresh DTN nodes table
  qaul_ui/lib/screens/home/user_account_screen.dart
Due: run-flutter-workflow

refactor: [Flutter] change UserAccount layout
  qaul_ui/lib/screens/home/user_account_screen.dart
Due: run-flutter-workflow

feat: [Flutter] update verification process to make use of Security Number
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/security_number.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

chore: [Flutter] fix linting warning
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
Due: run-flutter-workflow

protobuf files updates for users connectivity
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/users/UsersOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/RoutingTableConnectionKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/SecurityNumberResponseKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/UserEntryKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/UsersKt.kt
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/router/users.pb.swift
Due: run-flutter-workflow, run-rust-workflow

extend users list with connections
  rust/clients/cli/src/users.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
Due: run-rust-workflow

fix connectivity for users list rpc
  rust/clients/cli/src/users.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

refactor: [Flutter] remove Router module dependency from qaul_rpc package
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/router_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
Due: run-flutter-workflow, run-rust-workflow

fix: [Flutter] remove unused UserOnlineRequest message and add workaround to inverted Connectivity field
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
Due: run-flutter-workflow

Added connection information to UserRequest response
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

default port for qauld
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

creating-default account
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
Due: run-rust-workflow

moved default account creation to UserAccounts
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

refactor: [Flutter] remove Router module dependency from qaul_rpc package
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

fix: [Flutter] remove unused UserOnlineRequest message and add workaround to inverted Connectivity field
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
Due: run-flutter-workflow

fix: [Flutter] update currentOpenChatRoom provider with messages from ChatConversationList request
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
Due: run-flutter-workflow

fix: [Flutter] unpack ChatContent by using .ensure protobuf method
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
Due: run-flutter-workflow

fix: [Flutter] rebuild memoized callback to send messages when currentOpenChat changes
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

etc: [Flutter] update navbar icons
  qaul_ui/assets/icons/chat.svg
  qaul_ui/assets/icons/comments.svg
  qaul_ui/assets/icons/group.svg
  qaul_ui/assets/icons/hashtag.svg
  qaul_ui/assets/icons/network.svg
  qaul_ui/assets/icons/public.svg
  qaul_ui/assets/people.svg
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

chore: [Flutter] fix lint warning
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
Due: run-flutter-workflow

fix: [Flutter] change seen status on messages to render on Confirm(ByAll) status
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix file sharing, unify code, fix all warning
  rust/clients/cli/src/group.rs
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/group_id.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

libqaul: removed optional features
  rust/libqaul/src/lib.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

removed rust conditional compilation features from libqaul
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

put log::info to log::trace, delete unused code
  rust/clients/cli/src/chatfile.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/page.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

fix: [Flutter] remove unsupported generated FileSharing module code
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_net.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_net.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_net.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_net.pbserver.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_rpc.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_rpc.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/filesharing/filesharing_rpc.pbserver.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chatfile_translator.dart
Due: run-flutter-workflow

fix: [Flutter] remove redundant extension from file name, increase text font on file messages
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
Due: run-flutter-workflow

feat: [Flutter] update "Create Group" UI
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
Due: run-flutter-workflow

feat: [Flutter] update "Public" tab FAB and the send public note dialog
  qaul_ui/lib/screens/home/tabs/public_tab.dart
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
