Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

Fix: .vscode settings added
  .vscode/settings.json
Due: none

Debug: Spawn Rust Async thread
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.yaml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

Debug: Spawn linux BLE message sender
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-flutter-workflow, run-rust-workflow

Debug: Add message listener
  .vscode/settings.json
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-flutter-workflow, run-rust-workflow

Fix: Flutter Ui to support linux ble
  .vscode/settings.json
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

Fix: WriteCharacterstic Api for version 33
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
Due: run-flutter-workflow

chore: optimized device discovery
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

refactor: Clean the ble_module and remove unused functions
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

Fix: Linux BLE message sender
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Optimize sender and reciever flow
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

feat: Added Stop and ble powered on check
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

fix: don't show "left the group" for users with pending invitations
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/group_invitation_bug_test.dart
Due: run-flutter-workflow

chore: upgrade CircleCI to rust 1.85.1
  .circleci/continue-config.yml
Due: none

feat(pw): update create config function to add password hash in the config
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

feat(pw): add protobuf definition to support password
  rust/libqaul/src/node/qaul.rpc.user_accounts.rs
  rust/libqaul/src/node/user_accounts.proto
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.user_accounts.rs
Due: run-rust-workflow

feat(pw): Add password management related methods
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

docs: add documentation and comments for password support feature
  rust/clients/cli/src/user_accounts.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

feat(pw): add password_hash field to VersionUpgrade struct
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_1/mod.rs
Due: run-rust-workflow

feat(pw): update the cli for password feature support
  rust/clients/cli/src/user_accounts.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

chore: update initializers for password feature support
  rust/clients/cli/src/user_accounts.rs
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

feat(pw): implement SetPasswordResponse RPC message handling
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

GATT messaging protocol Header
  qaul_ui/android/blemodule/.gitignore
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/libqaul/src/connections/ble/ble_net.proto
  rust/libqaul/src/connections/ble/qaul.net.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.ble.rs
Due: run-flutter-workflow, run-rust-workflow

Logic of ReceiveQueue addChunk written
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
Due: run-flutter-workflow

feat(pw): switch to argon2 from bcrypt and update relevant password management functions
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

feat(auth): add protobuf definitions for authentication messages
  rust/libqaul/src/rpc/auth.proto
Due: run-rust-workflow

feat(auth): add basic design for auth module
  rust/libqaul/src/rpc/auth.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

feat(auth): implement auth challenge generation and nonce management
  rust/libqaul/src/rpc/auth.rs
Due: run-rust-workflow

feat(auth): complete the following helper func. for auth module
  rust/libqaul/src/rpc/auth.rs
Due: run-rust-workflow

fix(build): add auth.proto to protobuf generation and file copying
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/auth.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.auth.rs
  rust/libqaul/src/rpc/qaul.rpc.auth.rs
Due: run-rust-workflow

fix(mod): add auth to qaul_rpc.proto
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul_rpc.proto
Due: run-rust-workflow

feat(auth): complete the rpc handling for auth req & res
  rust/libqaul/src/rpc/auth.rs
Due: run-rust-workflow

style: format auth.rs with rustfmt
  rust/libqaul/src/rpc/auth.rs
Due: run-rust-workflow

chore(auth): add todo placeholders for cli implementations
  rust/clients/cli/src/rpc.rs
  rust/libqaul/src/rpc/auth.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

chore: upgrade CircleCi to rust version 1.87.0
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none
