Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

chore: lint
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/debug/AndroidManifest.xml
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/profile/AndroidManifest.xml
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/gradle.properties
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
  qaul_ui/android/libqaul/build.gradle
  qaul_ui/android/libqaul/src/main/AndroidManifest.xml
  qaul_ui/android/settings.gradle
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/local_notifications/lib/src/local_notifications.dart
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

chore: lint & fix test
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/node_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/test/network_node_test.dart
Due: run-flutter-workflow

chore: flutter - bump release version to 2.0.0-rc.3
  qaul_ui/macos/libqaul/libqaul.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: rust - bump release version to 2.0.0-rc.3
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

ci: bump rust version to 1.81 on linux executors
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: bump rust version to 1.83 on linux executors
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: windows - fix flutter version tag
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
Due: none

feat: accept sending file/image attachments withou accompanying text message, but leave it as optional
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/macos/Runner/DebugProfile.entitlements
Due: run-flutter-workflow

feat: only render spacing ant text if image what an accompanying description
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
Due: run-flutter-workflow

Removed unused `libp2p` features, due to compilation errors. The following `libp2p` features were removed:
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

Fixed better_open_file plugin
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

Added new features to chatroom
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/map_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/send_emoji.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.yaml
  qaul_ui/widgetbook/pubspec.yaml
Due: run-flutter-workflow

Updated PR according to comments
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

Updated
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
Due: run-flutter-workflow

Feature/314 ble linux (#1)
  rust/Cargo.toml
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/mod.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

style: remove unused UUID
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

fix(ble): import generated protobuf from libqaul
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
Due: run-rust-workflow

Removed unused SYS channels
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

created a library out of the ble_module
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

refactor(ble_module): run in tokio runtime
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

feat(linux-ble): send up results from main loop
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

refactor(linux-ble): run main loop on local task
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

added ble_module to libqaul for linux
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

refactor(linux-ble): remove main.rs and pass callback to init
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
Due: run-rust-workflow

Debug: spawn join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Updated the deprecated state::Storage
  rust/ble_module/src/rpc/mod.rs
Due: run-rust-workflow

Fix: spawn async task for join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Debug: transfer adapter to async_std spawned task
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Debug: connecting to other bluetooth qaul devices
  .gitignore
  .vscode/settings.json
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Fix: achieved stable connection: 1. Linux is able to detect other devices 2. Other devices can detect Linux BLE advertisements 3. Linux device is able to recieve messages from other qaul devices
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-flutter-workflow, run-rust-workflow

Fix: linux ble send message flow
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-flutter-workflow, run-rust-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Refactor the rust ble_module
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow
