Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

Make bridge more reliable
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/main.rs
Due: run-rust-workflow

Save the configuration when updated
  rust/clients/bridge/Cargo.toml
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/feed.rs
Due: run-rust-workflow

1. Revert previous changes.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

I have read the CLA Document and I hereby sign the CLA
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
Due: run-flutter-workflow

1. Fixing reconnect issue.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

1. Solved Reconnection issue.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix: send feed messages via BLE
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

Add Libqaul & Blemodule(android) interface module.
  android/blemodule/build.gradle
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  rust/libqaul/src/api/android.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

BLE end of workday commit
  android/libqaul/build.gradle
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

feat: [Flutter] add BLE permission requests on libqaul worker initialization
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

fix: [Flutter] compilation errors
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
Due: run-flutter-workflow

chore: [Flutter] update gradle version
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
Due: run-flutter-workflow

feat: listen for RightsRequest to trigger permission request on Android
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
Due: run-flutter-workflow

Fix compilation issue for flutter app
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

Upgraded Java-Version to 11 for Gradle
  android/app/build.gradle
  android/blemodule/build.gradle
  android/libqaul/build.gradle
Due: none

Fixed code for building
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/build.gradle
Due: none

BLE: added comments
  android/app/src/main/java/net/qaul/qaul/MainActivity.kt
  android/blemodule/.gitignore
  android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  android/blemodule/src/main/java/net/qaul/ble/DateTimeHelper.kt
  android/blemodule/src/main/java/net/qaul/ble/RemoteLog.kt
  android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

added protobuf dependency to flutter android gradle
  qaul_ui/android/build.gradle
Due: run-flutter-workflow

Fix ble service issue on blemodule
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

Flutter: added missing Android BLE permission
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

added debug logs
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Android BLE comments: TODO catch permission result
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
Due: none

debug file reformatted
  rust/libqaul/src/rpc/debug.rs
Due: run-rust-workflow

qaul ID bytes to string logging function
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

Fix Permission Issue
  android/blemodule/build.gradle
  android/blemodule/src/main/AndroidManifest.xml
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/pubspec.lock
  rust/libqaul/build_libqaul_android.sh
Due: run-flutter-workflow, run-rust-workflow

reinstating build script
  qaul_ui/android/gradle.properties
  utilities/scripts/run-android.sh
Due: run-flutter-workflow

fix: compilation issue with Flutter, accessing invalid package "badges"
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

Moved Kotlin BLEModule and Libqaul to Flutter Android project
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/.gitignore
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/proguard-rules.pro
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/ExampleInstrumentedTest.kt
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/core/BleWrapperClassTest.kt
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/AppLog.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/DateTimeHelper.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/RemoteLog.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/callback/BleRequestCallback.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/proto/ble.proto
  qaul_ui/android/blemodule/src/test/java/net/qaul/ble/ExampleUnitTest.kt
  qaul_ui/android/gradle.properties
  qaul_ui/android/libqaul/.gitignore
  qaul_ui/android/libqaul/build.gradle
  qaul_ui/android/libqaul/consumer-rules.pro
  qaul_ui/android/libqaul/proguard-rules.pro
  qaul_ui/android/libqaul/src/androidTest/java/net/qaul/libqaul/ExampleInstrumentedTest.kt
  qaul_ui/android/libqaul/src/main/AndroidManifest.xml
  qaul_ui/android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/libqaul/src/test/java/net/qaul/libqaul/ExampleUnitTest.kt
  qaul_ui/android/settings.gradle
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  utilities/scripts/run-android.sh
Due: run-flutter-workflow

I have read the CLA Document and I hereby sign the CLA
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

run android without building rust libqaul
  utilities/scripts/run-android.sh
Due: none

BLE: added log entries
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-flutter-workflow, run-rust-workflow

fixed linux android build
  qaul_ui/android/gradle.properties
  rust/libqaul/build_libqaul_android.sh
  utilities/scripts/run-android.sh
Due: run-flutter-workflow, run-rust-workflow

Fix BLE Connection
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

BLE routing table fix
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/connections.rs
Due: run-rust-workflow

Bug Fixes
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix: Get Node ID, on BLE message arrival from global node list
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Fixed BLE node identification messages (workaround)
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow
