Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

test(server): #541 run correctness tests for diff topologies
  tests/integration/lib/topology.py
  tests/integration/results/.gitkeep
  tests/integration/run_topologies.py
Due: none

chore: update flutter analyze ci pipeline with new widgetbook path
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/analyze-flutter.yml
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
Due: run-flutter-workflow

improve: feed pagination returns most recent content first
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

feat: feed pagination
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

feat: merge auto generated files
  protobuf/build_scripts/build_dart.sh
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_rpc.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/test/feed_message_store_test.dart
Due: run-flutter-workflow

Future-based RPC adapter (#802)
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

refactor: qaul_ui - migrate user system the future-based rpc implementation
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/providers/providers.dart
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/network_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/dtn_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/feed_message_store_test.dart
  qaul_ui/test/users_store_test.dart
  qaul_ui/test/users_tab_test.dart
Due: run-flutter-workflow

feat(rust): use EWMA for RTT smoothing in neighbour tracking
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

feat(chat): implement QaulChatBubble
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_chat_bubble.dart
Due: run-flutter-workflow

fix: return request_id on users module responses
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix: poll-based online user state tracking
  qaul_ui/lib/main.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

feat(chat): enhance bubble with timestamp received at + send at
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_chat_bubble.dart
Due: run-flutter-workflow

doc(protobuf): added comments to ble.proto file.
  protobuf/generated/rust/qaul.sys.ble.rs
  protobuf/proto_definitions/connections/ble/ble.proto
  qaul_ui/android/blemodule/src/main/proto/ble.proto
Due: run-flutter-workflow

chore: protobuf build files path clean up
  protobuf/build_scripts/build_cpp.sh
  protobuf/build_scripts/build_dart.sh
  protobuf/build_scripts/build_java_kotlin.sh
  protobuf/build_scripts/build_swift.sh
Due: none

fix: fixed dart protobuf build script
  protobuf/build_scripts/build_dart.sh
Due: none

feat(gatt): created more logging conversion utilities.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
Due: run-flutter-workflow

fix: Ble connection unstable and drop connection to send multiple messages
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
Due: run-flutter-workflow

feat(gatt): created new GATT messaging protocol
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
Due: run-flutter-workflow

fix(tests): #541 added print statements
  tests/integration/lib/node.py
  tests/integration/run.py
  tests/integration/test_user_discovery.py
Due: none

chore: #541 added message routing to test list
  tests/integration/run.py
Due: none

test: #541 updated testing plan to use json
  docs/proposals/testing-framework-plan.md
Due: none

test(qauld): added network toplogy files
  tests/integration/topologies/grid4-3x3.json
  tests/integration/topologies/grid4-5x5.json
  tests/integration/topologies/line-10.json
  tests/integration/topologies/line-5.json
Due: none

test: updated to use local node
  tests/integration/test_user_discovery.py
Due: none

feat(server): #541 added json flag for outpus
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

test(app): #541 user and node discovery
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_node_startup.py
  tests/integration/test_user_discovery.py
Due: none

feat(server): #541 added json printing to other commands
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

test(app): #541 added message routing tests
  tests/integration/test_message_routing.py
Due: none

fix(shared): #541 routed request_id for users commands
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

test(server): #541 set permission socket
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

fix: updated node discovery intervals
  .gitignore
  rust/clients/qauld-ctl/src/main.rs
  tests/integration/test_user_discovery.py
Due: run-rust-workflow

test(shared): #541 updated file permisssions
  tests/integration/run.py
Due: none

feat(shared): #541 added router subcommands to enable tests
  docs/research/testing-framework.md
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

chore(app): added improvments
  .gitignore
Due: none

test(server): #541 updated test suites
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_user_discovery.py
Due: none
