Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

feat(app): #880 prepped v2 for sending messages
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/forwarding.rs
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/state/neighbours.rs
  rust/libqaul/src/router_v2/tests/forwarding.rs
  rust/libqaul/src/router_v2/tests/mod.rs
  rust/libqaul/src/router_v2/tests/neighbour_transport.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/qaul-sim/src/scenarios.rs
Due: run-rust-workflow

feat(app): #880 profile handling and forwarding for mgmt protocol
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/management/forwarding.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/management/profile.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/receive/manifest_apply.rs
  rust/libqaul/src/router_v2/tests/management.rs
  rust/qaul-proto/src/lib.rs
Due: run-rust-workflow

feat(app): #800 added the liveness limit
  rust/libqaul/src/router_v2/init.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/state/origin_manifest.rs
  rust/libqaul/src/router_v2/tests/delegation.rs
Due: run-rust-workflow

feat(app): #880 handling and sending delegations
  protobuf/generated/rust/qaul.net.router_management.rs
  protobuf/proto_definitions/router/router_management.proto
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/delegation.rs
  rust/libqaul/src/router_v2/init.rs
  rust/libqaul/src/router_v2/management/delegation.rs
  rust/libqaul/src/router_v2/management/forwarding.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/management/profile.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/receive/manifest_apply.rs
  rust/libqaul/src/router_v2/state/origin_manifest.rs
  rust/libqaul/src/router_v2/tests/delegation.rs
  rust/libqaul/src/router_v2/tests/mod.rs
Due: run-rust-workflow

#880: fixed gateway roles
  rust/libqaul/src/router_v2/init.rs
  rust/libqaul/src/router_v2/management/delegation.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/state/neighbours.rs
  rust/libqaul/src/router_v2/state/origin_manifest.rs
  rust/libqaul/src/router_v2/tests/delegation.rs
  rust/libqaul/src/router_v2/tests/gateway_role.rs
  rust/libqaul/src/router_v2/tests/mod.rs
Due: run-rust-workflow

fix(app): #880 fixed routing updates
  docs/protocols/Qaul-Routing-Protocol.md
  rust/libqaul/src/router_v2/management/forwarding.rs
  rust/libqaul/src/router_v2/receive/routing_update.rs
  rust/libqaul/src/router_v2/receive/translate.rs
  rust/libqaul/src/router_v2/state/lookup.rs
  rust/libqaul/src/router_v2/tests/mod.rs
  rust/libqaul/src/router_v2/tests/self_entry_rejection.rs
Due: run-rust-workflow

feat(app): #880 chunk INDEX_DUMP
  docs/protocols/Qaul-Routing-Protocol.md
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive/translate.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/tests/handle_index_dump.rs
  rust/libqaul/src/router_v2/tests/mapping_sphere.rs
  rust/libqaul/src/router_v2/tests/mod.rs
  rust/libqaul/src/router_v2/tests/profile_version.rs
  rust/libqaul/src/router_v2/tests/received.rs
Due: run-rust-workflow

feat(app): #880 fixed sphere issues
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router_v2/management/profile.rs
  rust/libqaul/src/router_v2/receive/translate.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/state/lookup.rs
  rust/libqaul/src/router_v2/tests/profile_version.rs
Due: run-rust-workflow

fix(app): #880 hosted users should send message to each other
  rust/Cargo.lock
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router_v2/forwarding.rs
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/state/lookup.rs
  rust/libqaul/src/router_v2/tests/forwarding.rs
  rust/libqaul/src/router_v2/tests/self_entry_rejection.rs
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat(app): #880 added management protocol handling
  docs/proposals/phase12-profile-fetch-spec.md
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive/mod.rs
  rust/libqaul/src/router_v2/tests/management.rs
  rust/libqaul/src/router_v2/tests/mod.rs
  rust/libqaul/src/router_v2/tests/next_hop.rs
Due: run-rust-workflow

fix(app): #880 gateway answers profile for user it carries
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router_v2/management/profile.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/tests/management.rs
Due: run-rust-workflow

feat(app): #880 make the client surface work under v2
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router_v2/state/mod.rs
  rust/libqaul/src/router_v2/state/v1_bridge.rs
  rust/libqaul/src/router_v2/tests/mod.rs
  rust/libqaul/src/router_v2/tests/v1_bridge.rs
Due: run-rust-workflow

fix(app): #880 fixed formatting result
  rust/clients/qauld-ctl/src/commands/router.rs
Due: run-rust-workflow

fix: #880 propagting node tables
  rust/libqaul/src/router_v2/propagation.rs
  tests/integration/convergence.sh
Due: run-rust-workflow

fix(app): #880 fixed profile managment
  rust/libqaul/src/router_v2/management/profile.rs
Due: run-rust-workflow

fix(app): #880 persist node and user identity across restarts
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

fix(app): #880 detect silent neighbour after ping failure
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
Due: run-rust-workflow

docs(app): #880 removed working files
  docs/proposals/v1-to-v2-cutover.md
  docs/proposals/v2-router-audit-handoff.md
Due: none

fix: #880 reintroducec idx when a node turns to gateway
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive/manifest_apply.rs
  rust/libqaul/src/router_v2/state/lookup.rs
  rust/libqaul/src/router_v2/state/v2_inspect.rs
  rust/libqaul/src/router_v2/tests/handle_node_manifest.rs
  rust/libqaul/src/router_v2/tests/mapping_sphere.rs
Due: run-rust-workflow

feat: #880 added delegation and manifest views to qauld-ctl
  protobuf/generated/rust/qaul.rpc.router.rs
  protobuf/proto_definitions/router/router.proto
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router_v2/state/v2_inspect.rs
  rust/qaul-proto/build.rs
  tests/integration/convergence.sh
Due: run-rust-workflow

feat: #880 added inspector views for v2 routing
  protobuf/generated/rust/qaul.rpc.router.rs
  protobuf/proto_definitions/router/router.proto
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/state/mod.rs
  rust/libqaul/src/router_v2/state/neighbours.rs
  rust/libqaul/src/router_v2/state/v1_bridge.rs
  rust/libqaul/src/router_v2/state/v2_inspect.rs
Due: run-rust-workflow

fix(app): #880 fixed spheres routing
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/tests/mapping_sphere.rs
Due: run-rust-workflow

fix(server): #880 fixed sending mgmt msgs past the first hop
  docs/protocols/Qaul-Routing-Protocol.md
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/delegation.rs
  rust/libqaul/src/router_v2/management/forwarding.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/tests/delegation.rs
  rust/libqaul/src/router_v2/tests/management.rs
Due: run-rust-workflow

fix: #880 mgmt protocol timeout
  docs/protocols/Qaul-Routing-Protocol.md
  protobuf/generated/rust/qaul.net.router_management.rs
  protobuf/proto_definitions/router/router_management.proto
  rust/libqaul/src/router_v2/delegation.rs
  rust/libqaul/src/router_v2/management/delegation.rs
  rust/libqaul/src/router_v2/management/forwarding.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/management/profile.rs
  rust/libqaul/src/router_v2/state/origin_manifest.rs
  rust/libqaul/src/router_v2/tests/delegation.rs
  rust/libqaul/src/router_v2/tests/management.rs
  rust/libqaul/src/router_v2/tests/self_delegation.rs
  rust/libqaul/src/storage/configuration.rs
  tests/integration/convergence.sh
Due: run-rust-workflow

fix(app): #880 issue profile fetches that nver resolved again
  rust/libqaul/src/router_v2/init.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/receive/manifest_apply.rs
  rust/libqaul/src/router_v2/tests/management.rs
Due: run-rust-workflow

feat(app): #880 timestamps, routing options and unsanwered profile
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router_v2/init.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/receive/manifest_apply.rs
  rust/libqaul/src/router_v2/tests/management.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/benches/bench.rs
  rust/qaul-sim/src/metrics.rs
  rust/qaul-sim/src/scenarios.rs
  rust/qaul-sim/src/simulator.rs
Due: run-rust-workflow

feat(chat): add message info panel
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/message_info.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(app): #880 originate own entry instead waiting for the origin tick
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/tests/management.rs
  rust/libqaul/src/router_v2/tests/mapping_sphere.rs
  rust/libqaul/src/router_v2/tests/on_neighbour_connect.rs
  tests/integration/convergence.sh
Due: run-rust-workflow

style(chat): match message info panel
  qaul_ui/lib/screens/home/tabs/chat/widgets/message_info.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(chat): show message info full screen
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/message_info.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(chat): display message info as bottom panel
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/message_info.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(chat): respect theme in message info
  qaul_ui/lib/screens/home/tabs/chat/widgets/message_info.dart
Due: run-flutter-workflow

test(app): #880 fixed convergence harness
  tests/integration/convergence.sh
  tests/integration/sweep.sh
Due: none

feat(chat): enlarge emoji-only messages
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
Due: run-flutter-workflow

feat(ble protocol): Link.rs implemented, one per peer which holds the protocol logic for that peers send/recv queues.
  rust/ble_protocol/src/lib.rs
  rust/ble_protocol/src/link.rs
  rust/ble_protocol/src/queue/recv.rs
  rust/ble_protocol/src/queue/send_queue.rs
Due: run-rust-workflow

fix(app): #880 added gateway cli flag
  rust/ble_module/src/ble/ble_service.rs
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/lib.rs
  tests/integration/churn.sh
Due: run-rust-workflow

fix(app): #880 removed internet peers flag
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/receive/routing_update.rs
  rust/libqaul/src/router_v2/tests/apply_entry.rs
Due: run-rust-workflow

fix(app): #880 advance the manifest entry on a hosted profile change
  rust/libqaul/src/router_v2/management/profile.rs
  rust/libqaul/src/router_v2/state/origin_manifest.rs
  rust/libqaul/src/router_v2/tests/profile_version.rs
Due: run-rust-workflow

fix(chat): reset list when switching rooms
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow
