Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

ci: add super-linter workflow on Github Actions
  .github/workflows/linter.yml
  docs/README.md
Due: none

ci: reinstate running on push
  .github/workflows/linter.yml
Due: none

docs: update CircleCI docs
  docs/qaul/tooling/circleci.md
Due: none

ci: update Flutter tag filtering logic to remove build number
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/verify-version-flutter.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: remove redundant release templates
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/flutter-release-template.md
  utilities/release-templates/release-template.md
  utilities/release-templates/rust-release-template.md
Due: none

ci: remove -rust suffix as a requirement for Rust releases
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-macos.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  circleci_config/config-continuation/jobs/verify-version-rust.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

fix: fix offset logic from RPC to prevent duplicated items from being fetched and improve async logic
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

feat: listen for RightsRequest to trigger permission request on Android
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
Due: run-flutter-workflow

fix: [Flutter] compilation errors
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

feat: [Flutter] add BLE permission requests on libqaul worker initialization
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

chore: [Flutter] update gradle version
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
Due: run-flutter-workflow

BLE end of workday commit
  android/libqaul/build.gradle
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

ci: have Flutter app names be added in the release Description in the Rust step
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/release-template.md
Due: none

etc: fix natural language linting errors
  utilities/release-templates/release-template.md
Due: none

ci: remove build number from installer names (.exe, .dmg, .snap)
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/installers/linux/snapbuild
  utilities/installers/macos/bin/dmgbuild
  utilities/installers/windows/bin/build_windows_installer
Due: none

ci: update deb files to have a - in place of ~
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

Add Libqaul & Blemodule(android) interface module.
  android/blemodule/build.gradle
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  rust/libqaul/src/api/android.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

only include used features of libp2p
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

Fixed code for building
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/build.gradle
Due: none

Upgraded Java-Version to 11 for Gradle
  android/app/build.gradle
  android/blemodule/build.gradle
  android/libqaul/build.gradle
Due: none

feat: reduce Chat refresh schedule to be run every 300ms
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

feat: instead of receiving 1 every 100ms, receive until queue is not empty every 100ms
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

ci: remore super linter action
  .github/workflows/linter.yml
Due: none

feat: have public messages be selectable by default
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

refactor: wrap screens that overlay the Home tab with ResponsiveScaffold to center content on wide screens
  qaul_ui/lib/screens/about_screen.dart
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/screens/support_screen.dart
  qaul_ui/lib/widgets/responsive_scaffold.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

Fix compilation issue for flutter app
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

Added Russian Language Support
  qaul_ui/lib/l10n/app_ru.arb
Due: run-flutter-workflow

feat: scale entire content based on fixed width constraint
  qaul_ui/lib/widgets/settings_section.dart
Due: run-flutter-workflow

fix: apply maxLines to labels so they don't overflow on small screens
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow
