Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Documentation: added group invited CLI documentation
  rust/clients/cli/README.md
Due: run-rust-workflow

fixed warnings
  rust/clients/cli/src/group.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
Due: run-rust-workflow

update chat service
  rust/clients/cli/src/chat.rs
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/crypto.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/group_net.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

refactor: when on desktop, openChat from outside of ChatTab now routes the user to said tab and opens chat screen there
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/current_open_chat_notifier.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
Due: run-flutter-workflow

fix: change place where currentOpenChatRoom provider is updated to when setOpenChat is called in ChatTab
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix: try another approach on fixing the issue by making use of didUpdateWidget method from State super-class
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

q8id new 8 Byte representation of the qaul user ID
  rust/clients/cli/Cargo.toml
  rust/clients/cli/src/users.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

updated all protobuf files
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  rust/libqaul/src/connections/ble/qaul.sys.ble.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/qaul.rpc.router.rs
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.h
  rust/libqaul/src/rpc/protobuf_generated/dart/router/users.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/router/users.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/users/UsersOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/UserEntryKt.kt
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.router.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.sys.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/router/users.pb.swift
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
Due: run-flutter-workflow, run-rust-workflow

added new q8id based group UUID
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/conversation_id.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

refactor: integrate new RPC structs with qaul_rpc package
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/router_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

refactor: qaul_rpc package updates with Frontend chat API
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/network_node_test.dart
Due: run-flutter-workflow

refactor: have routing to UserDetailsScreen be a part of UserListTile by default
  qaul_ui/lib/screens/home/tabs/feed_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/widgets/user_list_tile.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

refactor: cleanup pubspec, remove unused dependencies, organize deps alphabetically and remove no longer needed dependency_override
  qaul_ui/Makefile
  qaul_ui/bin/check_unused_deps.py
  qaul_ui/bin/sort_pubspec_deps.py
  qaul_ui/linux/flutter/generated_plugin_registrant.cc
  qaul_ui/linux/flutter/generated_plugins.cmake
  qaul_ui/macos/Flutter/GeneratedPluginRegistrant.swift
  qaul_ui/macos/Podfile.lock
  qaul_ui/pubspec.yaml
  qaul_ui/windows/flutter/generated_plugin_registrant.cc
  qaul_ui/windows/flutter/generated_plugins.cmake
Due: run-flutter-workflow

feat: add dragging to change the root bubble position
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/macos/Podfile.lock
Due: run-flutter-workflow

feat: add RopeJoint between root bubble and center of viewport
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
Due: run-flutter-workflow

etc: upgrade flutter dependencies
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/linux/flutter/generated_plugin_registrant.cc
  qaul_ui/linux/flutter/generated_plugins.cmake
  qaul_ui/macos/Flutter/GeneratedPluginRegistrant.swift
  qaul_ui/macos/Podfile.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/windows/flutter/generated_plugin_registrant.cc
  qaul_ui/windows/flutter/generated_plugins.cmake
Due: run-flutter-workflow

chore: fix linting errors
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/decorators/cron_task_decorator.dart
  qaul_ui/lib/helpers/navigation_helper.dart
  qaul_ui/lib/providers/notification_controller/notification_controller.dart
  qaul_ui/lib/providers/providers.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/lib/screens/home/tabs/feed_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/screens/support_screen.dart
  qaul_ui/lib/widgets/user_avatar.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: bump Flutter version to 3.0.5
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  qaul_ui/packages/local_notifications/pubspec.lock
Due: run-flutter-workflow

chore: add ignore_for_file statements on internal packages
  qaul_ui/packages/local_notifications/lib/src/local_notifications.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix rtc
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

updating RTC
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.rtc.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/qaul.net.rtc.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/services/rtc/rtc_net.proto
Due: run-rust-workflow

update file chunk size
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

ci: fraction rust CD pipelines into individual workflows, one per platform
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-windows.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust.yml
Due: none

ci: enable option to trigger individual platform CD pipelines
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-windows.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: update verify-version-rust.yml logic
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/verify-version-rust.yml
Due: none

docs: add new specifications to documentation
  docs/qaul/tooling/circleci.md
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
