Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

chore: missing localizatinos
  qaul_ui/lib/l10n/app_localizations_de.dart
  qaul_ui/lib/l10n/app_localizations_id.dart
Due: run-flutter-workflow

chore: fix analyze
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

fix: adjust test
  qaul_ui/lib/decorators/search_user_decorator.dart
Due: run-flutter-workflow

feat(crypto): Phase 3 (cont.) — rotation event surface
  protobuf/generated/rust/qaul.rpc.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_rpc.proto
  rust/clients/cli/src/crypto.rs
  rust/libqaul/src/services/crypto/events.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

feat(crypto): Phase 3 — CryptoRotation config RPC + CLI
  protobuf/generated/rust/qaul.rpc.crypto.rs
  protobuf/generated/rust/qaul.rpc.rs
  protobuf/proto_definitions/rpc/qaul_rpc.proto
  protobuf/proto_definitions/services/crypto/crypto_rpc.proto
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/crypto.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/src/lib.rs
Due: run-rust-workflow

feat(crypto): Phase 4a — manual rotate RPC + qauld-ctl crypto subcommand
  protobuf/generated/rust/qaul.rpc.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_rpc.proto
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/crypto.rs
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/crypto.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/crypto/events.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

test(crypto): Phase 4 — grace-window expiry
  tests/integration/test_crypto_rotation_grace.py
Due: none

test(crypto): Phase 4 — clean-rotation-under-load integration test
  tests/integration/lib/node.py
  tests/integration/test_crypto_rotation_clean.py
Due: none

test(crypto): Phase 4 — rotation across qauld restart
  tests/integration/test_crypto_rotation_restart.py
Due: none

test(crypto): Phase 4 — rotation during offline peer
  tests/integration/test_crypto_rotation_offline.py
  tests/integration/topologies/line-5-isolated4.json
Due: none

test(crypto): Phase 4 — simultaneous rotation by both peers
  tests/integration/test_crypto_rotation_simultaneous.py
Due: none

feat(crypto): Phase 5 — capability-gated rollout
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/proto_definitions/router/router_net_info.proto
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

docs(crypto): concept document for Noise KK session rotation
  docs/protocols/Noise-Session-Rotation.md
Due: none

fix: adjust tail edges properly
  qaul_ui/lib/l10n/app_localizations_id.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_timeline_expansion.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
Due: run-flutter-workflow

fix(profile): version is uint32 to match the new routing protocol
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/generated/rust/qaul.rpc.user_accounts.rs
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/node/user_accounts.proto
  protobuf/proto_definitions/router/router_net_info.proto
  protobuf/proto_definitions/router/users.proto
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

feat(qauld-ctl): add account update (signed profile)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

fix(profile): sync rename to account label, wipe custody sentinel, surface extended fields in qauld-ctl
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

feat(qaul): encoded user info / signed profile + preferred custody route
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/generated/rust/qaul.rpc.user_accounts.rs
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/node/user_accounts.proto
  protobuf/proto_definitions/router/router_net_info.proto
  protobuf/proto_definitions/router/users.proto
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

feat(qauld-ctl): add DTN V2 commands (custody enable/disable, send-routed)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
Due: run-rust-workflow

feat(qaul): DTN V2 custody routing on instance-based main
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/network_emul.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/libqaul/tests/dtn_routed_v2.rs
  rust/qaul-proto/build.rs
Due: run-rust-workflow

docs(qauld-ctl): add README
  rust/clients/qauld-ctl/README.md
Due: run-rust-workflow

fix(qauld-tui): populate user_id when sending a feed message
  rust/clients/qauld-tui/src/app.rs
  rust/clients/qauld-tui/src/data.rs
  rust/clients/qauld-tui/src/main.rs
Due: run-rust-workflow

feat(qauld-ctl): completions + supervised run (Phase 4)
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/supervise.rs
Due: run-rust-workflow

feat(qauld-tui): initial terminal UI (Phase 5)
  rust/Cargo.toml
  rust/clients/qauld-tui/Cargo.toml
  rust/clients/qauld-tui/src/app.rs
  rust/clients/qauld-tui/src/data.rs
  rust/clients/qauld-tui/src/main.rs
  rust/clients/qauld-tui/src/ui.rs
Due: run-rust-workflow

docs(qauld-ctl): refresh README for consolidated feature set
  rust/clients/qauld-ctl/README.md
Due: run-rust-workflow

refactor(qauld-ctl): extract qauld-rpc shared crate
  rust/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/subscribe/mod.rs
  rust/clients/qauld-ctl/src/transport/embedded.rs
  rust/clients/qauld-ctl/src/transport/mod.rs
  rust/clients/qauld-ctl/src/transport/socket.rs
  rust/qauld-rpc/Cargo.toml
  rust/qauld-rpc/src/lib.rs
  rust/qauld-rpc/src/transport.rs
Due: run-rust-workflow

feat(qauld-ctl): RpcTransport trait + embedded mode (Phase 3)
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/transport/embedded.rs
  rust/clients/qauld-ctl/src/transport/mod.rs
  rust/clients/qauld-ctl/src/transport/socket.rs
Due: run-rust-workflow

feat(qauld-ctl): script-hardening pass (banner, timeout, exit codes, stderr)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/connections.rs
  rust/clients/qauld-ctl/src/commands/debug.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/subscribe/mod.rs
Due: run-rust-workflow

feat(qauld-ctl): port BLE, RTC, Auth subcommands (Phase 2)
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/authentication.rs
  rust/clients/qauld-ctl/src/commands/ble.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/rtc.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(qauld-ctl): apply Phase 0 hardening to transports command
  rust/clients/qauld-ctl/src/commands/transports.rs
Due: run-rust-workflow

feat(qauld-ctl): fold qauld-tui in as the 'tui' subcommand
  rust/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/TESTING-TUI.md
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/tui/app.rs
  rust/clients/qauld-ctl/src/tui/data.rs
  rust/clients/qauld-ctl/src/tui/mod.rs
  rust/clients/qauld-ctl/src/tui/ui.rs
  rust/clients/qauld-tui/Cargo.toml
Due: run-rust-workflow

test(qauld-tui): regression test for empty-user_id feed send
  rust/clients/qauld-tui/src/data.rs
Due: run-rust-workflow

fix(tui): UserRow.profile_version is u32 after main's uint32 switch
  rust/clients/qauld-ctl/src/tui/app.rs
Due: run-rust-workflow

feat: enhance duplicate username handling with disambiguated display names
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_timeline_expansion.dart
Due: run-flutter-workflow

refactor: reorganize chat component exports and clean up imports
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
Due: run-flutter-workflow

docs(crypto): propose receiver-confirmation rotation grace
  docs/protocols/Noise-Session-Rotation.md
Due: none

docs(crypto): proposal for queuing encrypted messages during KK msg 1
  docs/proposals/Handshake-Extras-During-Session-Creation.md
Due: none

feat(crypto): wire format and CryptoState fields for handshake extras
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
