Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

feat: reinstating analyzer rule for checking deprecated members
  qaul_ui/analysis_options.yaml
Due: run-flutter-workflow

chore: bump flame_forge2d to the next minor, which moves the library to using the new `CameraComponent`
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

refactor: fixing other "deprecated members" warnings
  qaul_ui/lib/helpers/navigation_helper.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/home/tabs/network_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/support_screen.dart
Due: run-flutter-workflow

fix: block user dialog
  qaul_ui/lib/screens/home/user_details_screen.dart
Due: run-flutter-workflow

feat: update node creation dialog
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/qaul_table.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
Due: run-flutter-workflow

ci: test sbom pipeline nº6
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

ci: test sbom pipeline nº5
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

ci: test sbom pipeline nº2
  .circleci/config.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: test sbom pipeline nº3
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

ci: test sbom pipeline nº4
  circleci_config/config-continuation/workflows/generate-sbom.yml
Due: none

feat: update generated continue-config.yml
  .circleci/continue-config.yml
Due: none

feat: sbom generation script, update qaul_ui/android so that it can use cyclonedx for sbom generation
  .syft/config.yaml
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/ExampleInstrumentedTest.kt
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/core/BleWrapperClassTest.kt
  qaul_ui/android/blemodule/src/test/java/net/qaul/ble/ExampleUnitTest.kt
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.jar.old
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
  qaul_ui/android/gradlew.bat.old
  qaul_ui/android/gradlew.old
  qaul_ui/android/init.gradle
  qaul_ui/android/libqaul/build.gradle
  qaul_ui/android/libqaul/src/androidTest/java/net/qaul/libqaul/ExampleInstrumentedTest.kt
  qaul_ui/android/libqaul/src/test/java/net/qaul/libqaul/ExampleUnitTest.kt
  rust/.gitignore
  utilities/scripts/build-sbom.sh
Due: run-flutter-workflow, run-rust-workflow

ci: create job to generate sbom
  .circleci/config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/generate-sbom.yaml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-windows.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-windows.yml
  circleci_config/config-continuation/workflows/generate-sbom.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

refactor: fixing "deprecated members" warnings pertaining to the network view
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
Due: run-flutter-workflow

feat: make quic option selected by default on add node dialog
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

fix: fix inconsistency in "all connections tab"
  qaul_ui/lib/screens/home/dynamic_network/models/network_node.dart
  qaul_ui/test/network_node_test.dart
Due: run-flutter-workflow

fix: remove duplicates in "all connections" tab
  qaul_ui/lib/screens/home/dynamic_network/models/network_node.dart
  qaul_ui/test/network_node_test.dart
Due: run-flutter-workflow

qaul 2.0.0 beta 18 - upgrade to new sled data base version - use QUIC protocol as default transport for static connections - upgrade to current library versions
  .gitignore
  CHANGELOG.md
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_18/mod.rs
Due: run-rust-workflow

sled: remove sled_extension, save bincode directly
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/storage/database.rs
Due: run-rust-workflow

feat: Audio message recorder and player functionality implemented
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: update macos configuration to allow for the sending of audio messages
  qaul_ui/macos/Podfile
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/macos/Runner/DebugProfile.entitlements
  qaul_ui/macos/Runner/Info.plist
  qaul_ui/macos/Runner/Release.entitlements
Due: run-flutter-workflow

feat: improve ux by isolating the audio sending into a separate dialog
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/utils.dart
Due: run-flutter-workflow

Feat: Enable audio-chat feature for Linux.
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

Fix : Fixed attachment, images, and audio message url for Windows.
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

refactor: simplify code, allow macos audio messages
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
Due: run-flutter-workflow

refactor: update audio message widget ui
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

chore: update android configuration to allow for the sending of audio messages
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

chore: update ios configuration to allow for the sending of audio messages
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner/Info.plist
Due: run-flutter-workflow

Feat: Enable audio-chat feature for windows .
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

corrected & updated windows build instructions - `Visual Studio 2022` is now required due to the required CMAKE version. - the flutter build path to copy `libqaul.dll` was corrected
  docs/qaul/flutter/windows.md
Due: none

updated changelog for beta 18
  CHANGELOG.md
Due: none

ci: fix root path in persist_to_workspace for "generate_sbom" job
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

chore: bump flutter app version
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow
