Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Debug: Add message listener
  .vscode/settings.json
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-flutter-workflow, run-rust-workflow

Fix: Flutter Ui to support linux ble
  .vscode/settings.json
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

Fix: Linux BLE message sender
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Debug: transfer adapter to async_std spawned task
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Fix: .vscode settings added
  .vscode/settings.json
Due: none

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

feat(linux-ble): send up results from main loop
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

refactor: Clean the ble_module and remove unused functions
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

Debug: connecting to other bluetooth qaul devices
  .gitignore
  .vscode/settings.json
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

refactor(linux-ble): run main loop on local task
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

Fix: WriteCharacterstic Api for version 33
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
Due: run-flutter-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

fix(ble): import generated protobuf from libqaul
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
Due: run-rust-workflow

style: remove unused UUID
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

Fix: linux ble send message flow
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-flutter-workflow, run-rust-workflow

Refactor the rust ble_module
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Fix: achieved stable connection: 1. Linux is able to detect other devices 2. Other devices can detect Linux BLE advertisements 3. Linux device is able to recieve messages from other qaul devices
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-flutter-workflow, run-rust-workflow

added ble_module to libqaul for linux
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

Debug: Spawn Rust Async thread
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.yaml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

migrate linux ble_module to tokio
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

Debug: spawn join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

made linux ble_module a libqaul feature
  rust/ble_module/src/ble/mod.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

Debug: Spawn linux BLE message sender
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-flutter-workflow, run-rust-workflow

BLE module: migrate to tokio
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

linux ble_module: upgraded to latest libraries
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

Feature/314 ble linux (#1)
  rust/Cargo.toml
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/mod.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

Updated the deprecated state::Storage
  rust/ble_module/src/rpc/mod.rs
Due: run-rust-workflow

Optimize sender and reciever flow
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

created a library out of the ble_module
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

feat: Added Stop and ble powered on check
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

chore: optimized device discovery
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

Removed unused SYS channels
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

Fix: spawn async task for join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

refactor(linux-ble): remove main.rs and pass callback to init
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
Due: run-rust-workflow

refactor(ble_module): run in tokio runtime
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

remove RTC modules dead_code warnings
  rust/libqaul/src/services/mod.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
