Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

prevent actions for direct chat room
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/services/group/member.rs
Due: run-rust-workflow

optimize
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
Due: run-rust-workflow

added code formatting behaviour for vscode
  .vscode/settings.json
Due: none

Add group RPC protos
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
Due: run-rust-workflow

implement save event function
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/manage.rs
Due: run-rust-workflow

q8id new 8 Byte representation of the qaul user ID
  rust/clients/cli/Cargo.toml
  rust/clients/cli/src/users.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

updated all protobuf files
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  rust/libqaul/src/connections/ble/qaul.sys.ble.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/qaul.rpc.router.rs
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/users/UsersOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/UserEntryKt.kt
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.router.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.sys.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/router/users.pb.swift
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
Due: run-flutter-workflow, run-rust-workflow

added new q8id based group UUID
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/conversation_id.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

refactor: integrate new RPC structs with qaul_rpc package
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/router_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

refactor: qaul_rpc package updates with Frontend chat API
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/pubspec.lock
  qaul_ui/test/network_node_test.dart
Due: run-flutter-workflow

fix rtc
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

updating RTC
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.rtc.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/qaul.net.rtc.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/services/rtc/rtc_net.proto
Due: run-rust-workflow

update file chunk size
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

fix: [Flutter] single chat with an unknown person error
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
Due: run-flutter-workflow

feat: [Flutter] re-integrate group module messages with qaul_rpc and UI
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/widgets/group_list_tile.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

feat: (WIP) start group settings page
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

updated crypto to sha-2 0.10.2 library
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/messaging/messaging.proto
Due: run-rust-workflow

implement retransmit service
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

optimize & format
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

restructure group & chat services
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

protobuf files for refactoring
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chatfile_net.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbserver.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbserver.dart
Due: run-flutter-workflow, run-rust-workflow

chore: [Flutter] fix errors from rebase process
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/widgets/group_list_tile.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/pubspec.lock
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbserver.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbserver.dart
Due: run-flutter-workflow, run-rust-workflow

qaul-cli: chatfile history: allow offset and limit to be optional
  rust/clients/cli/README.md
  rust/clients/cli/src/chatfile.rs
Due: run-rust-workflow

Fix warnings, restructure messaging & chatfile code
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/crypto.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

chatfile data base & restructuring
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/storage/mod.rs
Due: run-rust-workflow

updated protobuf messages for all languages
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chatfile_net.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chatfile_rpc.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/chat/ChatOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/swift/services/chat/chat.pb.swift
Due: run-flutter-workflow, run-rust-workflow

refactor: qaul_rpc package updates with Frontend chat API
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

implement retransmit service
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

optimize & format
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

implement DTN service
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

add more flags in unconfirmed table
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

add more flags
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

update DTN module
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retrans.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

implement DTN & make tests
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/dtn.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.dtn.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul_rpc.proto
  rust/libqaul/src/services/dtn/dtn_rpc.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/dtn/qaul.rpc.dtn.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

implement DTN cli
  rust/clients/cli/src/dtn.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.dtn.rs
  rust/libqaul/src/services/dtn/dtn_rpc.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/dtn/qaul.rpc.dtn.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

removed some warnings
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

upgraded libp2p to version 0.47.0
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

docs: add instructions to manually create MacOS dmg file
  .gitignore
  docs/qaul/flutter/macos.md
Due: none
