Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

refactor: (Flutter) use the correct version of compiled Rust library on Android build
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  docs/qaul.net-manual/android.md
  qaul_ui/android/.gitignore
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

refactor: (Flutter) use release version of compiled Rust library on Windows build
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  utilities/installers/windows/bin/build_windows_installer
Due: run-flutter-workflow

feat: (Rust) add cross-compilation support for MacOS
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  rust/libqaul/build_libqaul_macos.sh
Due: run-rust-workflow

ci: change tag regexes
  .circleci/config.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

Documentation: MacOS: build universal library Build libqaul dynamic library for M1 & x86_64 targets
  docs/qaul.net-manual/macos.md
  qaul_ui/macos/Flutter/GeneratedPluginRegistrant.swift
  qaul_ui/macos/Podfile.lock
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

fix: (Rust) include rustup add step on macos build script
  rust/libqaul/build_libqaul_macos.sh
Due: run-rust-workflow

added 'beta' to flutter version 2.0.0-beta
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

Migrate to new version
  .gitignore
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/filesharing/qaul.net.filesharing.rs
  rust/libqaul/src/services/filesharing/qaul.rpc.filesharing.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

Android: Blemodule: fixed compile issues between flutter app & blemodule
  android/blemodule/src/main/AndroidManifest.xml
  android/blemodule/src/main/res/drawable-v24/ic_launcher_foreground.xml
  android/blemodule/src/main/res/drawable/ic_launcher_background.xml
  android/blemodule/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  android/blemodule/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  android/blemodule/src/main/res/mipmap-hdpi/ic_launcher.webp
  android/blemodule/src/main/res/mipmap-hdpi/ic_launcher_round.webp
  android/blemodule/src/main/res/mipmap-mdpi/ic_launcher.webp
  android/blemodule/src/main/res/mipmap-mdpi/ic_launcher_round.webp
  android/blemodule/src/main/res/mipmap-xhdpi/ic_launcher.webp
  android/blemodule/src/main/res/mipmap-xhdpi/ic_launcher_round.webp
  android/blemodule/src/main/res/mipmap-xxhdpi/ic_launcher.webp
  android/blemodule/src/main/res/mipmap-xxhdpi/ic_launcher_round.webp
  android/blemodule/src/main/res/mipmap-xxxhdpi/ic_launcher.webp
  android/blemodule/src/main/res/mipmap-xxxhdpi/ic_launcher_round.webp
  android/blemodule/src/main/res/values/colors.xml
  android/blemodule/src/main/res/values/strings.xml
  android/blemodule/src/main/res/values/themes.xml
  docs/qaul.net-manual/android.md
  qaul_ui/android/Gemfile.lock
Due: run-flutter-workflow

ci: [Flutter] fix pathing to installer scripts on desktop CD pipelines, add recommended attribute to android manifest
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

etc: [Flutter] bump app version
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: [Flutter] update persisting path on iOS deploy job, bump app version to v2.0.0-beta+6
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: [Rust] include debug aar libraries on release, update link to ios header file on template
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  docs/rust-release-template.md
Due: none

feat: add integration_test support to flutter
  qaul_ui/integration_test/app_test.dart
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix android logging on libqaul
  qaul_ui/android/app/src/main/AndroidManifest.xml
  rust/libqaul/src/api/android.rs
  rust/libqaul/src/lib.rs
  utilities/scripts/run-android.sh
Due: run-flutter-workflow, run-rust-workflow

fix: [Flutter] concurrent access of Logs folder when creating/reading logs
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
Due: run-flutter-workflow

chore: [Flutter] remove deprecated android splash screen
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

2.0.0 beta build 7
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

android: removed nearby permissions, added release script
  qaul_ui/android/app/src/main/AndroidManifest.xml
  utilities/scripts/build-android-release.sh
Due: run-flutter-workflow

feat: initialize new user testing flow
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
  qaul_ui/Makefile
  qaul_ui/integration_test/app_test.dart
  qaul_ui/integration_test/new_user_flow_test.dart
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/splash_screen.dart
  qaul_ui/test_driver/integration_test.dart
Due: run-flutter-workflow

feat: add golden tests on new user flow
  qaul_ui/Makefile
  qaul_ui/integration_test/goldens/createAccountGolden.png
  qaul_ui/integration_test/goldens/homeScreenGolden.png
  qaul_ui/integration_test/new_user_flow_test.dart
  qaul_ui/packages/utils/lib/utils.dart
Due: run-flutter-workflow

fix: add script to fix function body in iOS Flutter file
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  qaul_ui/bin/replace_registrar_flutter_ios.py
  qaul_ui/test_driver/integration_test.dart
Due: run-flutter-workflow

fix: increase timeout threshold when creating account
  .circleci/continue-config.yml
  circleci_config/config-continuation/@config.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-macos.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
  qaul_ui/android/gradle.properties
  qaul_ui/integration_test/goldens/createAccountGolden-ios.png
  qaul_ui/integration_test/goldens/homeScreenGolden-ios.png
  qaul_ui/integration_test/new_user_flow_test.dart
  qaul_ui/integration_test/src/screenshot_comparator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/local_notifications/lib/src/local_notifications.dart
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

feat: add docsify support to the repo's documentation
  docs/.nojekyll
  docs/README.md
  docs/_coverpage.md
  docs/_media/favicon.ico
  docs/_media/icon.png
  docs/_media/qaul-net.png
  docs/_sidebar.md
  docs/index.html
  docs/qaul.net-manual/README.md
  docs/qaul/README.md
  docs/qaul/commit-guidelines.md
  docs/qaul/flutter/android.md
  docs/qaul/flutter/flutter-install.md
  docs/qaul/flutter/ios.md
  docs/qaul/flutter/linux.md
  docs/qaul/flutter/macos.md
  docs/qaul/flutter/raspberry.md
  docs/qaul/flutter/windows.md
  docs/qaul/glossary.md
  docs/qaul/rust/configuration.md
  docs/qaul/rust/connecting-nodes-statically.md
  docs/qaul/rust/qaulId.md
  docs/qaul/rust/rpc.md
  docs/qaul/rust/rust-build.md
  docs/qaul/rust/rust-install.md
  docs/qaul/rust/security.md
  docs/qaul/rust/testing.md
  docs/qaul/tooling/circleci-configuration.md
  docs/qaul/tooling/circleci.md
  docs/qaul/tooling/configure_lefthook.md
Due: none

ci: [Flutter] Fix Github release step
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix: increase timeout threshold when creating account
  .circleci/continue-config.yml
  circleci_config/config-continuation/@config.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-macos.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
  qaul_ui/android/gradle.properties
  qaul_ui/integration_test/goldens/createAccountGolden-ios.png
  qaul_ui/integration_test/goldens/homeScreenGolden-ios.png
  qaul_ui/integration_test/new_user_flow_test.dart
  qaul_ui/integration_test/src/screenshot_comparator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/local_notifications/lib/src/local_notifications.dart
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

fix: remove filter of users with open chat rooms on Users tab
  qaul_ui/lib/decorators/search_user_decorator.dart
Due: run-flutter-workflow

fix: allow submitting createAccount request thru Enter as well; attempt to fix timeout error
  qaul_ui/lib/screens/create_account_screen.dart
Due: run-flutter-workflow

fix: map internal message type's status to the qaul_rpc message status so that it's displayed to the user
  qaul_ui/lib/screens/chat/chat.dart
Due: run-flutter-workflow

feat: refactor chat tab to have custom layout when in tablets/desktop
  qaul_ui/lib/screens/chat/chat.dart
  qaul_ui/lib/screens/home/tabs/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/utils.dart
  qaul_ui/lib/widgets/responsive_layout.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow
