Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

ci: bump Flutter version to 3.7.0
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

fix: linting warnings pertaining to Flutter version 3.7.0
  qaul_ui/lib/decorators/empty_state_text_decorator.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_node_info_bottom_sheet.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/lib/screens/home/tabs/network_tab.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
  qaul_ui/lib/widgets/user_details_banner.dart
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

fix: prevent UI crash when loading locale on linux, which uses UTF8
  qaul_ui/lib/qaul_app.dart
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

chore: update to Flutter 3.7.0
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

run android without building rust libqaul
  utilities/scripts/run-android.sh
Due: none

docs(linux): add protoc to package requirements
  docs/qaul/flutter/linux.md
Due: none

docs(flutter-install): update to reflect flutter dir name change
  docs/qaul/flutter/flutter-install.md
Due: none

refactor(app_de): correct typos
  qaul_ui/lib/l10n/app_de.arb
Due: run-flutter-workflow

feat(app_it): WIP italian translation
  qaul_ui/lib/l10n/app_it.arb
Due: run-flutter-workflow

feat: improving the translation template containing string variables for the chat status
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/macos/Podfile.lock
Due: run-flutter-workflow

docs: add documentation on how to properly add translations
  docs/qaul/flutter/adding-a-new-translation.md
Due: none

translation: update pt translation to conform with new template
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_pt.arb
Due: run-flutter-workflow

changed all translations to new group event pattern
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_de.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_es.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
Due: run-flutter-workflow

hotfix: compilation error with translation string types
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/macos/Podfile
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
Due: run-flutter-workflow

Fix Permission Issue
  android/blemodule/build.gradle
  android/blemodule/src/main/AndroidManifest.xml
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/pubspec.lock
  rust/libqaul/build_libqaul_android.sh
Due: run-flutter-workflow, run-rust-workflow

I have read the CLA Document and I hereby sign the CLA
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

feature(italian): WIP translate to italian
  qaul_ui/lib/l10n/app_it.arb
Due: run-flutter-workflow

infra: add initial qauld Dockerfile
  utilities/qauld-docker/Dockerfile
Due: none

infra: add initial qauld docker-compose
  utilities/qauld-docker/docker-compose.yml
Due: none

docs: add documentation on how to run qauld from docker
  docs/_sidebar.md
  docs/qaul/infra/self-hosting-qauld.md
Due: none

Moved Kotlin BLEModule and Libqaul to Flutter Android project
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/.gitignore
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/proguard-rules.pro
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/ExampleInstrumentedTest.kt
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/core/BleWrapperClassTest.kt
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/AppLog.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/DateTimeHelper.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/RemoteLog.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/callback/BleRequestCallback.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/proto/ble.proto
  qaul_ui/android/blemodule/src/test/java/net/qaul/ble/ExampleUnitTest.kt
  qaul_ui/android/gradle.properties
  qaul_ui/android/libqaul/.gitignore
  qaul_ui/android/libqaul/build.gradle
  qaul_ui/android/libqaul/consumer-rules.pro
  qaul_ui/android/libqaul/proguard-rules.pro
  qaul_ui/android/libqaul/src/androidTest/java/net/qaul/libqaul/ExampleInstrumentedTest.kt
  qaul_ui/android/libqaul/src/main/AndroidManifest.xml
  qaul_ui/android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/libqaul/src/test/java/net/qaul/libqaul/ExampleUnitTest.kt
  qaul_ui/android/settings.gradle
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  utilities/scripts/run-android.sh
Due: run-flutter-workflow

fea(italian): WIP add italian translation
  qaul_ui/lib/l10n/app_it.arb
Due: run-flutter-workflow

qaul 2.0.0 beta 13
  CHANGELOG.md
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

BLE end of workday commit
  android/libqaul/build.gradle
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow
