Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

chat conversation list: filter out content type 0
  rust/libqaul/src/services/chat/storage.rs
Due: run-rust-workflow

prevent actions for direct chat room
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/services/group/member.rs
Due: run-rust-workflow

implement users sync
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/router_net_info.proto
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
Due: run-rust-workflow

updated protobuf messages for all languages
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chatfile_net.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chatfile_rpc.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/chat/ChatOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/swift/services/chat/chat.pb.swift
Due: run-flutter-workflow, run-rust-workflow

implement security number
  rust/clients/cli/src/users.rs
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
Due: run-rust-workflow

fix rtc
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

optimize
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
Due: run-rust-workflow

optimize & format
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

feat: [Flutter] re-integrate group module messages with qaul_rpc and UI
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/widgets/group_list_tile.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

refactor: [Flutter] build message status from factory construct
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
Due: run-flutter-workflow

update message status as enum
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

remove is_group field
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
Due: run-rust-workflow

fix: [Flutter] single chat with an unknown person error
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
Due: run-flutter-workflow

refactor: [Flutter] remove *_notifier files and merge their logic with their counterparts
  qaul_ui/packages/qaul_rpc/lib/src/models/feed_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/feed_post_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
Due: run-flutter-workflow

refactor: integrate new RPC structs with qaul_rpc package
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/router_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

update defineing enums for group fields
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/group/group_net.proto
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
Due: run-rust-workflow

Documentation: added group invited CLI documentation
  rust/clients/cli/README.md
Due: run-rust-workflow

crypto update: session id & package caching
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

upgraded libp2p to version 0.47.0
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

implement DTN cli
  rust/clients/cli/src/dtn.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.dtn.rs
  rust/libqaul/src/services/dtn/dtn_rpc.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/dtn/qaul.rpc.dtn.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

Moved Chat Overview to Group list, show last message on Group
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/clients/cli/src/users.rs
  rust/libqaul/build.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/conversation_id.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

chatfile data base & restructuring
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/storage/mod.rs
Due: run-rust-workflow

restructure group & chat services
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

update chat service
  rust/clients/cli/src/chat.rs
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/crypto.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/group_net.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

Add group RPC protos
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
Due: run-rust-workflow

prevent self send message
  rust/libqaul/src/services/chat/mod.rs
Due: run-rust-workflow

etc: configure MacOS for App Store/Testflight releases
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/Configs/AppInfo.xcconfig
  qaul_ui/macos/Runner/Info.plist
Due: run-flutter-workflow

docs: add instructions to manually create MacOS dmg file
  .gitignore
  docs/qaul/flutter/macos.md
Due: none

Documentation & DTN protobuf changes
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  rust/clients/cli/README.md
  rust/clients/cli/src/dtn.rs
  rust/clients/cli/src/users.rs
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/users/UsersOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/SecurityNumberRequestKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/SecurityNumberResponseKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/UsersKt.kt
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.dtn.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/router/users.pb.swift
  rust/libqaul/src/services/dtn/dtn_rpc.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/dtn/qaul.rpc.dtn.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-flutter-workflow, run-rust-workflow

feat: [Flutter] add new splash screen & simple onboarding logic
  qaul_ui/assets/icons/user.svg
  qaul_ui/assets/logo/logo.svg
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/splash_screen.dart
  qaul_ui/lib/widgets/button_factory.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

DTN protobuf added for all languages
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/dtn/dtn_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/dtn/dtn_rpc.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/dtn/dtn_rpc.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/dtn/dtn_rpc.pbserver.dart
  rust/libqaul/src/rpc/protobuf_build_scripts/files.txt
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/dtn/dtn_rpc.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/dtn/dtn_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/dtn/DtnRpc.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DTNKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnAddUserRequestKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnAddUserResponseKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnConfigRequestKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnConfigResponseKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnRemoveUserRequestKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnRemoveUserResponseKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnRpcKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnSetTotalSizeRequestKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnSetTotalSizeResponseKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnStateRequestKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/dtn/DtnStateResponseKt.kt
  rust/libqaul/src/rpc/protobuf_generated/swift/services/dtn/dtn_rpc.pb.swift
Due: run-flutter-workflow, run-rust-workflow

feat: [Flutter] add DTN module integration
  qaul_ui/packages/qaul_rpc/lib/src/models/dtn_configuration.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/dtn_translator.dart
Due: run-flutter-workflow

create Debian installer of qauld
  docs/qaul/rust/debian-package.md
  rust/clients/qauld/Cargo.toml
Due: run-rust-workflow

fix file sharing after restructuring
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/chatfile.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

feat: [Flutter] add DTN nodes table on UserAccount tab
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

feat: [Flutter] add CRON task to refresh DTN nodes table
  qaul_ui/lib/screens/home/user_account_screen.dart
Due: run-flutter-workflow

refactor: [Flutter] change UserAccount layout
  qaul_ui/lib/screens/home/user_account_screen.dart
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
