Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

feat: update Light theme's app bar text & icon color to black & grey
  qaul_ui/lib/qaul_app.dart
Due: run-flutter-workflow

etc: have navbar icons more closely sized
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

refactor: update implementation of QaulListTile to accommodate for more consistent avatar alignment
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

feat: replace Group Settings' members table with QaulTable
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
  qaul_ui/lib/widgets/qaul_table.dart
Due: run-flutter-workflow

feat: align invite button to the end, add background color
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/widgets/button_factory.dart
Due: run-flutter-workflow

fix: add missing hero tags
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
Due: run-flutter-workflow

fix: remove linting warnings
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

etc: reduce chat input font size from 19 to 17
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
Due: run-flutter-workflow

feat: minor UserDetailsBanner & UserDetailsScreen adjustments
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/user_details_banner.dart
Due: run-flutter-workflow

refactor: improve settings layout
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/dropdown_builder.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/settings_section.dart
  qaul_ui/lib/widgets/theme_select_dropdown.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

Translation updates, added changes to CHANGELOG
  CHANGELOG.md
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

fixed many rust compile warnings
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

qaul 2.0.0 beta 8
  CHANGELOG.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

Added Pull Request Template & CLA
  .github/pull_request_template.md
  licenses/README.md
  licenses/contributor-license-agreement.md
Due: none

Added CLA-link to README
  docs/README.md
Due: none

feat: update implementation of File History view
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/helpers/navigation_helper.dart
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/Info.plist
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

refactor: simulate async response from qaul_rpc to simplify UI code
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/internal/file_history.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
Due: run-flutter-workflow

fix: change stub class' function identity
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

CLA Assistant configuration added
  .github/workflows/cla.yml
Due: none

Changed filesharing to chat file in README
  rust/clients/cli/README.md
Due: run-rust-workflow

OCPA address better formated
  licenses/contributor-license-agreement.md
Due: none

update crc3.0.0 using
  rust/libqaul/Cargo.toml
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/group/message.rs
Due: run-rust-workflow

implement migrating module
  rust/libqaul/Cargo.toml
  rust/libqaul/src/lib.rs
  rust/libqaul/src/migrate/backup.rs
  rust/libqaul/src/migrate/mig200b4to200b5/config200b4.rs
  rust/libqaul/src/migrate/mig200b4to200b5/mod.rs
  rust/libqaul/src/migrate/mod.rs
Due: run-rust-workflow

comment fixes
  rust/libqaul/src/lib.rs
  rust/libqaul/src/migrate/mod.rs
Due: run-rust-workflow

added new version file to gitignore
  .gitignore
Due: none

update config 0.13.2 using
  rust/libqaul/Cargo.toml
  rust/libqaul/src/migrate/mig200b4to200b5/config200b4.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

update active/deactive internetnode & add name
  rust/clients/cli/src/connections.rs
  rust/libqaul/src/connections/connections.proto
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

Renamed Migration module to Upgrade Module & Moved it to utilities
  rust/libqaul/src/lib.rs
  rust/libqaul/src/utilities/mod.rs
  rust/libqaul/src/utilities/upgrade/backup.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_10/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_10/old_config.rs
Due: run-rust-workflow

Added upgrade semver comparison, bumped to beta 9
  CHANGELOG.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/lib.rs
  rust/libqaul/src/utilities/upgrade/backup.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/old_config.rs
Due: run-flutter-workflow, run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
