Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

refactor(shared): #541 refactored proto files
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 completed users commands
  docs/qaul/rust/qaul-cli-usage.md
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/utils.rs
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/authentication.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/tests/api_thread.rs
  rust/libqaul/tests/config_persistence.rs
  rust/libqaul/tests/instance_init.rs
Due: run-rust-workflow

docs(app): #541 updated the test plans
  docs/proposals/testing-framework-plan.md
Due: none

feat(server): #541 initial working code for qauld unix socket server
  rust/clients/qauld/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 handled reading and writing to socket server
  rust/clients/cli/src/authentication.rs
  rust/clients/cli/src/debug.rs
  rust/clients/cli/src/feed.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/node.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/cli/src/user_accounts.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/socket.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/timestamp.rs
Due: run-rust-workflow

feat(server): #541 data flow between qauld and qauld-ctl completed
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 added the chat commands
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

docs(server): #541 testing framework
  docs/proposals/testing-framework-plan.md
Due: none

feat(server): #541 data flow between qauld and qauld-ctl completed
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/src/socket.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

feat(app): #541 added node subcmd to qauld-ctl
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(server): #541 intial prototype for qauld-tl
  rust/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/README.md
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(app): #541 node info command working from qauld-ctl
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 handled reading and writing to socket server
  rust/clients/cli/src/feed.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

feat(server): #541 implemented preflight req before any command
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

git: add a .gitconfig file to always rebase when pulling.
  .gitconfig
Due: none

fix: adjust new members to be appended at the end
  qaul_ui/lib/stores/users_store.dart
Due: run-flutter-workflow

refactor: enhance user retrieval logic in feed message store for improved efficiency
  qaul_ui/lib/stores/feed_message_store.dart
Due: run-flutter-workflow

refactor: rename parameter in replaceAll method and enhance feed message tests for user retrieval
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/test/feed_message_store_test.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

feat: add pagination to public feed (offset/limit, load more on scroll)
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/feed_message_store_test.dart
Due: run-flutter-workflow

refactor: use provider instead of notifier
  qaul_ui/lib/providers/home_screen_tab_controller_provider.dart
  qaul_ui/lib/providers/providers.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
Due: run-flutter-workflow

fix: correct paths in protobuf build_dart.sh for running from build_scripts
  protobuf/build_scripts/build_dart.sh
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pbjson.dart
Due: run-flutter-workflow

fix: remove unused import
  qaul_ui/lib/stores/stores.dart
Due: run-flutter-workflow

test(server): #541 set permission socket
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

refactor: replace CircularProgressIndicator with LoadingIndicator in chat message widgets
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
Due: run-flutter-workflow

refactor: integrate LoadingDecorator in CreateAccountScreen and CreateNewGroupDialog
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
Due: run-flutter-workflow

Feed message and user store improvements (#784)
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/feed_message_store_test.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

chore: added word spelling to vscode settings
  .vscode/settings.json
Due: none

test: added all libqaul features to qaul-cli
  rust/clients/cli/Cargo.toml
Due: run-rust-workflow

fix(rpc): added required request_id to RPC message
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

style: fix comment formatting in
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

fix(protocol): fix MTU check of qaul message by one byte to expected size.
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
Due: run-rust-workflow

BREAKING CHANGE (ble): ch use q8id throughout libqaul as smaller variants.
  protobuf/generated/rust/qaul.net.ble.rs
  protobuf/generated/rust/qaul.rpc.ble.rs
  protobuf/generated/rust/qaul.sys.ble.rs
  protobuf/proto_definitions/connections/ble/ble.proto
  protobuf/proto_definitions/connections/ble/ble_net.proto
  protobuf/proto_definitions/connections/ble/ble_rpc.proto
  qaul_ui/android/blemodule/src/main/proto/ble.proto
  rust/clients/cli/src/ble.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-flutter-workflow, run-rust-workflow

test (ble): run android flutter in --verbose mode
  utilities/scripts/run-android.sh
Due: none

build (android ble): ignore local build properties
  qaul_ui/android/blemodule/.gitignore
Due: run-flutter-workflow

feat(gatt): created more logging conversion utilities.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
Due: run-flutter-workflow

feat(gatt): created new GATT messaging protocol
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
Due: run-flutter-workflow

fix: Ble connection unstable and drop connection to send multiple messages
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
Due: run-flutter-workflow
