Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Debug overlay disabled for prod
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
Due: run-flutter-workflow

Real ack repsonses passed back to libqaul, send queues updated to account for l2ca.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/BleManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/SendQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/util/BleExtensions.kt
Due: run-flutter-workflow

fix(android): set TMPDIR so libqaul boots on all devices
  rust/libqaul/src/api/android.rs
Due: run-rust-workflow

feat: duplicate-username-on-join meta (clean reimplementation)
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_localizations.dart
  qaul_ui/lib/l10n/app_localizations_ar.dart
  qaul_ui/lib/l10n/app_localizations_de.dart
  qaul_ui/lib/l10n/app_localizations_en.dart
  qaul_ui/lib/l10n/app_localizations_es.dart
  qaul_ui/lib/l10n/app_localizations_fa.dart
  qaul_ui/lib/l10n/app_localizations_fr.dart
  qaul_ui/lib/l10n/app_localizations_id.dart
  qaul_ui/lib/l10n/app_localizations_it.dart
  qaul_ui/lib/l10n/app_localizations_pt.dart
  qaul_ui/lib/l10n/app_localizations_ru.dart
  qaul_ui/lib/l10n/app_localizations_tr.dart
  qaul_ui/lib/l10n/app_localizations_uk.dart
  qaul_ui/lib/l10n/app_localizations_zh.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_meta_text_style.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/duplicate_username_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_join_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/room_meta_message.dart
  qaul_ui/packages/qaul_components/lib/domain/duplicate_username_on_join.dart
  qaul_ui/packages/qaul_components/lib/models/chat_message.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/test/compute_message_presentation_test.dart
  qaul_ui/packages/qaul_components/test/duplicate_username_on_join_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/duplicate_username_meta_message.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/group_join_meta_message.dart
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

refactor(chat): improve chat bubble layout and text scaling
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
Due: run-flutter-workflow

feat: indroduce duplicate-username-on-join meta message (#910)
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_localizations.dart
  qaul_ui/lib/l10n/app_localizations_ar.dart
  qaul_ui/lib/l10n/app_localizations_de.dart
  qaul_ui/lib/l10n/app_localizations_en.dart
  qaul_ui/lib/l10n/app_localizations_es.dart
  qaul_ui/lib/l10n/app_localizations_fa.dart
  qaul_ui/lib/l10n/app_localizations_fr.dart
  qaul_ui/lib/l10n/app_localizations_id.dart
  qaul_ui/lib/l10n/app_localizations_it.dart
  qaul_ui/lib/l10n/app_localizations_pt.dart
  qaul_ui/lib/l10n/app_localizations_ru.dart
  qaul_ui/lib/l10n/app_localizations_tr.dart
  qaul_ui/lib/l10n/app_localizations_uk.dart
  qaul_ui/lib/l10n/app_localizations_zh.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_meta_text_style.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/duplicate_username_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_join_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/room_meta_message.dart
  qaul_ui/packages/qaul_components/lib/domain/duplicate_username_on_join.dart
  qaul_ui/packages/qaul_components/lib/models/chat_message.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/test/compute_message_presentation_test.dart
  qaul_ui/packages/qaul_components/test/duplicate_username_on_join_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/duplicate_username_meta_message.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/group_join_meta_message.dart
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

feat: last adjustment and improvements, remove the manage account from the user tab
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/user_details_banner.dart
  qaul_ui/packages/qaul_components/lib/design_components/account/account_management.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design/account/account_management.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

fix: populate Public Key on login/restore via session-aware GetDefaultUserAccount
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  rust/libqaul/src/node/user_accounts.rs
Due: run-flutter-workflow, run-rust-workflow

feat: intermediate commit to fix menu localization
  qaul_ui/lib/coordinators/account_management_coordinator.dart
  qaul_ui/lib/providers/account_session_provider.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/test/account_session_provider_test.dart
  qaul_ui/test/rpc_internet_nodes_test.dart
Due: run-flutter-workflow

fix: enhance logout and account deletion flows with root navigator support and improved session handling
  qaul_ui/lib/coordinators/account_management_coordinator.dart
  qaul_ui/lib/providers/account_session_provider.dart
  qaul_ui/lib/screens/splash_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

refactor: single-source active-user writes and unify future-based adapters
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

feat(account-management): implement account management coordinator with restore, login, export, and delete flows
  qaul_ui/lib/coordinators/account_management_coordinator.dart
  qaul_ui/lib/providers/account_session_provider.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/splash_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/account_management.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/account_management_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/authentication_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

feat: add account management flow on widget design
  qaul_ui/packages/qaul_components/assets/logo/logo.svg
  qaul_ui/packages/qaul_components/lib/design_components/account/account_management.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_en.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ar.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_de.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_en.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_es.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_fr.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ru.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_zh.dart
  qaul_ui/packages/qaul_components/lib/models/account.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design/account/account_management.dart
Due: run-flutter-workflow

Connect account flow (#905)
  qaul_ui/lib/coordinators/account_management_coordinator.dart
  qaul_ui/lib/providers/account_session_provider.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/screens/splash_screen.dart
  qaul_ui/lib/widgets/user_details_banner.dart
  qaul_ui/packages/qaul_components/assets/logo/logo.svg
  qaul_ui/packages/qaul_components/lib/design_components/account/account_management.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_en.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ar.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_de.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_en.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_es.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_fr.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ru.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_zh.dart
  qaul_ui/packages/qaul_components/lib/models/account.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design/account/account_management.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/account_management.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/account_management_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/authentication_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/test/account_session_provider_test.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/rpc_internet_nodes_test.dart
  rust/libqaul/src/node/user_accounts.rs
Due: run-flutter-workflow, run-rust-workflow

refactor(chat): improve chat bubble layout and text scaling (#911)
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
Due: run-flutter-workflow

fix(chat): implement chat conversation state management and enhance group invite handling
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/internal/chat_conversation_state.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_conversation_state_test.dart
  qaul_ui/test/group_store_test.dart
Due: run-flutter-workflow

fix(chat): chat timeline message handling and layout adjustments
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
Due: run-flutter-workflow

fix(chat): adjust image handling
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/compute_message_presentation_test.dart
Due: run-flutter-workflow

feat(advertiser): Dual advertisements
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/advertiser/BleAdvertiser.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/BleManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/ConnectionEventListener.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
Due: run-flutter-workflow

fix(notification): implement notification count increment logic in ChatNotificationController
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/providers/notification_controller/notification_controller.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/test/qaul_navbar_test.dart
  qaul_ui/test/providers/chat_notification_controller_test.dart
Due: run-flutter-workflow

fix: adjust test and style
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/chat_user_resolution_test.dart
Due: run-flutter-workflow

fix(chat): implement chat conversation state management and enhance group invite handling (#912)
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/internal/chat_conversation_state.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_conversation_state_test.dart
  qaul_ui/test/group_store_test.dart
Due: run-flutter-workflow

Adjust spacing chat margins (#913)
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/compute_message_presentation_test.dart
Due: run-flutter-workflow

fix: adjust test cases
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/stores/group_store.dart
Due: run-flutter-workflow

feat: initial implementation
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_localizations.dart
  qaul_ui/lib/l10n/app_localizations_ar.dart
  qaul_ui/lib/l10n/app_localizations_de.dart
  qaul_ui/lib/l10n/app_localizations_en.dart
  qaul_ui/lib/l10n/app_localizations_es.dart
  qaul_ui/lib/l10n/app_localizations_fa.dart
  qaul_ui/lib/l10n/app_localizations_fr.dart
  qaul_ui/lib/l10n/app_localizations_id.dart
  qaul_ui/lib/l10n/app_localizations_it.dart
  qaul_ui/lib/l10n/app_localizations_pt.dart
  qaul_ui/lib/l10n/app_localizations_ru.dart
  qaul_ui/lib/l10n/app_localizations_tr.dart
  qaul_ui/lib/l10n/app_localizations_uk.dart
  qaul_ui/lib/l10n/app_localizations_zh.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_room_list.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/search_scaffold.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

Search Chat rooms implementation (#914)
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_localizations.dart
  qaul_ui/lib/l10n/app_localizations_ar.dart
  qaul_ui/lib/l10n/app_localizations_de.dart
  qaul_ui/lib/l10n/app_localizations_en.dart
  qaul_ui/lib/l10n/app_localizations_es.dart
  qaul_ui/lib/l10n/app_localizations_fa.dart
  qaul_ui/lib/l10n/app_localizations_fr.dart
  qaul_ui/lib/l10n/app_localizations_id.dart
  qaul_ui/lib/l10n/app_localizations_it.dart
  qaul_ui/lib/l10n/app_localizations_pt.dart
  qaul_ui/lib/l10n/app_localizations_ru.dart
  qaul_ui/lib/l10n/app_localizations_tr.dart
  qaul_ui/lib/l10n/app_localizations_uk.dart
  qaul_ui/lib/l10n/app_localizations_zh.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_room_list.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/search_scaffold.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

Implement notification count increment logic (#915)
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/providers/notification_controller/notification_controller.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/test/qaul_navbar_test.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/chat_user_resolution_test.dart
  qaul_ui/test/providers/chat_notification_controller_test.dart
Due: run-flutter-workflow

fix(account): reclaim orphan user directory on restore to fix delete/re-import soft-lock
  rust/libqaul/src/node/account_management.rs
  rust/libqaul/tests/account_management_rpc.rs
Due: run-rust-workflow

Debug overlay tweaks
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/debug/BleDebugOverlay.kt
Due: run-flutter-workflow

chore: bump release version to v2.0.0-rc.6
  qaul_ui/macos/libqaul/libqaul.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/qaul-proto/Cargo.toml
  rust/qauld-rpc/Cargo.toml
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow, run-rust-workflow

fix(libqaul): compilation errors on windows and ios
  rust/.cargo/config.toml
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(dtn-v2): hop-numbered custody routes with same-hop alternatives
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/tests/dtn_routed_v2.rs
  rust/qaul-proto/build.rs
Due: run-rust-workflow

feat(dtn-v2): sender-defined hop-numbered custody routes
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/libqaul/src/services/dtn/mod.rs
Due: run-rust-workflow

docs(dtn): DTN V2 migration plan (capability bit, 3-phase rollout, V1 drain)
  docs/proposals/DTN-V2-Migration.md
Due: none

docs(dtn): migration plan — hardening + tier-0 fixes are merged now
  docs/proposals/DTN-V2-Migration.md
Due: none

docs(dtn): migration plan reflects hop-numbered routes (priority = hop number)
  docs/proposals/DTN-V2-Migration.md
Due: none

feat(chat): add user details navigation in chat screen
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

feat: implement new colors on old chat layout
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix(navbar): unfocus input when navigating out of public tab
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
