Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

removed all compile warnings
  rust/.cargo/config.toml
  rust/clients/cli/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

feat: include confirmation dialog before account deletion
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/l10n/app_en.arb
Due: run-flutter-workflow

upgrade to libp2p 0.53
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/pubspec.lock
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_info/src/types.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
  rust/libp2p_modules/qaul_messaging/src/types.rs
  rust/libp2p_modules/varint_prefixed_codec/Cargo.toml
  rust/libp2p_modules/varint_prefixed_codec/src/lib.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
Due: run-flutter-workflow, run-rust-workflow

feat: route to license from about, add license to menu options
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/helpers/navigation_helper.dart
  qaul_ui/lib/screens/about_screen.dart
  qaul_ui/lib/screens/license_screen.dart
  qaul_ui/pubspec.yaml
  qaul_ui/test/force_update_test.dart
Due: run-flutter-workflow

chore: add macos support on widgetbook
  qaul_ui/widgetbook/.metadata
  qaul_ui/widgetbook/macos/.gitignore
  qaul_ui/widgetbook/macos/Flutter/Flutter-Debug.xcconfig
  qaul_ui/widgetbook/macos/Flutter/Flutter-Release.xcconfig
  qaul_ui/widgetbook/macos/Podfile
  qaul_ui/widgetbook/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/widgetbook/macos/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  qaul_ui/widgetbook/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/widgetbook/macos/Runner.xcworkspace/contents.xcworkspacedata
  qaul_ui/widgetbook/macos/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  qaul_ui/widgetbook/macos/Runner/AppDelegate.swift
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  qaul_ui/widgetbook/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  qaul_ui/widgetbook/macos/Runner/Base.lproj/MainMenu.xib
  qaul_ui/widgetbook/macos/Runner/Configs/AppInfo.xcconfig
  qaul_ui/widgetbook/macos/Runner/Configs/Debug.xcconfig
  qaul_ui/widgetbook/macos/Runner/Configs/Release.xcconfig
  qaul_ui/widgetbook/macos/Runner/Configs/Warnings.xcconfig
  qaul_ui/widgetbook/macos/Runner/DebugProfile.entitlements
  qaul_ui/widgetbook/macos/Runner/Info.plist
  qaul_ui/widgetbook/macos/Runner/MainFlutterWindow.swift
  qaul_ui/widgetbook/macos/Runner/Release.entitlements
  qaul_ui/widgetbook/macos/RunnerTests/RunnerTests.swift
Due: run-flutter-workflow

re-added TCP stack, due to Quic blocking and censorship in some networks
  CHANGELOG.md
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_1/mod.rs
Due: run-rust-workflow

feat: update about screen
  qaul_ui/assets/license/agpl-3.0.md
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/about_screen.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

feat: add path for account deletion on linux
  qaul_ui/lib/force_update.dart
Due: run-flutter-workflow

ci: bump flutter to version 3.19.6
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

feat: update button on force update dialog for better ux; update path and add logic for account deletion on ios, mac and android
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/main.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/widgetbook/lib/force_update_dialog.dart
  qaul_ui/widgetbook/lib/main.dart
Due: run-flutter-workflow

Updated license screen
  qaul_ui/assets/license/agpl-3.0.md
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_de.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_es.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_it.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
  qaul_ui/lib/screens/about_screen.dart
  qaul_ui/lib/screens/license_screen.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fixed libqaul mdns module deprecation warning
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

feat: update app flow to check force-update before normal initialization; change copy in dialog
  qaul_ui/Makefile
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/main.dart
  qaul_ui/pubspec.yaml
  qaul_ui/widgetbook/l10n.yaml
  qaul_ui/widgetbook/lib/force_update_dialog.dart
  qaul_ui/widgetbook/lib/main.dart
  qaul_ui/widgetbook/pubspec.yaml
Due: run-flutter-workflow

chore: bump dependencies so app compiles against flutter 3.22.1 (latest stable)
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: install widgetbook deps nº 2
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/analyze-flutter.yml
Due: none

libqaul: upgraded packages
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

fix: lint
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

Removed TCP stack & Upgrade to 2.0.0-rc.1
  .vscode/settings.json
  CHANGELOG.md
  docs/qaul/rust/configuration.md
  docs/qaul/rust/connecting-nodes-statically.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/cli/README.md
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/connections.proto
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/backup.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_1/mod.rs
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow, run-rust-workflow

Upgraded Flutter to version 3.22.2
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

Upgrade procedure to libqaul 2.0.0 beta 19
  CHANGELOG.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/utilities/upgrade/backup.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_15/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_15/old_config.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_17/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_18/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/old_config.rs
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow, run-rust-workflow

feat: add force update dialog widget; setup widgetbook and add use case for new widget
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/widgetbook/.gitignore
  qaul_ui/widgetbook/.metadata
  qaul_ui/widgetbook/lib/force_update_dialog.dart
  qaul_ui/widgetbook/lib/main.dart
  qaul_ui/widgetbook/lib/main.directories.g.dart
  qaul_ui/widgetbook/pubspec.yaml
  qaul_ui/widgetbook/web/favicon.png
  qaul_ui/widgetbook/web/icons/Icon-192.png
  qaul_ui/widgetbook/web/icons/Icon-512.png
  qaul_ui/widgetbook/web/icons/Icon-maskable-192.png
  qaul_ui/widgetbook/web/icons/Icon-maskable-512.png
  qaul_ui/widgetbook/web/index.html
  qaul_ui/widgetbook/web/manifest.json
Due: run-flutter-workflow

qaul 2.0.0 Release Candidate 1
  CHANGELOG.md
  qaul_ui/macos/libqaul.xcodeproj/project.pbxproj
Due: run-flutter-workflow

chore: update lockfiles
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

qaul 2.0.0 Release Candidate 1
  CHANGELOG.md
Due: none

feat: add windows support for force update delete account
  qaul_ui/lib/force_update.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/windows/flutter/CMakeLists.txt
Due: run-flutter-workflow

set circleci rust version to 1.78.0
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

upgraded flutter pub's
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
