Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Fix(Permissions): foreground service crash on API 31+ devices
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PermissionHandler.kt
Due: run-flutter-workflow

chore: downgraded jni due to incompatibilities
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

Debug overlay tweaks
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/debug/BleDebugOverlay.kt
Due: run-flutter-workflow

feat(Telemetry): Telemetry build for ble.
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PermissionHandler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/debug/BleDebugOverlay.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/BleManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/ConnectionEventListener.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/GpsProvider.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  tools/field-test/mesh_replay.html
  tools/field-test/pull-sessions.sh
  tools/topology-sim/mesh_editor.html
Due: run-flutter-workflow

Fix(Advertiser): The advertiser was only tracking whether it was advertising on 1M, leading to the potential for coded advertising to continue even at cap.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/advertiser/BleAdvertiser.kt
Due: run-flutter-workflow

Debug / Telemetry permissions removed
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
Due: run-flutter-workflow

Queue depth telemetry, atomic sequence number dedup fix, extra 2M upgrade hold time as temporary fix to the bug for this test
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
Due: run-flutter-workflow

Service/Characteristic UUID's changed for new release
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
Due: run-flutter-workflow

incomplete temp ble test version
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/debug/BleDebugOverlay.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/l2cap/L2capChannel.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/DownloadsMirror.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
Due: run-flutter-workflow

feat(advertiser): Dual advertisements
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/advertiser/BleAdvertiser.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/BleManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/ConnectionEventListener.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
Due: run-flutter-workflow

Seperate flag in libqaul_worker.dart set to false to disable routing logs
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

Fix(ReceiveQueue): fixed sonar qube bug where a non-null assertion operator was being used on a map value that could become null after the check
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
Due: run-flutter-workflow

BLE: connection reliability fixes + more telemetry
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
Due: run-flutter-workflow

Remove field-test tooling from the release branch
  tools/field-test/mesh_replay.html
  tools/field-test/pull-sessions.sh
Due: none

Comments, constants changes
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/debug/BleDebugOverlay.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/l2cap/L2capChannel.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
Due: run-flutter-workflow

Reduced coded free retries because it allows bad links to block for too long
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
Due: run-flutter-workflow

Telemetry disabled: Moved all of field test telemetry, such as the session logger, routing logger, downloads mirror and gps provider behind a flag so that it is all disabled for release
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
Due: run-flutter-workflow

Extra telemetry for who starts or ends a connection attempt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
Due: run-flutter-workflow

moved liveness timeout back to 30 seconds
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
Due: run-flutter-workflow

feat(BleTopology): Implemented v1 of stage 1 and 2 of the ble topology plan.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
Due: run-flutter-workflow

Chore: upgraded Android target Sdk to new version 36
  qaul_ui/android/app/build.gradle
Due: run-flutter-workflow

chore: current Cargo.lock
  rust/Cargo.lock
Due: run-rust-workflow

ci: release qauld-ctl, drop CircleCI CLI from pack.sh, fix release asset links
  .circleci/continue-config.yml
  circleci_config/config-continuation/commands/pin-rust-deps.yml
  circleci_config/config-continuation/commands/setup-sccache.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-arm-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-ios.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/build-qauld-arm-linux.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/scripts/fyaml_pack.py
  circleci_config/scripts/pack.sh
  docs/qaul/rust/debian-package.md
  docs/qaul/tooling/circleci-configuration.md
  rust/clients/qauld-ctl/Cargo.toml
  utilities/installers/linux/snapbuild
  utilities/qauld-docker/Dockerfile
  utilities/release-templates/release-template.md
Due: run-rust-workflow

fix: address SonarQube findings in fyaml_pack.py and qauld Dockerfile
  circleci_config/scripts/fyaml_pack.py
  utilities/qauld-docker/Dockerfile
Due: none

ci: release qauld-ctl, drop CircleCI CLI from pack.sh, fix release asset links (#962)
  .circleci/continue-config.yml
  circleci_config/config-continuation/commands/pin-rust-deps.yml
  circleci_config/config-continuation/commands/setup-sccache.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-arm-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-ios.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/build-qauld-arm-linux.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/scripts/fyaml_pack.py
  circleci_config/scripts/pack.sh
  docs/qaul/rust/debian-package.md
  docs/qaul/tooling/circleci-configuration.md
  rust/clients/qauld-ctl/Cargo.toml
  utilities/installers/linux/snapbuild
  utilities/qauld-docker/Dockerfile
  utilities/release-templates/release-template.md
Due: run-rust-workflow

security(qauld): changed socket access permissions to 660
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

refactor: simplify chat notification handling in navbar and update unread count logic
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
Due: run-flutter-workflow

fix(chat): normalize direct chat user identity
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/test/chat_user_resolution_test.dart
Due: run-flutter-workflow

fix(feed): open own profile from author taps
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

test(feed): cover author profile navigation
  qaul_ui/test/public_tab_loading_test.dart
Due: run-flutter-workflow

fix(router): propagate profile updates to already-known peers
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/proto_definitions/router/router_net_info.proto
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix(storage): atomic config write + preserve corrupt config to prevent identity/account loss
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

fix(router): don't panic on empty hop-count in received routing entries
  rust/libqaul/src/router/connections.rs
Due: run-rust-workflow

fix(storage): double-checked lock in get_user_db to avoid concurrent-open panic
  rust/libqaul/src/storage/database.rs
Due: run-rust-workflow

fix(crypto): bound drain bitmap against attacker-chosen nonce (single-packet OOM)
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

fix: validate shared file extensions
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
