Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Linux Snap fix: zero-terminate path buffer string
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
Due: run-flutter-workflow

Fix: linux ble send message flow
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-flutter-workflow, run-rust-workflow

feat: Audio message recorder and player functionality implemented
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: update android configuration to allow for the sending of audio messages
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

chore: update macos configuration to allow for the sending of audio messages
  qaul_ui/macos/Podfile
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/DebugProfile.entitlements
  qaul_ui/macos/Runner/Info.plist
  qaul_ui/macos/Runner/Release.entitlements
Due: run-flutter-workflow

chore: update ios configuration to allow for the sending of audio messages
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner/Info.plist
Due: run-flutter-workflow

Feat: Enable audio-chat feature for windows .
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

refactor: update audio message widget ui
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

feat: improve ux by isolating the audio sending into a separate dialog
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/utils.dart
Due: run-flutter-workflow

Feat: Enable audio-chat feature for Linux.
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

Fix : Fixed attachment, images, and audio message url for Windows.
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

refactor: simplify code, allow macos audio messages
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
Due: run-flutter-workflow

Fix: Update UI toolkit for microphone
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_de.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_es.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_it.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

fix: rebasing issues
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

Refactor the rust ble_module
  .vscode/settings.json
Due: none

Refactor the rust ble_module
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix: .vscode settings added
  .vscode/settings.json
Due: none

Debug: Spawn Rust Async thread
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

fix: file path resolution on windows
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

fix: getDuration should just invoke the method, not re-set the source
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

Debug: Spawn linux BLE message sender
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-flutter-workflow, run-rust-workflow

feat: disable recording on Linux ARM ; Prevent file from being accessed before it's downloaded ; Tweak codec to reduce file size
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

ci: (snap) update snapcraft definition so dependencies are available during compilation/runtime
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

ci: (snap) skip fmedia install if on arm
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

ci: (snap) fix - add missing |
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

Debug: Add message listener
  .vscode/settings.json
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-flutter-workflow, run-rust-workflow

feat: re-enable BLE filter on network tab for linux
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

Fix: Flutter Ui to support linux ble
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

Fix: WriteCharacterstic Api for version 33
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
Due: run-flutter-workflow

Fix: Linux BLE message sender
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Optimize sender and reciever flow
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

fix: shouldForceUpdate returns false if path to qaul config doesn't exist
  qaul_ui/lib/force_update.dart
Due: run-flutter-workflow

refactor: update ffi start method
  qaul_ui/lib/force_update.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

chore: optimized device discovery
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

feat: Added Stop and ble powered on check
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

refactor: Clean the ble_module and remove unused functions
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
