Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

ci: [Rust - Android] change way the script is invoked through the pipeline
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
Due: none

ci: [Rust - Android] revert testing change in rust workflow
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/build-rust.yml
Due: none

docs: add note that notarization process is now automated
  docs/qaul/flutter/macos.md
Due: none

ci: [Rust - Android] remove set on script
  rust/libqaul/build_libqaul_android.sh
Due: run-rust-workflow

ci: [Rust - Android] update shebang on android compilation script
  rust/libqaul/build_libqaul_android.sh
Due: run-rust-workflow

ci: [Rust - Android] add testing job
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/build-rust.yml
Due: none

feat: add post-script to notarize archived dmg, update dmgbuild script to make use of that
  qaul_ui/macos/ExportOptions.plist
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  utilities/installers/macos/bin/dmgbuild
  utilities/installers/macos/config.json
Due: run-flutter-workflow

BLE: added comments
  android/app/src/main/java/net/qaul/qaul/MainActivity.kt
  android/blemodule/.gitignore
  android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  android/blemodule/src/main/java/net/qaul/ble/DateTimeHelper.kt
  android/blemodule/src/main/java/net/qaul/ble/RemoteLog.kt
  android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

fix: add home Plug on snapcraft, check for SNAP_COMMON environment variable
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

documentation update: rust installation
  docs/qaul/flutter/linux.md
  docs/qaul/rust/rust-install.md
Due: none

feat: update "Logs" folder name to "ui_logs"; Change FFI Start function identity to take a string describing the initial path of libqaul when running thru snap
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/fii_function_types.dart
Due: run-flutter-workflow

qaul 2.0.0 beta 12
  CHANGELOG.md
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

etc: add export log file
  qaul_ui/qaul_export.log
Due: run-flutter-workflow

config: Fix issue with linking dependency in iOS by explicitly defining SystemConfiguration as a binary to be linked in Build Phases >> Link Binary With Libraries
  qaul_ui/ios/Runner.xcodeproj/project.pbxproj
Due: run-flutter-workflow

etc: remove unnecessary log from VCS
  qaul_ui/qaul_export.log
Due: run-flutter-workflow

ci: reinstate iOS jobs
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-ios.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: fix version check for Flutter
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/verify-version-flutter.yml
Due: none

feat: add -w tag on makefile
  Makefile
Due: none

chore: add bundle-snapfile to Makefile
  Makefile
Due: none

fix: add 'process-control' to 'plugs'
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: prefix shell in makefile command
  Makefile
Due: none

feat: more minor fixes to snapbuild
  utilities/installers/linux/snapbuild
Due: none

fix: env var shell expansion in Makefile not working
  Makefile
  utilities/installers/linux/snapbuild
Due: none

feat: add SNAPCRAFT_LOGIN_FILE env var into docker
  Makefile
Due: none

fix: adjustments on makefile and Flutter installation step
  Makefile
  utilities/installers/linux/snapbuild
Due: none

fix: add Flutter installation step on snapbuild command
  utilities/installers/linux/snapbuild
Due: none

docs: add documentation on how to run the app locally
  Makefile
  qaul_ui/.gitignore
  utilities/installers/linux/README.md
  utilities/installers/linux/snapbuild
Due: run-flutter-workflow

fix: pathing on credentials
  utilities/installers/linux/snapbuild
Due: none

ci: Initialize Flutter-linux Dockerfile
  .circleci/images/flutter-snapcraft/Dockerfile
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
