Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

chore(proto): regenerate group dart bindings for GroupSearchRequest
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pbjson.dart
Due: run-flutter-workflow

Add 'weblate' to CLA allowlist
  .github/workflows/cla.yml
Due: none

Translated using Weblate (Indonesian)
  qaul_ui/lib/l10n/app_id.arb
Due: run-flutter-workflow

feat(qaul): instance based refactor
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/connections/transport.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

docs(transports): document the dynamic transport trait + per-transport active flag
  docs/qaul/rust/configuration.md
  docs/qaul/rust/transports.md
  rust/clients/cli/README.md
Due: run-rust-workflow

feat(qaul): ble migration and other changes
  protobuf/generated/rust/qaul.rpc.rs
  protobuf/generated/rust/qaul.rpc.transports.rs
  protobuf/proto_definitions/connections/transports.proto
  protobuf/proto_definitions/rpc/qaul_rpc.proto
  rust/clients/cli/src/rpc.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/connections/transport.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/mod.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/src/lib.rs
Due: run-rust-workflow

fix conflicts
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

feat(connections): wire BLE into Transports RPC dispatch
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

feat(cli): add transports list/enable/disable commands
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/cli/src/transports.rs
Due: run-rust-workflow

feat(connections): persist BLE active flag in config.yaml
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

feat(qaul): dynamic transport trait
  rust/libqaul/src/connections/transport.rs
Due: run-rust-workflow

feat(qaul): dynamic transport trait integrated
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

feat(libqaul): event subscription RPC with disconnect cleanup
  protobuf/generated/rust/qaul.rpc.rs
  protobuf/generated/rust/qaul.rpc.subscribe.rs
  protobuf/proto_definitions/rpc/qaul_rpc.proto
  protobuf/proto_definitions/rpc/subscribe.proto
  rust/clients/cli/src/rpc.rs
  rust/clients/qauld/src/socket.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/subscribe.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/src/lib.rs
Due: run-rust-workflow

feat(qauld-ctl): port transports list/enable/disable from qaul-cli
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/transports.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(qauld-ctl): interactive shell, subscribe streaming, port qaul-cli commands
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/connections.rs
  rust/clients/qauld-ctl/src/commands/debug.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/subscribe/mod.rs
Due: run-rust-workflow

refactor(rpc): generate Debug RPC dispatch from proto service definition
  protobuf/build_scripts/files.txt
  protobuf/generated/rust/qaul.common.rs
  protobuf/generated/rust/qaul.rpc.debug.rs
  protobuf/proto_definitions/common/common.proto
  protobuf/proto_definitions/rpc/debug.proto
  qaul_ui/packages/qaul_rpc/lib/src/generated/common/common.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/common/common.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/common/common.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/rpc/debug.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/rpc/debug.pbjson.dart
  rust/clients/cli/src/debug.rs
  rust/libqaul/src/rpc/debug.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/service_generator.rs
  rust/qaul-proto/src/lib.rs
Due: run-flutter-workflow, run-rust-workflow

feat: search users method with online filter option
  .gitignore
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/router/users.proto
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  rust/clients/cli/README.md
  rust/clients/cli/src/users.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/search/mod.rs
  rust/libqaul/src/services/chat/search.rs
Due: run-flutter-workflow, run-rust-workflow

feat(qaul): DTN V2 custody routing on instance-based main
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/network_emul.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/libqaul/tests/dtn_routed_v2.rs
  rust/qaul-proto/build.rs
Due: run-rust-workflow

feat(qauld-ctl): add DTN V2 commands (custody enable/disable, send-routed)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
Due: run-rust-workflow

feat(qaul): encoded user info / signed profile + preferred custody route
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/generated/rust/qaul.rpc.user_accounts.rs
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/node/user_accounts.proto
  protobuf/proto_definitions/router/router_net_info.proto
  protobuf/proto_definitions/router/users.proto
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

feat(qauld-ctl): add account update (signed profile)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

fix(profile): sync rename to account label, wipe custody sentinel, surface extended fields in qauld-ctl
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

test(crypto): Phase 2 unit tests for rotation-aware helpers
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

feat(crypto): Phase 1 — Noise KK session rotation primitives
  plan.md
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
Due: run-rust-workflow

feat(crypto): Phase 2 — wire rotation triggers, dispatch, drain ticker
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

feat: implement user search functionality with pagination and debounce
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_components/lib/design_components/users/user_search_scaffold.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

refactor: remove inconsistencies
  qaul_ui/lib/stores/users_store.dart
Due: run-flutter-workflow
