Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

ci: adding step to upload to snap on Linux release
  utilities/installers/linux/snapbuild
Due: none

Arabic translation
  qaul_ui/lib/l10n/app_ar.arb
Due: run-flutter-workflow

fix: apply maxLines to labels so they don't overflow on small screens
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

feat: scale entire content based on fixed width constraint
  qaul_ui/lib/widgets/settings_section.dart
Due: run-flutter-workflow

only include necessary features into libqaul
  .gitignore
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
Due: run-rust-workflow

qaul 2.0.0 beta 10
  CHANGELOG.md
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

Fix libqaul building and warnings
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow

patch: adding translation to Network section on Settings
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

fix: lint warnings
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

Fix ble service issue on blemodule
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

added protobuf dependency to flutter android gradle
  qaul_ui/android/build.gradle
Due: run-flutter-workflow

upgrade to libp2p 0.50 -- End of Workday Commit
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

added patched libp2p 0.50 crate
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

French translation added
  qaul_ui/lib/l10n/app_fr.arb
Due: run-flutter-workflow

Removed arabic font string from windows installer
  utilities/installers/windows/inno_setup_win_installer.iss
Due: none

fix: show message field on Public tab nested in Scaffold
  qaul_ui/lib/screens/home/tabs/public_tab.dart
Due: run-flutter-workflow

fix: find fix for rendering the scrollbar at the edge of the screen on the settings screen
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/responsive_scaffold.dart
Due: run-flutter-workflow

German Translation added
  qaul_ui/lib/l10n/app_de.arb
Due: run-flutter-workflow

build libqaul android in release profile
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
Due: none

Fix ping keep_alive warnings
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

ci: regenerate CircleCI configuration
  .circleci/continue-config.yml
Due: none

qaul 2.0.0 beta 11
  CHANGELOG.md
  docs/README.md
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

ci: update Rust publish step to improve on artifact name guessing
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

release: bump v2.0.0-beta.11
  qaul_ui/pubspec.yaml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

feat: add post-script to notarize archived dmg, update dmgbuild script to make use of that
  qaul_ui/macos/ExportOptions.plist
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  utilities/installers/macos/bin/dmgbuild
  utilities/installers/macos/config.json
Due: run-flutter-workflow

ci: [Rust - Android] update shebang on android compilation script
  rust/libqaul/build_libqaul_android.sh
Due: run-rust-workflow

ci: [Rust - Android] add testing job
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/build-rust.yml
Due: none

ci: [Rust - Android] remove set on script
  rust/libqaul/build_libqaul_android.sh
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
