Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

ci: patches on flutter's linux pipelines
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  qaul_ui/snap/snapcraft.yaml
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow

ci: revert change gnome extension version on snapcraft
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

ci: bump flutter version within snapcraft
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

Upgraded Release Template & Pipeline - added link to Changelog file in release template - changed snap variables to not be a subsets of each other
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/release-template.md
Due: none

ci: push macos ci script
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: push macos ci script with x flag
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) fix paths in post clone script
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) fix initial cd command so that flutter cmd is run on root of ui
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) try adding flutter build step
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) try adding flutter build step nº2
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) try adding flutter build step nº3
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) try adding flutter build step nº4
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) set automatic code signing, remove notarization post-script from archive
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
Due: run-flutter-workflow

ci: (android) fix relative path for downloading and unzipping jniLibs
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
Due: none

ci: set future releases to pre-release by default
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

ci: (macos - xcode cloud) disable library validation
  qaul_ui/macos/Runner/Release.entitlements
Due: run-flutter-workflow

ci: (macos - xcode cloud) force signature on dylib
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) force signature on dylib, attempt the second
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
  qaul_ui/macos/ci_scripts/ci_pre_xcodebuild.sh
Due: run-flutter-workflow

ci: (macos - xcode cloud) force signature on dylib, attempt the third
  qaul_ui/macos/ci_scripts/ci_pre_xcodebuild.sh
Due: run-flutter-workflow

small documentation fix
  rust/libqaul/src/connections/internet.rs
Due: run-rust-workflow

use mdns on IPv6 instead on IPv4
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

ci: (macos - xcode cloud) attempt to embed rust with cargo-xcode
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  rust/libqaul/libqaul.xcodeproj/project.pbxproj
  rust/libqaul/libqaul.xcodeproj/xcuserdata/brenodt.xcuserdatad/xcschemes/xcschememanagement.plist
Due: run-flutter-workflow, run-rust-workflow

ci: (macos - xcode cloud) remove pre-xcodebuild script
  qaul_ui/macos/ci_scripts/ci_pre_xcodebuild.sh
Due: run-flutter-workflow

ci: (flutter) update build jobs to download assets from the release with matching tag, instead of latest
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
Due: none

ci: (macos xcode) embed project in qaul_ui/macos
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner.xcworkspace/contents.xcworkspacedata
  qaul_ui/macos/libqaul.xcodeproj/project.pbxproj
  qaul_ui/macos/libqaul.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  rust/libqaul/libqaul.xcodeproj/xcuserdata/brenodt.xcuserdatad/xcschemes/xcschememanagement.plist
Due: run-flutter-workflow, run-rust-workflow

ci: (macos xcode) install protobuf
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos xcode) attempt to fix issue with cfBundleShortVersionString by removing extras from semver
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: (macos xcode) attempt to fix issue with cfBundleShortVersionString by removing extras from semver - directly in xcode
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
Due: run-flutter-workflow

ci: (macos xcode) automate approval of testflight build by declaring non-use of encryption
  qaul_ui/macos/Runner/Info.plist
Due: run-flutter-workflow

chore: set minimum deployment target to be 10.13
  qaul_ui/macos/Podfile
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
Due: run-flutter-workflow

Revert "chore: set minimum deployment target to be 10.13"
  qaul_ui/macos/Podfile
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
Due: run-flutter-workflow

chore: revert unnecessary version change, update comment on post clone script
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

[CI] Xcode Cloud -MacOS setup (#625)
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/macos/Runner.xcworkspace/contents.xcworkspacedata
  qaul_ui/macos/Runner/Info.plist
  qaul_ui/macos/Runner/Release.entitlements
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
  qaul_ui/macos/libqaul.xcodeproj/project.pbxproj
  qaul_ui/macos/libqaul.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
Due: run-flutter-workflow

fix: trigger render on network tab filter change
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_node_info_bottom_sheet.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

ci: (ios) bump xcode as 14.0.1 has been deprecated for app store publishing
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: (ios) bump xcode as 14.0.1 has been deprecated for app store publishing - version 2
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: (ios) bump podfile lock so it points to an available pod version
  .circleci/continue-config.yml
  circleci_config/config-continuation/commands/install-cocoapods-deps.yml
  qaul_ui/ios/Podfile.lock
Due: run-flutter-workflow

ci: (ios) chore - revert new resource class definition, as it's not available in our tier
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: (ios) update ios deploy job to work on new xcode 15.0.1 executor
  .circleci/continue-config.yml
  circleci_config/config-continuation/commands/checkout-project.yml
  circleci_config/config-continuation/commands/install-bundler-deps.yml
  circleci_config/config-continuation/commands/install-cocoapods-deps.yml
  circleci_config/config-continuation/commands/install-flutter-deps.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  qaul_ui/ios/Gemfile
  qaul_ui/ios/Gemfile.lock
  qaul_ui/ios/fastlane/Fastfile
Due: run-flutter-workflow

feat: Audio message recorder and player functionality implemented
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow
