Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

fix: allow submitting createAccount request thru Enter as well; attempt to fix timeout error
  qaul_ui/lib/screens/create_account_screen.dart
Due: run-flutter-workflow

fix: map internal message type's status to the qaul_rpc message status so that it's displayed to the user
  qaul_ui/lib/screens/chat/chat.dart
Due: run-flutter-workflow

refactor: simplify nav bar implementation
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/linux/flutter/generated_plugin_registrant.cc
  qaul_ui/linux/flutter/generated_plugins.cmake
  qaul_ui/macos/Flutter/GeneratedPluginRegistrant.swift
  qaul_ui/macos/Podfile.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/windows/flutter/generated_plugin_registrant.cc
  qaul_ui/windows/flutter/generated_plugins.cmake
Due: run-flutter-workflow

docs: update documentation link on README
  docs/README.md
Due: none

feat: refactor chat tab to have custom layout when in tablets/desktop
  qaul_ui/lib/screens/chat/chat.dart
  qaul_ui/lib/screens/home/tabs/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/utils.dart
  qaul_ui/lib/widgets/responsive_layout.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

make ios script executable
  rust/libqaul/build_libqaul_ios.sh
Due: run-rust-workflow

configure ios logger
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

fix: add filter logic on all-networks view to drop worst connection if repeating
  qaul_ui/lib/screens/home/dynamic_network/models/network_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/test/network_node_test.dart
Due: run-flutter-workflow

fix: path on non-android platforms; first time log storage initialization error
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
Due: run-flutter-workflow

fix: add filtering logic so as to not allow emojis to appear in the user avatar's initials
  qaul_ui/packages/utils/lib/src/remove_emoji.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/test/utils_test.dart
Due: run-flutter-workflow

chore: fix linting error
  qaul_ui/packages/utils/lib/src/remove_emoji.dart
Due: run-flutter-workflow

feat: [Flutter] add BLE permission requests on libqaul worker initialization
  qaul_ui/android/app/build.gradle
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/windows/flutter/generated_plugin_registrant.cc
  qaul_ui/windows/flutter/generated_plugins.cmake
Due: run-flutter-workflow

feat: listen for RightsRequest to trigger permission request on Android
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
Due: run-flutter-workflow

feat: add validator to enforce minimum username length
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/create_account_screen.dart
Due: run-flutter-workflow

feat: in case username contains emojis, initials() yields the first one
  qaul_ui/packages/utils/lib/src/emoji_string_manipulator.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/test/utils_test.dart
Due: run-flutter-workflow

Bugfix: User-Disappearing Routing Bug
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/router_net_info.proto
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
Due: run-rust-workflow

Optimize Routing Protocol: LQ & Metric
  docs/_sidebar.md
  docs/qaul/rust/routing.md
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/router_net_info.proto
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
  rust/libqaul/src/utilities/timestamp.rs
Due: run-rust-workflow

Optimize Routing Protocol: send users only once
  rust/clients/cli/README.md
  rust/clients/cli/src/users.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
Due: run-rust-workflow

implement re-connection functions with internet node
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

update restarted node logic
  rust/libqaul/src/router/connections.rs
Due: run-rust-workflow

DTN: Synchronize feed messages
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/router_net_info.proto
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

chore: bump rust version
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

implement routing config options and it's using
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

Message Confirmation
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

File Sharing (libqaul & cli)
  rust/clients/cli/README.md
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/fileshare.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/build.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.filesharing.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.filesharing.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul_rpc.proto
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/filesharing/filesharing_net.proto
  rust/libqaul/src/services/filesharing/filesharing_rpc.proto
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/filesharing/qaul.net.filesharing.rs
  rust/libqaul/src/services/filesharing/qaul.rpc.filesharing.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/mod.rs
Due: run-rust-workflow

upgraded to rust version 2021 and libp2p 0.42
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

Initial changes for upgrade
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

upgraded to rust-libp2p 0.42.2
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_info/src/types.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

Migrate to new version
  .gitignore
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

remove compile warnings
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

xxx
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

fix behavour process for Lan & Internet
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

added logs folder to gitignore
  .gitignore
Due: none
