Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

fix key using
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow

update key relation functions and structure
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
Due: run-rust-workflow

fix
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix nano seconds using
  rust/libqaul/src/connections/events.rs
Due: run-rust-workflow

WIP: upgrade to rust-libp2p 0.51.1
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

update libp2p2 related parts
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

fix user_account.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

Upgraded all rust libraries to latest version
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow

Finished upgrade of qaul's Network Behaviour Modules fixed Todo's in qaul's network modules. both modules use the oneshot handler.
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/lib.rs
Due: run-rust-workflow

libqaul: dependency upgrades: toml, base64, jini, android_logger
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow

upgraded libp2p to 0.52.4
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

fix address using
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

Push changes
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_info/src/types.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

chore: patch dependencies in preparation for security release; fix all dependency versions
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/build/.last_build_id
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

upgraded packages to flutter 3.16, dart 3.2
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

qaul version 2.0.0 beta 17
  CHANGELOG.md
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow, run-rust-workflow

ci: bump flutter version to fix compatibility issue
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

etc: force flutter pipeline to run
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: bump other two places where flutter version is defined
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
Due: none

Upgrade build pipeline to rust 1.74.0
  .circleci/continue-config.yml
Due: none

Android fix: upgrade to Jini 0.21.1
  rust/libqaul/src/api/android.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

ci: change resource class + xcode version combination on mac based executors
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: move back to intel-based resource class mac based executors
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

feat: Audio message recorder and player functionality implemented
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix LAN discovery
  rust/clients/cli/README.md
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

build pipeline upgrade: current rust version 1.75.0
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

added quic connection to configuration
  docs/qaul/rust/configuration.md
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

Fix: Internet gateway listening configuration
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

configuration upgrade for qaul 2.0.0-beta.17
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_17/mod.rs
Due: run-rust-workflow

ci: fixing obsolete project path
  .circleci/continue-config.yml
  circleci_config/config-continuation/commands/checkout-project.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-and-deploy-docker-qauld.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-linux-arm.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-arm-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-ios.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/build-qauld-arm-linux.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-macos.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

ci: (windows) update build path in installer script
  utilities/installers/windows/bin/build_windows_installer
Due: none

ci: (ios) debug source of pathing issue
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
Due: none

ci: attempt fix for ios/android pathing issue; attempt fix for version resolution for linux
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
Due: none

ci: attempt fix for ios/android pathing issue; attempt fix for version resolution for linux nº 2
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
Due: none

ci: attempt fix for version resolution for linux nº 3
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: attempt fix for version resolution for linux nº 4
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: attempt fix for version resolution for linux nº 5
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
