Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

fix: lint
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

fixed a libqaul panic, when a file message was empty
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

fix: avoid re-render by not updating state if the users list hasn't changed
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

feat: add FE logic that determines if the force update dialog should be displayed or not.
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/lib/main.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/force_update_test.dart
Due: run-flutter-workflow

feat: include confirmation dialog before account deletion
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/l10n/app_en.arb
Due: run-flutter-workflow

Upgrade procedure to libqaul 2.0.0 beta 19
  CHANGELOG.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/utilities/upgrade/backup.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_15/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_15/old_config.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_17/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_18/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/old_config.rs
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow, run-rust-workflow

Removed TCP stack & Upgrade to 2.0.0-rc.1
  .vscode/settings.json
  CHANGELOG.md
  docs/qaul/rust/configuration.md
  docs/qaul/rust/connecting-nodes-statically.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/cli/README.md
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/connections.proto
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/backup.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_1/mod.rs
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow, run-rust-workflow

feat: update button on force update dialog for better ux; update path and add logic for account deletion on ios, mac and android
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/main.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/widgetbook/lib/force_update_dialog.dart
  qaul_ui/widgetbook/lib/main.dart
Due: run-flutter-workflow

feat: update about screen
  qaul_ui/assets/license/agpl-3.0.md
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/about_screen.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: install widgetbook deps
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/analyze-flutter.yml
Due: none

ci: install widgetbook deps nº 2
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/analyze-flutter.yml
Due: none

removed all compile warnings
  rust/.cargo/config.toml
  rust/clients/cli/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

Updated license screen
  qaul_ui/assets/license/agpl-3.0.md
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_de.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_es.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_it.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
  qaul_ui/lib/screens/about_screen.dart
  qaul_ui/lib/screens/license_screen.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: bump flutter to version 3.19.6
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

upgrade to libp2p 0.53
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/pubspec.lock
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_info/src/types.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
  rust/libp2p_modules/qaul_messaging/src/types.rs
  rust/libp2p_modules/varint_prefixed_codec/Cargo.toml
  rust/libp2p_modules/varint_prefixed_codec/src/lib.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
Due: run-flutter-workflow, run-rust-workflow

qaul 2.0.0 Release Candidate 1
  CHANGELOG.md
Due: none

re-added TCP stack, due to Quic blocking and censorship in some networks
  CHANGELOG.md
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_1/mod.rs
Due: run-rust-workflow

feat: update app flow to check force-update before normal initialization; change copy in dialog
  qaul_ui/Makefile
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/main.dart
  qaul_ui/pubspec.yaml
  qaul_ui/widgetbook/l10n.yaml
  qaul_ui/widgetbook/lib/force_update_dialog.dart
  qaul_ui/widgetbook/lib/main.dart
  qaul_ui/widgetbook/pubspec.yaml
Due: run-flutter-workflow

print storage path to standard out
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

feat: add force update dialog widget; setup widgetbook and add use case for new widget
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/widgetbook/.gitignore
  qaul_ui/widgetbook/.metadata
  qaul_ui/widgetbook/lib/force_update_dialog.dart
  qaul_ui/widgetbook/lib/main.dart
  qaul_ui/widgetbook/lib/main.directories.g.dart
  qaul_ui/widgetbook/pubspec.yaml
  qaul_ui/widgetbook/web/favicon.png
  qaul_ui/widgetbook/web/icons/Icon-192.png
  qaul_ui/widgetbook/web/icons/Icon-512.png
  qaul_ui/widgetbook/web/icons/Icon-maskable-192.png
  qaul_ui/widgetbook/web/icons/Icon-maskable-512.png
  qaul_ui/widgetbook/web/index.html
  qaul_ui/widgetbook/web/manifest.json
Due: run-flutter-workflow

feat: add path for account deletion on linux
  qaul_ui/lib/force_update.dart
Due: run-flutter-workflow

Upgraded Flutter to version 3.22.2
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

chore: update lockfiles
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

chore: (flutter) resolve linting warnings
  qaul_ui/lib/providers/notification_controller/notification_controller.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/widgets/button_factory.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
Due: run-flutter-workflow

ci: fix "verify-version-flutter" issue with "version" pub dep
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/verify-version-flutter.yml
Due: none

ci: fix "version" pub dep name clash issue in other jobs
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

ci: fix "version" pub dep name clash issue in installer scripts
  utilities/installers/linux/snapbuild
  utilities/installers/macos/bin/dmgbuild
  utilities/installers/windows/bin/build_windows_installer
Due: none

ci: (linux) bump flutter version on snap file
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

sec: update syft config to exclude fastlane (and it's Gemfiles) from sbom
  .syft/config.yaml
Due: none

fix: snap path for version file
  qaul_ui/lib/force_update.dart
  qaul_ui/lib/main.dart
Due: run-flutter-workflow

snap: update to core22
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

Fix: achieved stable connection: 1. Linux is able to detect other devices 2. Other devices can detect Linux BLE advertisements 3. Linux device is able to recieve messages from other qaul devices
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/pubspec.lock
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-flutter-workflow, run-rust-workflow

snap: disable gles flag
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

snap: removing LD_LIBRARY_PATH, which seems to no longer be needed
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

ci: replace x86 macos executor with m1 variant
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none
