Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

refactor: [Flutter] improve logging when messages from libqaul are not translated
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
Due: run-flutter-workflow

fix: [Flutter] add "userUpate" RPC Message handler
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

Implementation of RTC-Session Management
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/groupchat.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/cli/src/rtc.rs
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.rtc.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rtc.rs
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul_rpc.proto
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/qaul.net.rtc.rs
  rust/libqaul/src/services/rtc/qaul.rpc.rtc.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/services/rtc/rtc_net.proto
  rust/libqaul/src/services/rtc/rtc_rpc.proto
Due: run-rust-workflow

protobuf messaging RTC update
  qaul_ui/packages/qaul_rpc/lib/src/generated/rpc/qaul_rpc.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/rpc/qaul_rpc.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/messaging/messaging.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/messaging/messaging.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/cpp/rpc/qaul_rpc.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/rpc/qaul_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/messaging/messaging.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/messaging/messaging.pb.h
  rust/libqaul/src/rpc/protobuf_generated/dart/rpc/qaul_rpc.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/rpc/qaul_rpc.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/messaging/messaging.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/messaging/messaging.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/net/messaging/MessagingOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/QaulRpcOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/net/messaging/MessagingKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/net/messaging/RtcMessageKt.kt
  rust/libqaul/src/rpc/protobuf_generated/swift/rpc/qaul_rpc.pb.swift
  rust/libqaul/src/rpc/protobuf_generated/swift/services/messaging/messaging.pb.swift
Due: run-flutter-workflow, run-rust-workflow

renamed GroupChat module to group
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/group.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul_rpc.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.groupchat.rs
  rust/libqaul/src/services/group/group_net.proto
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

Adding documentation for group management
  rust/clients/cli/README.md
  rust/clients/cli/src/group.rs
Due: run-rust-workflow

changed message scheduler log to trace
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

update chat service
  rust/clients/cli/src/chat.rs
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/crypto.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/group_net.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

update group service
  rust/clients/cli/Cargo.toml
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/group/group_net.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
Due: run-rust-workflow

Fixed file path for GUI
  rust/clients/cli/README.md
  rust/libqaul/src/services/filesharing/filesharing_rpc.proto
  rust/libqaul/src/services/filesharing/mod.rs
Due: run-rust-workflow

made storage_path usage OS independent
  rust/clients/cli/src/main.rs
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.filesharing.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/filesharing/qaul.rpc.filesharing.rs
  rust/libqaul/src/storage/mod.rs
Due: run-rust-workflow

refactor: merge release & debug scripts, enable option to fetch linkers dynamically
  rust/libqaul/build_android_release.sh
  rust/libqaul/build_libqaul_android.sh
Due: run-rust-workflow

update chat/group integration
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

fixed user discovery on first appearence
  rust/libqaul/src/router/info.rs
Due: run-rust-workflow

updated comments for feed requester & router_net_info
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/router_net_info.proto
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
Due: run-rust-workflow

changed SystemTime to Timestamp in neighbours table
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

android build script: added check for symbolic link, reordered options
  rust/libqaul/build_libqaul_android.sh
Due: run-rust-workflow

feat: [Flutter] integrate FileShare module with frontend
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/filesharing_translator.dart
Due: run-flutter-workflow

refactor: [Flutter] create IconButtonFactory from DefaultBackButton
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/screens/about_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/screens/support_screen.dart
  qaul_ui/lib/widgets/default_back_button.dart
Due: run-flutter-workflow

feat: implement MessageContent as its own construct, refactor UI to render different types of MessageContents
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
Due: run-flutter-workflow

feat: [Flutter] implement file sharing UI
  qaul_ui/ios/Flutter/AppFrameworkInfo.plist
  qaul_ui/ios/Podfile
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner.xcodeproj/project.pbxproj
  qaul_ui/ios/Runner/Info.plist
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/macos/Podfile
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/filesharing_translator.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix: [Flutter] fix linting errors
  qaul_ui/integration_test/src/screenshot_comparator.dart
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
Due: run-flutter-workflow

etc: fix dependency versioning on Windows
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix: [Flutter] revert linting errors that came from using the master channel
  qaul_ui/integration_test/src/screenshot_comparator.dart
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
Due: run-flutter-workflow

feat: add option on Desktop to open the file on message tap (if extension is supported)
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix: initialize EmailLoggingCoordinator after libqaul has been initialized
  qaul_ui/lib/main.dart
Due: run-flutter-workflow

etc: fix linting warnings
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

feat: render shared image files on chat UI itself
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

changed file history error message to info message
  rust/libqaul/src/services/filesharing/mod.rs
Due: run-rust-workflow

feat: add option to take picture when in mobile
  qaul_ui/ios/Runner/Info.plist
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix: display description over the shared file message
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
Due: run-flutter-workflow

fix: improve logging when errors occur on app error Zone; fix issue when referencing Logs folder on Windows
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
Due: run-flutter-workflow
