Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

upgrading libp2p 0.48: removing page service & QaulMessage
  android/.project
  android/app/.project
  android/libqaul/.project
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/page.rs
  rust/libqaul/src/types.rs
Due: run-rust-workflow

Fix async related errors
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

refactor: [Flutter] introduce libqaul interface; cap size to heartbeat queue
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/channel.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul_interface.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

Fix async issue
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

fix: [Flutter] (leak fix) replace implementation of FFI functions with Pointer interactions to make use of "using" and Arena
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
Due: run-flutter-workflow

refactor: [Flutter] clean LibqaulFFI implementation, reduce number of Function lookups
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
Due: run-flutter-workflow

ci: re-generate continue-config.yml
  .circleci/continue-config.yml
Due: none

release beta.2+757
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

removed mpsc from behaviours, fixed upgraded behaviours
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

perf: cache Base58 encoded id to reduce number of times it's calculated
  qaul_ui/packages/qaul_rpc/lib/src/models/ble_connection_status.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
Due: run-flutter-workflow

perf: use OpenSimplex2F instead of OpenSimplex2S
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
Due: run-flutter-workflow

perf: increase delta between builds on chat tab; pause game engine on network view when not in focus
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

qaul beta 3
  qaul_ui/pubspec.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

ci: give each supported platform it's own workflow on the CD pipeline
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-windows.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

release: [Flutter] v2.0.0-beta.4+766
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

feat: inject more missing static translations
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
Due: run-flutter-workflow

feat: inject dynamic GroupEvent message translations
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

chore: add portuguese translations
  qaul_ui/lib/l10n/app_pt.arb
Due: run-flutter-workflow

chore: add ukrainian static translations
  qaul_ui/lib/l10n/app_uk.arb
Due: run-flutter-workflow

chore: add indonesian static translations
  qaul_ui/lib/l10n/app_id.arb
Due: run-flutter-workflow

chore: add persian static translations
  qaul_ui/lib/l10n/app_fa.arb
Due: run-flutter-workflow

chore: add arabic static translations
  qaul_ui/lib/l10n/app_ar.arb
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
