Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

clap compatibility
  rust/clients/qauld/Cargo.toml
Due: run-rust-workflow

jni crate compatibility
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

ci: fix testing parameters on rust CI workflow
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/build-rust.yml
Due: none

Review
  android/blemodule/build.gradle
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  rust/libqaul/Cargo.toml
  rust/libqaul/build.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/mod.rs
  utilities/scripts/build-android-release.sh
Due: run-flutter-workflow, run-rust-workflow

Clean Up
  rust/libqaul/src/api/mod.rs
Due: run-rust-workflow

fix: revert confinement and change grade of snapcraft.yaml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  qaul_ui/snap/snapcraft.yaml
  utilities/installers/linux/snapbuild
Due: run-flutter-workflow

feat: listen for RightsRequest to trigger permission request on Android
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
Due: run-flutter-workflow

chore: [Flutter] update gradle version
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
Due: run-flutter-workflow

BLE end of workday commit
  android/libqaul/build.gradle
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

fix: [Flutter] compilation errors
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

feat: [Flutter] add BLE permission requests on libqaul worker initialization
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

etc: add signing identity to appdmg config.json
  utilities/installers/macos/config.json
Due: none

chore: move release templates to utilities folder
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/flutter-release-template.md
  utilities/release-templates/rust-release-template.md
Due: none

feat: add filename script to improve release descriptions
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/bin/filename
Due: none

refactor: break down the debian zip into separate assets and update template
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/bin/filename
  utilities/release-templates/rust-release-template.md
Due: none

fix active/deactive/remove internet node bug
  rust/libqaul/src/connections/mod.rs
Due: run-rust-workflow

house-keeping: documentation updates, changed errors to info & renaming
  docs/qaul/rust/connecting-nodes-statically.md
  docs/qaul/rust/debian-package.md
  rust/clients/cli/README.md
  rust/clients/cli/src/connections.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/README.md
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

qaul 2.0.0 beta 6 (build 820)
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

ci: fix CD Rust pipeline
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

feat: improve dmgbuild script with additional steps
  .gitignore
  utilities/installers/macos/bin/dmgbuild
Due: none

feat: add notarization steps on script
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/Release.entitlements
  utilities/installers/macos/bin/dmgbuild
Due: run-flutter-workflow

refactor: dmgbuild script updates
  utilities/installers/macos/bin/dmgbuild
Due: none

chore: [Flutter] Bump v2.0.0-beta.6
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: [Flutter] add -replace flag on Publish job
  .circleci/continue-config.yml
  .gitignore
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
Due: none

ci: [Flutter] bump XCode version to 14 on MacOS executor
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: revert testing configuration on Flutter CI workflow
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
Due: none

snap moved to stable & updated release templates
  qaul_ui/snap/snapcraft.yaml
  utilities/installers/linux/snapbuild
  utilities/release-templates/flutter-release-template.md
  utilities/release-templates/rust-release-template.md
Due: run-flutter-workflow

Favicon updated
  docs/_media/favicon.ico
  docs/_media/icon.png
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
