Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

refactor: [Flutter] rename "Feed" to "Public"
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/providers/providers.dart
  qaul_ui/lib/providers/tab_controller_provider.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/windows/flutter/generated_plugin_registrant.cc
  qaul_ui/windows/flutter/generated_plugins.cmake
Due: run-flutter-workflow

fix: [Flutter] lint warnings
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

feat: [Flutter] update "Public" tab FAB and the send public note dialog
  qaul_ui/lib/screens/home/tabs/public_tab.dart
Due: run-flutter-workflow

feat: [Flutter] update "Create Group" UI
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
Due: run-flutter-workflow

feat: [Flutter] add group invite UI tile and simple invite details dialog
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

feat: [Flutter] render GroupEvent messages in a distinct way
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
Due: run-flutter-workflow

refactor: remove redundant reference to module type, use class field instead
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chatfile_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/debug_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/node_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/windows/flutter/generated_plugin_registrant.cc
  qaul_ui/windows/flutter/generated_plugins.cmake
Due: run-flutter-workflow

refactor:move providers into their respective model counter-parts
  qaul_ui/packages/qaul_rpc/lib/qaul_rpc.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/ble_connection_status.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/dtn_configuration.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/node_info.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
Due: run-flutter-workflow

refactor: extract QaulTable from DTN nodes & Internet nodes list
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/qaul_table.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

fix: block option to send attachment as first message on a new chat
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix: have splashscreen be scrollable to account for small windows
  qaul_ui/lib/screens/splash_screen.dart
Due: run-flutter-workflow

fixed: group appearing in group list after invite rejection
  rust/libqaul/src/services/group/member.rs
Due: run-rust-workflow

Added Group Events: Group Created & Invite Accepted
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
Due: run-rust-workflow

group status added
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
Due: run-rust-workflow

Protobuf messages for group update for all languages
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/ble/ble.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/ble/ble_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/ble/ble_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/connections.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/node/node.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/node/user_accounts.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/router.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/router_net_info.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/rpc/debug.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/rpc/qaul_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chatfile_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chatfile_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/dtn/dtn_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/feed/feed.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/feed/feed_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/group/group_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/group/group_rpc.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/group/group_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/messaging/messaging.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/chat/ChatOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/group/GroupRpc.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/group/GroupInfoKt.kt
  rust/libqaul/src/rpc/protobuf_generated/swift/services/chat/chat.pb.swift
  rust/libqaul/src/rpc/protobuf_generated/swift/services/group/group_rpc.pb.swift
Due: run-flutter-workflow, run-rust-workflow

update default user setting
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

default name setting
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

Internet node optional activation protobuf update
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/connections.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/connections.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/connections.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/ble/ble.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/ble/ble_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/ble/ble_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/connections.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/connections/connections.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/node/node.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/node/user_accounts.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/router.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/router_net_info.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/rpc/debug.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/rpc/qaul_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chatfile_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chatfile_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/dtn/dtn_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/feed/feed.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/feed/feed_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/group/group_net.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/group/group_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/messaging/messaging.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/connections/ConnectionsOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/connections/ConnectionsKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/connections/InternetNodesEntryKt.kt
  rust/libqaul/src/rpc/protobuf_generated/swift/connections/connections.pb.swift
Due: run-flutter-workflow, run-rust-workflow

Maintained, unified & documented libqaul API structure.
  rust/clients/cli/src/main.rs
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

add enabled status into config->internet
  rust/clients/cli/src/connections.rs
  rust/libqaul/src/connections/connections.proto
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

implement port setting
  rust/clients/cli/src/main.rs
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

implement RPC for peer active/deactive
  rust/clients/cli/README.md
  rust/clients/cli/src/connections.rs
  rust/libqaul/src/connections/connections.proto
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
Due: run-rust-workflow

feat: [Flutter] integrate enable/disable logic to Internet Node
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
Due: run-flutter-workflow

feat: [Flutter] add add ipv6 node dialog
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/packages/utils/lib/src/ip_utils.dart
  qaul_ui/packages/utils/lib/utils.dart
Due: run-flutter-workflow

implement disconnecting internet peer
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

fix: [Flutter] update way that the ipv6 path is built
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

feat: [Flutter] add the new states from GroupEvent to UI
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/enums.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
Due: run-flutter-workflow

feat: [Flutter] use GroupState field to enable/disable input fields on chat room
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/enums.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
Due: run-flutter-workflow

fix: [Flutter] improve way disabled state is communicated to user when GroupStatus is InviteAccepted
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
Due: run-flutter-workflow
