Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

fix: fixes build problem on non-linux OSs due to linux ble_module
  rust/Cargo.toml
Due: run-rust-workflow

fix(server): #818 fallback to TCP for windows
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

fix(server): #818 gated mod imports
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

fix(server): #818 fallback to TCP for qauld socket
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

refactor: replace LoadingDecorator with QaulLoadingIndicator across multiple screens and remove deprecated LoadingIndicator widget
  qaul_ui/lib/decorators/loading_decorator.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/lib/screens/license_screen.dart
  qaul_ui/lib/widgets/loading_indicator.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_loading_indicator.dart
Due: run-flutter-workflow

refactor: immutable QaulColorSheet to simplify instantiation, use Brigthness in place of QaulColorMode, simplify use case to use the theme addon
  qaul_ui/packages/qaul_components/lib/styles/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/packages/qaul_components/test/qaul_navbar_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_color_sheet.dart
Due: run-flutter-workflow

Create Qaul Color Sheet in Widgetbook (#813)
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/styles/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/packages/qaul_components/test/qaul_navbar_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_color_sheet.dart
Due: run-flutter-workflow

refactor(qaul_navbar): optimize navbar item layout and tooltip positioning (#814)
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

Standardize Loading Decorator across platform (#812)
  qaul_ui/lib/decorators/loading_decorator.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/lib/screens/license_screen.dart
  qaul_ui/lib/widgets/loading_indicator.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_loading_indicator.dart
Due: run-flutter-workflow

fix: adjust spacing
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor(qaul_navbar): introduce separate vertical and horizontal layout classes for improved navbar structure
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor: simplify menu button item builder and enhance tap interaction
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor: _BarBackground stateless widget
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor: simplify render logic by using GlobalKey, inline _buildMenuButtonBase into single-caller _buildVerticalMenuButton
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

Fix navbar elements spacing (#815)
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

feat(qaul_navbar): add dynamic vertical metrics for navbar height adjustments
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

feat(qaul_navbar): enhance navbar and chat layout for iOS landscape support
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor(qaul_navbar): streamline mobile and tablet layout by removing unnecessary MediaQuery logic
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
Due: run-flutter-workflow

refactor(chat): simplify landscape handling by removing iOS-specific logic
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

refactor: use MediaQuery.orientation to determine if isLandscape
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor: remove SafeArea coupling from chat
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor: revert chat changes
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

Landscape spacing adjustment (#820)
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

feat: enhance user resolution in group handling
  qaul_ui/lib/main.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

feat: improve user resolution and caching in chat handling
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/test/chat_user_resolution_test.dart
Due: run-flutter-workflow

refactor: extract user resolution logic into store
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
Due: run-flutter-workflow

Adjust fetch of user prior to use (#822)
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/test/chat_user_resolution_test.dart
Due: run-flutter-workflow

chore: regenerate proto dart files
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_rpc.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pbjson.dart
Due: run-flutter-workflow

feat: public feed pagination support
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

feat(qaul): initial dtn implementation
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/qaul-proto/build.rs
Due: run-rust-workflow

feat(qaul): remove all unwrap calls
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/network_emul.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
Due: run-rust-workflow

test(qaul): add dtn v2 unit tests
  rust/libqaul/tests/dtn_routed_v2.rs
Due: run-rust-workflow

feat(qaul): sync impl with the spec
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/dtn_routed_v2.rs
  rust/qaul-proto/build.rs
Due: run-rust-workflow

protobuf: allow multiple BLE devices
  protobuf/generated/rust/qaul.sys.ble.rs
  protobuf/proto_definitions/connections/ble/ble.proto
Due: none

feat(ble linux): ble_module reports all available devices
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

refactor(notification_controller): add notification removal logic
  qaul_ui/lib/providers/notification_controller/notification_controller.dart
Due: run-flutter-workflow

feat(ble devices): print information of all devices
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow
