Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

Removed unused SYS channels
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

qaul 2.0.0 beta 14
  CHANGELOG.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

upgraded qaul-cli to 2.0.0 beta 14
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  rust/clients/cli/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

ci: fix Rust compilation issues
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
Due: none

ci: add missing ','
  .circleci/config.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: bump android image with an up-to-date version of NDK
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

fix: update chat menu options on every room change; remove button if no options are available
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

refactor(linux-ble): run main loop on local task
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

feat(linux-ble): send up results from main loop
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

create unix socket and qauld-ctl binary
  rust/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/socket.rs
  rust/clients/qauld/src/qauld.rs
Due: run-rust-workflow

secure the socket by setting file permissions
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/socket.rs
  rust/clients/qauld/src/qauld.rs
  rust/hj.thj
Due: run-rust-workflow

Delete hj.thj
  rust/hj.thj
Due: run-rust-workflow

libqaul: dependency upgrades: toml, base64, jini, android_logger
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow

WIP: upgrade to rust-libp2p 0.51.1
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

Fix for Dockerfile smell DL3007
  utilities/qauld-docker/Dockerfile
Due: none

Fix BLE Connection
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

refactor(linux-ble): remove main.rs and pass callback to init
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
Due: run-rust-workflow

file slicing and encryption in thread
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

refactor(ble_module): run in tokio runtime
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

ci(ble_module): apt install bluer dependencies
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
Due: none

Documentation correction: inserted correct port number to explanation
  docs/qaul/rust/configuration.md
Due: none

BLE routing table fix
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/connections.rs
Due: run-rust-workflow

feat : Add IPv6 multiaddress
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

fix: moving file slicing and encryption to thread
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat: Make LAN and Internet configurable with IPv6
  docs/qaul/rust/configuration.md
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/old_config.rs
Due: run-rust-workflow

Fix BLE Connection
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Made the amount of interfaces configurable via config file.
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

Bug Fixes
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

feat: Writing an automatic upgrade module for beta-15
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_15/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_15/old_config.rs
Due: run-flutter-workflow, run-rust-workflow

fixed upgrade peer name copy in config.yml
  qaul_ui/pubspec.yaml
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_15/mod.rs
Due: run-flutter-workflow, run-rust-workflow

Fix BLE Connection
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix: Get Node ID, on BLE message arrival from global node list
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

feat: enable background running app on Android
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow
