Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Update app_fa.arb
  qaul_ui/lib/l10n/app_fa.arb
Due: run-flutter-workflow

fix: mend messages with no ID by adding an internal ID
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
Due: run-flutter-workflow

fix: remove lint warning
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
Due: run-flutter-workflow

feat: use custom golden comparator in widget tests
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

qaul 2.0.0 beta 7 (build 781) & added CHANGELOG
  CHANGELOG.md
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

feat: add logging to chat_tab test
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/test_utils/test_responsive_widgets.dart
Due: run-flutter-workflow

added rust-libp2p update to changelog
  CHANGELOG.md
Due: none

typo fixed
  CHANGELOG.md
Due: none

fix CI install of cargo-deb
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
Due: none

ci: update rust image version to 1.64; add build-qauld to rust test workflow
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/workflows/build-rust.yml
Due: none

chore: bump rust version to trigger rust test workflow
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

ci: revert fixed cargo-deb version workaround
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
Due: none

etc: remove testing configurations
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/build-rust.yml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

fix: check if image was received prior to attempting to render it
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/enums.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
Due: run-flutter-workflow

fix: check if file was received prior to rendering icon and allowing tap
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
Due: run-flutter-workflow

feat: update Light theme's app bar text & icon color to black & grey
  qaul_ui/lib/qaul_app.dart
Due: run-flutter-workflow

fix: enfore white scaffold background on light theme
  qaul_ui/lib/qaul_app.dart
Due: run-flutter-workflow

fix: add missing hero tags
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
Due: run-flutter-workflow

feat: render user name on group chat messages on his first message sequence
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
Due: run-flutter-workflow

etc: reduce chat input font size from 19 to 17
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
Due: run-flutter-workflow

etc: have navbar icons more closely sized
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

refactor: update implementation of QaulListTile to accommodate for more consistent avatar alignment
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

feat: replace Group Settings' members table with QaulTable
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
  qaul_ui/lib/widgets/qaul_table.dart
Due: run-flutter-workflow

feat: align invite button to the end, add background color
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/widgets/button_factory.dart
Due: run-flutter-workflow

feat: minor UserDetailsBanner & UserDetailsScreen adjustments
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/user_details_banner.dart
Due: run-flutter-workflow

refactor: improve settings layout
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/dropdown_builder.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/settings_section.dart
  qaul_ui/lib/widgets/theme_select_dropdown.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

fix: remove linting warnings
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
