Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

test(shared): #541 added basic test guardrails
  tests/integration/lib/network.py
  tests/integration/lib/node.py
  tests/integration/run.py
Due: none

fix(test): updated the user discovery tests
  tests/integration/test_node_startup.py
  tests/integration/test_user_discovery.py
Due: none

test(shared): #541 added routing tests
  tests/integration/lib/node.py
  tests/integration/run_topologies.py
  tests/integration/test_route_discovery.py
  tests/integration/topologies/README.md
Due: none

test(server): #541 run correctness tests for diff topologies
  tests/integration/lib/topology.py
  tests/integration/results/.gitkeep
  tests/integration/run_topologies.py
Due: none

test(app): #541 added a runner for all routing tests
  tests/integration/run_routing_tests.py
  tests/integration/test_neighbour_detection.py
Due: none

test(shared): #541 updated errors from harness runner
  tests/integration/run_topologies.py
Due: none

chore(app): updated research doc
  docs/research/testing-framework.md
Due: none

chore(tools): #541 added new topologies
  tests/integration/topologies/grid8-4x4.json
Due: none

test(app): #541 added route stabilty tests
  tests/integration/lib/network.py
  tests/integration/test_route_discovery.py
  tests/integration/test_route_expiration.py
  tests/integration/test_route_stability.py
Due: none

test: #541 fixed apssing tests
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_user_discovery.py
Due: none

test(server): #541 initial test results
  tests/integration/results/2026-03-13-grid4-3x3.json
  tests/integration/results/2026-03-13-line-10.json
  tests/integration/results/2026-03-13-line-5.json
  tests/integration/results/2026-03-16-grid4-5x5.json
  tests/integration/results/2026-03-16-grid8-4x4.json
  tests/integration/results/2026-03-16-routing-line-5.json
  tests/integration/results/2026-03-17-routing-grid4-3x3.json
  tests/integration/results/2026-03-17-routing-grid8-4x4.json
  tests/integration/results/2026-03-17-routing-line-10.json
  tests/integration/results/2026-03-17-routing-line-5.json
Due: none

test(server): #5411 chnaged test to poll router info table
  tests/integration/test_route_expiration.py
  tests/integration/test_route_stability.py
Due: none

test(server): #541 added netwrok degradation tests
  tests/integration/lib/node.py
  tests/integration/run_network_tests.py
  tests/integration/test_degraded_links.py
  tests/integration/test_direct_messages.py
  tests/integration/test_feed_distribution.py
Due: none

feat(rust): use EWMA for RTT smoothing in neighbour tracking
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

feat: merge auto generated files
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_net.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/connections/ble/ble_rpc.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/feed_message_store_test.dart
Due: run-flutter-workflow

feat: feed pagination
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/stores.dart
Due: run-flutter-workflow

feat: implement pagination model and update feed message store initialization
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/pagination.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/test/feed_message_store_test.dart
Due: run-flutter-workflow

test(server): #541 fixed feed distribution test bug
  tests/integration/run_network_tests.py
  tests/integration/test_degraded_links.py
  tests/integration/test_direct_messages.py
  tests/integration/test_feed_distribution.py
  tests/integration/test_route_expiration.py
Due: none

test(server): #541 updated network degradation tests
  tests/integration/lib/network.py
  tests/integration/test_degraded_links.py
Due: none

feat: enhance LoadingDecorator with new properties and integrate across multiple screens
  qaul_ui/lib/decorators/loading_decorator.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/lib/screens/license_screen.dart
Due: run-flutter-workflow

test(app): #541 updated mesh routing timeouts for network tests
  tests/integration/run_network_tests.py
  tests/integration/test_degraded_links.py
  tests/integration/test_direct_messages.py
  tests/integration/test_feed_distribution.py
Due: none

test(server): #541 rewrote network tests to use bash scripts
  tests/integration/run_network_tests.py
  tests/integration/test_degraded_links.sh
  tests/integration/test_direct_messages.sh
  tests/integration/test_feed_distribution.sh
Due: none

feat(qaul_components): add QaulColorSheet for theme management and integrate with navbar
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/styles/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_color_sheet.dart
Due: run-flutter-workflow

refactor(qaul_navbar): optimize navbar item layout and tooltip positioning
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor(qaul_navbar): introduce separate vertical and horizontal layout classes for improved navbar structure
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

fix: adjust spacing
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor: simplify menu button item builder and enhance tap interaction
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

Initial setup, we use tokio to call the async function send_file_chunks. need to explore proper error detection next
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

redo of previous commit
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

move send_file_chunks to be a full blocking worker, fixed bugs, dodgy ownership:
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat(qaul: expand qaul-sim with multi-module simulation and integration tests
  rust/qaul-sim/benches/bench.rs
  rust/qaul-sim/src/integration.rs
  rust/qaul-sim/src/lib.rs
  rust/qaul-sim/src/metrics.rs
  rust/qaul-sim/src/scenarios.rs
  rust/qaul-sim/src/simulator.rs
  rust/qaul-sim/src/topology.rs
Due: run-rust-workflow

feat(qaul: instance-based State structs for services, connections, node/storage/rpc
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/storage/database.rs
  rust/libqaul/src/utilities/filelogger.rs
Due: run-rust-workflow

feat(qaul: instance-based RouterState + qaul-sim simulation crate
  rust/Cargo.toml
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/flooder.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
  rust/qaul-sim/Cargo.toml
  rust/qaul-sim/benches/bench.rs
  rust/qaul-sim/src/lib.rs
  rust/qaul-sim/src/metrics.rs
  rust/qaul-sim/src/network.rs
  rust/qaul-sim/src/scenarios.rs
  rust/qaul-sim/src/simulator.rs
  rust/qaul-sim/src/topology.rs
Due: run-rust-workflow

feat(qaul): deprecate global state variables
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/utilities/filelogger.rs
  rust/qaul-sim/Cargo.toml
  rust/qaul-sim/src/scenarios.rs
  rust/qaul-sim/src/simulator.rs
Due: run-rust-workflow

feat(qaul): remove all global state variables
  rust/libqaul/Cargo.toml
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/flooder.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/network_emul.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/storage/database.rs
  rust/libqaul/src/storage/mod.rs
  rust/libqaul/src/utilities/filelogger.rs
Due: run-rust-workflow

refactor(qaul): collapse redundant forwarding layers after instance-based refactoring
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

rebased, moved file copy back out of threading, and rmeoved unnecessary cloning
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat: account management implementation, v1
  rust/.gitignore
  rust/clients/cli/README.md
  rust/clients/cli/src/user_accounts.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/account_management.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/storage/database.rs
Due: run-rust-workflow

fix: fixes build problem on non-linux OSs due to linux ble_module
  rust/Cargo.toml
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
