Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

refactor: adjust file size handling by replacing filesize package with custom fileSize function.
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/packages/utils/lib/src/file_size.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

Remove unsupported filesize dependency and recreate it internally (#716)
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/image_message_widget.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/utils/lib/src/file_size.dart
  qaul_ui/packages/utils/lib/src/file_size_descriptor.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/test/file_size_test.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

refactor: remove bubble package dependency and related imports and implement then locally
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/utils/lib/src/bubble.dart
  qaul_ui/packages/utils/lib/src/bubble_clipper.dart
  qaul_ui/packages/utils/lib/src/bubble_edges.dart
  qaul_ui/packages/utils/lib/src/bubble_painter.dart
  qaul_ui/packages/utils/lib/src/bubble_style.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

refactor: remove unused library declaration from bubble.dart
  qaul_ui/packages/utils/lib/src/bubble.dart
Due: run-flutter-workflow

feat: add tests to solidify internal implementation
  qaul_ui/packages/utils/test/bubble_test.dart
Due: run-flutter-workflow

refactor: simplify BubbleClipper and BubblePainter by removing unused parameters and the BubbleStyle class
  qaul_ui/packages/utils/lib/src/bubble.dart
  qaul_ui/packages/utils/lib/src/bubble_clipper.dart
  qaul_ui/packages/utils/lib/src/bubble_painter.dart
  qaul_ui/packages/utils/lib/src/bubble_style.dart
Due: run-flutter-workflow

refactor: remove unnecessary bubble edges class, keep code in a single file, add license reference
  docs/licenses/THIRD_PARTY_LICENSES.md
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/utils/lib/src/bubble.dart
  qaul_ui/packages/utils/lib/src/bubble_clipper.dart
  qaul_ui/packages/utils/lib/src/bubble_edges.dart
  qaul_ui/packages/utils/lib/src/bubble_painter.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/test/bubble_test.dart
Due: run-flutter-workflow

Remove unsupported `Bubble` dependency and recreate it internally (#717)
  docs/licenses/THIRD_PARTY_LICENSES.md
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/utils/lib/src/bubble.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/test/bubble_test.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

refactor: remove open_simplex_2 dependency and related imports, add local implementation
  qaul_ui/packages/utils/lib/src/grad.dart
  qaul_ui/packages/utils/lib/src/open_simplex_2.dart
  qaul_ui/packages/utils/lib/src/open_simplex_2f.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

refactor: remove Grad2 and Grad3 classes, clean up open_simplex_2.dart file
  qaul_ui/packages/utils/lib/src/grad.dart
  qaul_ui/packages/utils/lib/src/open_simplex_2.dart
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

refactor: keep code in a single file, add license reference
  docs/licenses/THIRD_PARTY_LICENSES.md
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/packages/utils/lib/src/grad.dart
  qaul_ui/packages/utils/lib/src/noise.dart
  qaul_ui/packages/utils/lib/src/open_simplex_2.dart
  qaul_ui/packages/utils/lib/src/open_simplex_2f.dart
  qaul_ui/packages/utils/lib/utils.dart
Due: run-flutter-workflow

Remove unsupported `open_simplex_2` dependency and recreate it internally (#718)
  docs/licenses/THIRD_PARTY_LICENSES.md
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/packages/utils/lib/src/noise.dart
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

test: add state providers test as migration safety net
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/providers/state_providers_migration_test.dart
Due: run-flutter-workflow

refactor: migrate state providers to notifier provider
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/ble_connection_status.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/dtn_configuration.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/node_info.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/security_number.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
Due: run-flutter-workflow

refactor: migrate lib files
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

fix: adjust state warnings
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/ble_connection_status.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/dtn_configuration.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/node_info.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/security_number.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/dtn_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/node_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/providers/state_providers_migration_test.dart
Due: run-flutter-workflow

added research section
  docs/research/AUTHENTICATION.md
  docs/research/AUTHENTICATION_SECURITY_ANALYSIS.md
  docs/research/MESSAGING_STRUCTURE.md
  docs/research/UPGRADE_LIBP2P_0.56_REPORT.md
  docs/research/architecture-modular-connections.md
  docs/research/message_structure_comparison.md
  docs/research/p2p_library_comparison.md
Due: none

libp2p upgrade, replace async-std with tokio, add end to end testing script
  rust/clients/cli/Cargo.toml
  rust/clients/cli/src/main.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/main.rs
  rust/e2e_test.py
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

feat(libqaul): Add Libqaul struct for instance-based state management
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/storage/database.rs
  rust/libqaul/src/storage/mod.rs
Due: run-rust-workflow

Clean up comments
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/services/mod.rs
Due: run-rust-workflow

Actually use instance based API
  rust/clients/cli/src/main.rs
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/storage/mod.rs
Due: run-rust-workflow

fix: adjust and solve no message error
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/test/chat_room_equality_and_notifier_test.dart
Due: run-flutter-workflow

Fix chat UI not updating when opening conversation (#722)
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/test/chat_room_equality_and_notifier_test.dart
Due: run-flutter-workflow

feat(server): #541 initial working code for qauld unix socket server
  rust/clients/qauld/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

test(libqaul): Add integration tests for instance-based API
  rust/libqaul/Cargo.toml
  rust/libqaul/tests/api_thread.rs
  rust/libqaul/tests/config_persistence.rs
  rust/libqaul/tests/instance_init.rs
Due: run-rust-workflow

feat: add pagination support to user(_online)_request
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
Due: run-rust-workflow

feat: add tests to validate pagination support
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

chore: regenerate dart users protobuf
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
Due: run-flutter-workflow

feat(server): #541 handled reading and writing to socket server
  rust/clients/cli/src/authentication.rs
  rust/clients/cli/src/ble.rs
  rust/clients/cli/src/debug.rs
  rust/clients/cli/src/feed.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/node.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/cli/src/user_accounts.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/socket.rs
  rust/libqaul/build.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/timestamp.rs
Due: run-rust-workflow

Add ble encryption
  rust/libqaul/src/connections/ble/ble_net.proto
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/ble/qaul.net.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.ble.rs
Due: run-rust-workflow

refactor(server): #541 update qauld socket srver to split responses
  rust/clients/qauld/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

WIP: better GATT messaging
  qaul_ui/android/blemodule/.gitignore
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
  qaul_ui/android/blemodule/src/main/proto/ble.proto
  qaul_ui/pubspec.lock
  rust/ble_module/src/ble/ble_service.rs
  rust/clients/cli/src/ble.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
  rust/libqaul/src/connections/ble/ble.proto
  rust/libqaul/src/connections/ble/ble_net.proto
  rust/libqaul/src/connections/ble/ble_rpc.proto
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/ble/qaul.net.ble.rs
  rust/libqaul/src/connections/ble/qaul.rpc.ble.rs
  rust/libqaul/src/connections/ble/qaul.sys.ble.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.sys.ble.rs
  rust/libqaul/src/utilities/qaul_id.rs
  utilities/scripts/run-android.sh
Due: run-flutter-workflow, run-rust-workflow

test(libqaul): Add BLE crypto integration tests
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

fix(ble): Fix race condition, restrict field visibility, add proto newline
  rust/libqaul/src/connections/ble/ble_net.proto
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

fix(ci): Align libp2p versions and runtime to fix build
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/tests/api_thread.rs
  rust/libqaul/tests/config_persistence.rs
Due: run-rust-workflow
