Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

chore: update macos configuration to allow for the sending of audio messages
  qaul_ui/macos/Podfile
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/DebugProfile.entitlements
  qaul_ui/macos/Runner/Info.plist
  qaul_ui/macos/Runner/Release.entitlements
Due: run-flutter-workflow

fixed a libqaul panic, when a file message was empty
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat: improve ux by isolating the audio sending into a separate dialog
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/utils.dart
Due: run-flutter-workflow

Feat: Enable audio-chat feature for Linux.
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

Feat: Enable audio-chat feature for windows .
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

Fix: Update UI toolkit for microphone
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_de.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_es.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_it.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

refactor: update audio message widget ui
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

Fix : Fixed attachment, images, and audio message url for Windows.
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

chore: update android configuration to allow for the sending of audio messages
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

chore: update ios configuration to allow for the sending of audio messages
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner/Info.plist
Due: run-flutter-workflow

refactor: simplify code, allow macos audio messages
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
Due: run-flutter-workflow

Feature/314 ble linux (#1)
  rust/Cargo.toml
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/mod.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

fix(ble): import generated protobuf from libqaul
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
Due: run-rust-workflow

style: remove unused UUID
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

added ble_module to libqaul for linux
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

refactor(linux-ble): remove main.rs and pass callback to init
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
Due: run-rust-workflow

Removed unused SYS channels
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

created a library out of the ble_module
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

refactor(linux-ble): run main loop on local task
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

feat(linux-ble): send up results from main loop
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

refactor(ble_module): run in tokio runtime
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Fix: spawn async task for join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Debug: transfer adapter to async_std spawned task
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Updated the deprecated state::Storage
  rust/ble_module/src/rpc/mod.rs
Due: run-rust-workflow

Debug: connecting to other bluetooth qaul devices
  .gitignore
  .vscode/settings.json
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

added Security Policy
  SECURITY.md
Due: none

ci: (macos) pin flutter version on xcode cloud env
  qaul_ui/macos/ci_scripts/ci_post_clone.sh
Due: run-flutter-workflow

ci: (macos) update entitlements so that xcode properly signs libqaul.dylib
  qaul_ui/macos/Info.plist
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/libqaul.entitlements
  qaul_ui/macos/libqaul.xcodeproj/project.pbxproj
  qaul_ui/macos/libqaul.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  qaul_ui/macos/libqaul.xcodeproj/xcshareddata/xcschemes/libqaul.dylib (cdylib).xcscheme
Due: run-flutter-workflow

fix: avoid re-render by not updating state if the users list hasn't changed
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

chore: update fastlane to fix dependency vulnerability
  qaul_ui/android/Gemfile.lock
Due: run-flutter-workflow

chore: update fastlane to fix dependency vulnerability - ios
  qaul_ui/ios/Gemfile.lock
Due: run-flutter-workflow

feat: add FE logic that determines if the force update dialog should be displayed or not.
  qaul_ui/lib/force_update_overlay.dart
  qaul_ui/lib/main.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/force_update_test.dart
Due: run-flutter-workflow

print storage path to standard out
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

ci: install widgetbook deps
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/analyze-flutter.yml
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
