Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

add IPv6 qaul Community Node to default configuration
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

remove all build warnings
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

fix: windows - unique configuration to replace unsupported bit rate & sample rate
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fixed flutter linting error
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
Due: run-flutter-workflow

chore: address issues pertaining to running the app in debug
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  qaul_ui/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
  qaul_ui/ios/Runner/AppDelegate.swift
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/AppDelegate.swift
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

chore: update ios configuration to allow for the sending of audio messages
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner/Info.plist
Due: run-flutter-workflow

fix: file path resolution on windows
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

ci: (snap) skip fmedia install if on arm
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: load file path on message widget initState
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

feat: improve ux by isolating the audio sending into a separate dialog
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/utils.dart
Due: run-flutter-workflow

feat: disable recording on Linux ARM ; Prevent file from being accessed before it's downloaded ; Tweak codec to reduce file size
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix: rebasing issues
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

chore: macos - update pod dependencies
  qaul_ui/macos/Podfile.lock
Due: run-flutter-workflow

Feat: Enable audio-chat feature for Linux.
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix: getDuration should just invoke the method, not re-set the source
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

patch: disable recording on linux due to unsupported library
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

refactor: update audio message widget ui
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

ci: (snap) update snapcraft definition so dependencies are available during compilation/runtime
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

feat: Audio message recorder and player functionality implemented
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

Fix: Update UI toolkit for microphone
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_de.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_es.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_it.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

chore: update android configuration to allow for the sending of audio messages
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

ci: (snap) fix - add missing |
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

Feat: Enable audio-chat feature for windows .
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

refactor: simplify code, allow macos audio messages
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
Due: run-flutter-workflow

chore: update macos configuration to allow for the sending of audio messages
  qaul_ui/macos/Podfile
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/DebugProfile.entitlements
  qaul_ui/macos/Runner/Info.plist
  qaul_ui/macos/Runner/Release.entitlements
Due: run-flutter-workflow

Fix : Fixed attachment, images, and audio message url for Windows.
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

qaul 2.0.0-rc.2
  CHANGELOG.md
Due: none

ci: update flutter version, update android executor's image version
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: downgrade android executor's image version due to incompatible java version (21 instead of 17)
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: ios - attempt to use preinstalled pyenv, rubyenv, as we're now on a new circleci mac image
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
Due: none

ci: revert - ios - attempt to use preinstalled pyenv, rubyenv, as we're now on a new circleci mac image
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
Due: none

ci: linux - update machine executor, as previous used ones have been deprecated
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: linux - update machine executor, as previous used ones have been deprecated - nº 2
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

chore: ios - update deps, bump version number, update fastlane
  qaul_ui/ios/Gemfile.lock
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner.xcodeproj/project.pbxproj
  qaul_ui/ios/Runner/Info.plist
Due: run-flutter-workflow

chore: bumped andorid target SDK to 34
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/libqaul/build.gradle
Due: run-flutter-workflow

fix: replace deprecated "onPopInvoked" method
  qaul_ui/lib/screens/home/home_screen.dart
Due: run-flutter-workflow

HotFix: Reversed blinking Network View, because the new view never updated.
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
