Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

patch: temporarily hiding android options
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

Group Conversation Feature
  rust/.gitignore
  rust/clients/bridge/Cargo.toml
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/rpc.rs
  rust/clients/bridge/src/users.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

Cleaning up the code
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

Adding help command
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Acknowledging the qaul user name when the message arrives in matrix
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

Only Allow Admins to Invite
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

fix: account for ahead of time message in Feed, yield "now" or "a moment ago" instead of throwing error
  qaul_ui/packages/utils/lib/utils.dart
  qaul_ui/packages/utils/test/utils_test.dart
Due: run-flutter-workflow

1.Crash issue fixed for all version 2.Make changes for device discover issue and 10 min issue.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

1.Fix issue of "no device became unavailable message received on"
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

1. Make changes for device discover issue and 10 min issue.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

1. Make changes for device discover issue.
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Added all additional CHANGELOG changes for Beta 16
  CHANGELOG.md
Due: none

fixed a rust warning in CLI client
  rust/clients/cli/src/chat.rs
Due: run-rust-workflow

Fixed: The first message in a new group now always starts at 0
  rust/libqaul/src/services/chat/storage.rs
Due: run-rust-workflow

libqaul RPC: return request_id for group module
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/group/mod.rs
Due: run-rust-workflow

added additional beta 16 libqaul fixes to CHANGELOG
  CHANGELOG.md
Due: none

fixed debian links in github release template
  utilities/release-templates/release-template.md
Due: none

chore: remove newly added plugs
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

ci: bump Flutter version on Windows Release Pipeline
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
Due: none

Made Android permissions more restrictive
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

Allowing multiple users in a matrix room, Removing the users from Matrix
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

feat: reinstate android options section, add Privacy Policy link and pop-up explaining bg execution
  qaul_ui/lib/dialogs/android_background_execution_dialog.dart
  qaul_ui/lib/helpers/navigation_helper.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/about_android_background_execution_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

feat: add explanation pop-up prior to requesting location permissions on android 11 & below
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PreferenceManager.kt
  qaul_ui/android/app/src/main/res/values-night/styles.xml
  qaul_ui/android/app/src/main/res/values/styles.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
Due: run-flutter-workflow

feat: adding padding to pop-up and defining HTTPS in queries for Android
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/lib/dialogs/android_background_execution_dialog.dart
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

chore: remove unused commit
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

updated scripts & docs for current android process
  docs/qaul/flutter/android.md
  rust/libqaul/build_libqaul_android.sh
  utilities/scripts/build-android-release.sh
Due: run-rust-workflow

CI: removed unsupported i686 (x86) target from android rust build
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
Due: none

fix: prominently disclose location permission on all supported versions
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PermissionHandler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
Due: run-flutter-workflow

Adding group-info on the matrix menu
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Removed Background Location Permissions
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
