Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

fix(app): #880 3.2's third propagation-form trigger
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/node/account_management.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/receive/routing_update.rs
  rust/libqaul/src/router_v2/receive/translate.rs
  rust/libqaul/src/router_v2/state/expiry.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/state/neighbours.rs
  rust/libqaul/src/router_v2/tests/propagation_form.rs
  rust/libqaul/src/router_v2/tests/self_and_neighbour_registration.rs
  rust/libqaul/src/router_v2/tests/sweep.rs
  rust/libqaul/src/router_v2/tests/translate.rs
Due: run-rust-workflow

feat(app): #880 chunk INDEX_DUMP
  docs/protocols/Qaul-Routing-Protocol.md
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive/translate.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/tests/handle_index_dump.rs
  rust/libqaul/src/router_v2/tests/mapping_sphere.rs
  rust/libqaul/src/router_v2/tests/mod.rs
  rust/libqaul/src/router_v2/tests/profile_version.rs
  rust/libqaul/src/router_v2/tests/received.rs
Due: run-rust-workflow

fix(app): #880 hosted users should send message to each other
  rust/Cargo.lock
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router_v2/forwarding.rs
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/state/lookup.rs
  rust/libqaul/src/router_v2/tests/forwarding.rs
  rust/libqaul/src/router_v2/tests/self_entry_rejection.rs
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

fix: exit code 1 on data upgrade failure
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

Telemetry re-enabled for development branch. Includes an additional background location permission to improve gps when screens off
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/FlutterBackgroundService.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PermissionHandler.kt
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

fix(app): #880 fixed spheres routing
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/tests/mapping_sphere.rs
Due: run-rust-workflow

fix(server): #880 fixed sending mgmt msgs past the first hop
  docs/protocols/Qaul-Routing-Protocol.md
  rust/clients/qauld/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/delegation.rs
  rust/libqaul/src/router_v2/management/forwarding.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/state/hosted_users.rs
  rust/libqaul/src/router_v2/tests/delegation.rs
  rust/libqaul/src/router_v2/tests/management.rs
Due: run-rust-workflow

fix(ui): adjust iOS spacing and hover targets
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/button_factory.dart
  qaul_ui/lib/widgets/responsive_layout.dart
  qaul_ui/lib/widgets/responsive_scaffold.dart
  qaul_ui/packages/qaul_components/lib/design_components/settings/qaul_settings_menu_item.dart
  qaul_ui/packages/qaul_components/lib/design_components/settings/qaul_settings_option_item.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_page_header.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/search_scaffold.dart
  qaul_ui/packages/qaul_components/lib/design_components/users/user_search_scaffold.dart
Due: run-flutter-workflow

feat(app): #880 make the client surface work under v2
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router_v2/state/mod.rs
  rust/libqaul/src/router_v2/state/v1_bridge.rs
  rust/libqaul/src/router_v2/tests/mod.rs
  rust/libqaul/src/router_v2/tests/v1_bridge.rs
Due: run-rust-workflow

feat: #880 added inspector views for v2 routing
  protobuf/generated/rust/qaul.rpc.router.rs
  protobuf/proto_definitions/router/router.proto
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/state/mod.rs
  rust/libqaul/src/router_v2/state/neighbours.rs
  rust/libqaul/src/router_v2/state/v1_bridge.rs
  rust/libqaul/src/router_v2/state/v2_inspect.rs
Due: run-rust-workflow

feat: #880 added delegation and manifest views to qauld-ctl
  protobuf/generated/rust/qaul.rpc.router.rs
  protobuf/proto_definitions/router/router.proto
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router_v2/state/v2_inspect.rs
  rust/qaul-proto/build.rs
  tests/integration/convergence.sh
Due: run-rust-workflow

fix(chat): restore Enter-to-send and input lock in the chat footer
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

Apply chat footer on main (#950)
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_recording.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer/chat_footer.dart
  qaul_ui/packages/qaul_components/test/chat_footer_reply_preview_test.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/chat_tab/fixtures.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

fix(navbar): include pending group invites in chat badge count
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
Due: run-flutter-workflow

Simplify and adjust chat notification handling (#965)
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
Due: run-flutter-workflow

fix(ui): adjust iOS spacing and hover targets (#975)
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/button_factory.dart
  qaul_ui/lib/widgets/responsive_layout.dart
  qaul_ui/lib/widgets/responsive_scaffold.dart
  qaul_ui/packages/qaul_components/lib/design_components/settings/qaul_settings_menu_item.dart
  qaul_ui/packages/qaul_components/lib/design_components/settings/qaul_settings_option_item.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_page_header.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/search_scaffold.dart
  qaul_ui/packages/qaul_components/lib/design_components/users/user_search_scaffold.dart
Due: run-flutter-workflow

fix(libqaul): resolve the signed-in account instead of config index 0
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/dtn/mod.rs
Due: run-rust-workflow

fix: #880 reintroducec idx when a node turns to gateway
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive/manifest_apply.rs
  rust/libqaul/src/router_v2/state/lookup.rs
  rust/libqaul/src/router_v2/state/v2_inspect.rs
  rust/libqaul/src/router_v2/tests/handle_node_manifest.rs
  rust/libqaul/src/router_v2/tests/mapping_sphere.rs
Due: run-rust-workflow

feat(chat): prepare design-system chat footer
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
Due: run-flutter-workflow

feat(chat): add forward message flow
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/forward_recipient_selector.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

feat(chat): refine forward recipient selector
  qaul_ui/lib/screens/home/tabs/chat/widgets/forward_recipient_selector.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix: #880 propagting node tables
  rust/libqaul/src/router_v2/propagation.rs
  tests/integration/convergence.sh
Due: run-rust-workflow

fix: #880 mgmt protocol timeout
  docs/protocols/Qaul-Routing-Protocol.md
  protobuf/generated/rust/qaul.net.router_management.rs
  protobuf/proto_definitions/router/router_management.proto
  rust/libqaul/src/router_v2/delegation.rs
  rust/libqaul/src/router_v2/management/delegation.rs
  rust/libqaul/src/router_v2/management/forwarding.rs
  rust/libqaul/src/router_v2/management/mod.rs
  rust/libqaul/src/router_v2/management/profile.rs
  rust/libqaul/src/router_v2/state/origin_manifest.rs
  rust/libqaul/src/router_v2/tests/delegation.rs
  rust/libqaul/src/router_v2/tests/management.rs
  rust/libqaul/src/router_v2/tests/self_delegation.rs
  rust/libqaul/src/storage/configuration.rs
  tests/integration/convergence.sh
Due: run-rust-workflow

Minor adjustements/fixes + more telemetry:
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/l2cap/L2capChannel.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
Due: run-flutter-workflow

UUIDs updated to match android, qaul id included in adverts
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

protobuf: allow multiple BLE devices
  protobuf/generated/rust/qaul.sys.ble.rs
  protobuf/proto_definitions/connections/ble/ble.proto
Due: none

feat(ble linux): ble_module reports all available devices
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

feat(ble devices): log and store all reported BLE devices
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

feat(chat): add copy message action
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(chat): remove copied feedback underline
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix(chat): match copied feedback design
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(chat): allow copied feedback to expand
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(chat): localize copy feedback
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_de.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_es.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_it.arb
  qaul_ui/lib/l10n/app_localizations.dart
  qaul_ui/lib/l10n/app_localizations_ar.dart
  qaul_ui/lib/l10n/app_localizations_de.dart
  qaul_ui/lib/l10n/app_localizations_en.dart
  qaul_ui/lib/l10n/app_localizations_es.dart
  qaul_ui/lib/l10n/app_localizations_fa.dart
  qaul_ui/lib/l10n/app_localizations_fr.dart
  qaul_ui/lib/l10n/app_localizations_id.dart
  qaul_ui/lib/l10n/app_localizations_it.dart
  qaul_ui/lib/l10n/app_localizations_pt.dart
  qaul_ui/lib/l10n/app_localizations_ru.dart
  qaul_ui/lib/l10n/app_localizations_tr.dart
  qaul_ui/lib/l10n/app_localizations_uk.dart
  qaul_ui/lib/l10n/app_localizations_zh.dart
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_ru.arb
  qaul_ui/lib/l10n/app_tr.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix(chat): clear copy feedback on room changes
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

fix(ble linux): don't panic when no BLE adapter is available
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

refactor(ble devices): tidy info_received
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

feat(ble linux): ble_module: start the BLE device by device_id
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

feat(ble devices): select BLE adapter via ble.device_id in config
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

feat(chat): add reusable mention components
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_mentions.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/test/chat_mentions_test.dart
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
