Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

fix(ble linux): fixes linux ble_module panick when no BLE device is available
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Unread message counter doesn’t reset on tab selection (#824)
  qaul_ui/lib/providers/notification_controller/notification_controller.dart
Due: run-flutter-workflow

fix: change chat room message handling and state management
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
Due: run-flutter-workflow

refactor: logs and tests
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
  qaul_ui/test/chat_room_equality_and_notifier_test.dart
Due: run-flutter-workflow

fix: adjust avatar and isGroupChatRoom error
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
Due: run-flutter-workflow

refactor: improve overflow menu button and adjust notification button
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_navbar.dart
Due: run-flutter-workflow

fix: adjust test and analyze
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
Due: run-flutter-workflow

feat: add unread message count display in chat list tiles
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

fix: tab navigation with index tab sync
  qaul_ui/lib/providers/home_screen_tab_controller_provider.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/test/providers/home_screen_controller_test.dart
Due: run-flutter-workflow

feat: adjust navbar layout for iOS landscape support and improve background color handling
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

refactor: improve readability
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
Due: run-flutter-workflow

New chat room shows own user’s avatar before first message (#826)
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
Due: run-flutter-workflow

Adjust status check (#825)
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/test/chat_room_equality_and_notifier_test.dart
Due: run-flutter-workflow

Improve overflow menu button and adjust notification button (#827)
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_navbar.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
Due: run-flutter-workflow

Add badge counter to chat room (#828)
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

fix: tab navigation with index tab sync (#829)
  qaul_ui/lib/providers/home_screen_tab_controller_provider.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/test/providers/home_screen_controller_test.dart
Due: run-flutter-workflow

chore: reinstate/add the usage of non-trivial local variables
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

Adjust iOS safe area (#830)
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

feat(qaul): encoded user info/profile
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/generated/rust/qaul.rpc.user_accounts.rs
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/node/user_accounts.proto
  protobuf/proto_definitions/router/router_net_info.proto
  protobuf/proto_definitions/router/users.proto
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix: navbar chat counter post first message
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/test/providers/chat_notification_controller_test.dart
Due: run-flutter-workflow

fix: landscape mode safe area management
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
  qaul_ui/test/test_utils/test_responsive_widgets.dart
Due: run-flutter-workflow

ci: address libqaul deployment pipeline issues
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  utilities/qauld-docker/Dockerfile
Due: none

ci: address libqaul deployment pipeline issues
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
Due: none

ci: address libqaul deployment pipeline issues
  .circleci/continue-config.yml
  .claude/projects/-Users-brenodt-dev-qaul-qaul-net/memory/feedback_code_style.md
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
Due: none

ci: address qaul_ui deployment pipeline issues
  .circleci/continue-config.yml
  .claude/projects/-Users-brenodt-dev-qaul-qaul-net/memory/feedback_code_style.md
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-flutter-linux-arm.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  qaul_ui/snap/snapcraft.yaml
  utilities/installers/linux/snapbuild
Due: run-flutter-workflow

improve: android - forground execution flow
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/FlutterBackgroundService.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

fix ci
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/src/commands/users.rs
Due: run-rust-workflow

fix router issue
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/tests/instance_init.rs
Due: run-rust-workflow

feat(ble linux): ble_module: start the BLE device by device_id
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

Initial setup, we use tokio to call the async function send_file_chunks. need to explore proper error detection next
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

move send_file_chunks to be a full blocking worker, fixed bugs, dodgy ownership:
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

redo of previous commit
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

rebased, moved file copy back out of threading, and rmeoved unnecessary cloning
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

rmeoved unnecessary clones and moved file copy back out of the async function
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

Comments improved
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat: search module impl
  rust/libqaul/Cargo.toml
  rust/libqaul/src/lib.rs
  rust/libqaul/src/search/mod.rs
Due: run-rust-workflow

feat: implement messenger search
  protobuf/generated/rust/qaul.rpc.chat.rs
  protobuf/proto_definitions/services/chat/chat.proto
  rust/clients/cli/README.md
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/search/mod.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/search.rs
  rust/libqaul/src/services/chat/storage.rs
Due: run-rust-workflow

Simplify code, refactor
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

simplify
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow
