Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

ci: refactor executors from defined jobs
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-ios.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/jobs/verify-version-flutter.yml
  circleci_config/config-continuation/jobs/verify-version-rust.yml
Due: none

chore: improve circleci documentation
  circleci_config/README.md
  circleci_config/scripts/pack.sh
  docs/qaul.net-manual/circleci-configuration.md
  docs/qaul.net-manual/circleci.md
  docs/qaul.net-manual/images/circleci_artifacts_tab.png
  docs/qaul.net-manual/images/circleci_workflow.png
Due: none

impl file sharing
  rust/libqaul/build.rs
  rust/libqaul/src/services/filesharing/filesharing_net.proto
  rust/libqaul/src/services/filesharing/filesharing_rpc.proto
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/mod.rs
Due: run-rust-workflow

refactor: rename workflows and flutter jobs so that they all follow the same naming convention
  .circleci/config.yml
  circleci_config/.README.md
  circleci_config/jobs/analyze-flutter.yml
  circleci_config/jobs/build-and-deploy-flutter-android.yml
  circleci_config/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/jobs/build-flutter-linux.yml
  circleci_config/jobs/build-flutter-macos.yml
  circleci_config/jobs/build-flutter-windows.yml
  circleci_config/jobs/test-flutter.yml
  circleci_config/workflows/build-and-deploy-flutter.yml
  circleci_config/workflows/build-and-deploy-rust.yml
Due: none

ci: reorder circleci_config folder to allow for two yml configurations, enable dynamic configuration
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/.scripts/pack.sh
  circleci_config/README.md
  circleci_config/config-continuation/@config.yml
  circleci_config/config-continuation/commands/checkout-project.yml
  circleci_config/config-continuation/commands/install-bundler-deps.yml
  circleci_config/config-continuation/commands/install-cocoapods-deps.yml
  circleci_config/config-continuation/commands/install-flutter-deps.yml
  circleci_config/config-continuation/commands/install-flutter.yml
  circleci_config/config-continuation/commands/restore-sccache-cache.yml
  circleci_config/config-continuation/commands/save-sccache-cache.yml
  circleci_config/config-continuation/commands/setup-sccache.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/analyze-flutter.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-ios.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/jobs/test-flutter.yml
  circleci_config/config-continuation/jobs/verify-version-flutter.yml
  circleci_config/config-continuation/jobs/verify-version-rust.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust.yml
  circleci_config/config-continuation/workflows/build-rust.yml
  circleci_config/config-setup/@config.yml
  circleci_config/config-setup/workflows/setup.yml
  circleci_config/scripts/pack.sh
  qaul_ui/lib/main.dart
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: add circleci config.yml validation pre-commit hook
  lefthook.yml
Due: none

refactor: integrate configuration with circleci config pack specs
  .circleci/config.yml
  circleci_config/.README.md
  circleci_config/.scripts/pack.sh
  circleci_config/@config.yml
  circleci_config/commands/checkout-project.yml
  circleci_config/commands/install-bundler-deps.yml
  circleci_config/commands/install-cocoapods-deps.yml
  circleci_config/commands/install-flutter-deps.yml
  circleci_config/commands/install-flutter.yml
  circleci_config/commands/restore-sccache-cache.yml
  circleci_config/commands/save-sccache-cache.yml
  circleci_config/commands/setup-sccache.yml
  circleci_config/executors/@executors.yml
  circleci_config/jobs/android-beta-deploy.yml
  circleci_config/jobs/build-libqaul-android.yml
  circleci_config/jobs/build-libqaul-ios.yml
  circleci_config/jobs/build-libqaul-linux.yml
  circleci_config/jobs/build-libqaul-macos.yml
  circleci_config/jobs/build-libqaul-windows.yml
  circleci_config/jobs/flutter-analyze.yml
  circleci_config/jobs/flutter-test.yml
  circleci_config/jobs/ios-beta-deploy.yml
  circleci_config/jobs/linux-flutter-build.yml
  circleci_config/jobs/macos-flutter-build.yml
  circleci_config/jobs/publish-flutter-github-release.yml
  circleci_config/jobs/publish-rust-github-release.yml
  circleci_config/jobs/verify-version-flutter.yml
  circleci_config/jobs/verify-version-rust.yml
  circleci_config/jobs/windows-flutter-build.yml
  circleci_config/workflows/flutter-build-and-deploy.yml
  circleci_config/workflows/rust-build-and-deploy.yml
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

etc: add circleci status badge onto project's README.md
  README.md
Due: none

chore: update readme and script
  circleci_config/.README.md
  circleci_config/.scripts/pack.sh
Due: none

impl file message processing
  rust/libqaul/Cargo.toml
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/services/filesharing/filesharing_net.proto
  rust/libqaul/src/services/filesharing/filesharing_rpc.proto
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
Due: run-rust-workflow

Return correct storage path on Desktop Systems
  rust/libqaul/src/rpc/debug.rs
Due: run-rust-workflow

change the path of the storage location to the Containers Data folder on MacOS
  rust/libqaul/src/api/mod.rs
Due: run-rust-workflow

refactor: replace external log package with internal coordinator, leave log responsibility to logging package
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/info_provider.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/storage_manager.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/screens/support_screen.dart
  qaul_ui/packages/logger/.gitignore
  qaul_ui/packages/logger/.metadata
  qaul_ui/packages/logger/lib/logger.dart
  qaul_ui/packages/logger/lib/src/logger.dart
  qaul_ui/packages/logger/pubspec.lock
  qaul_ui/packages/logger/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

refactor: reorganize storage manager and add logging statements to it
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
Due: run-flutter-workflow

refactor: reorganize email logging coordinator, add log statements
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/coordinators/email_logging_coordinator/log_storage_manager.dart
Due: run-flutter-workflow

refactor: add all initialization on main() over to Initializer class
  qaul_ui/lib/main.dart
Due: run-flutter-workflow

feat: integrate new debug logging messages with logging utility
  qaul_ui/ios/Runner/Info.plist
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/screens/support_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/debug_translator.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

feat: recursively search for logs folder within root provided by libqaul
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

feat: initialize libqaul logs with cached logging state
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/main.dart
Due: run-flutter-workflow

feat: allow for sending reports if only libqaul has available logs
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/screens/support_screen.dart
Due: run-flutter-workflow

RPC: added listening addresses to node info
  qaul_ui/packages/qaul_rpc/lib/src/generated/node/node.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/node/node.pbjson.dart
  qaul_ui/pubspec.lock
  rust/clients/cli/src/node.rs
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/node.proto
  rust/libqaul/src/node/qaul.rpc.node.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/cpp/node/node.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/node/node.pb.h
  rust/libqaul/src/rpc/protobuf_generated/dart/node/node.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/node/node.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/node/NodeOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/node/NodeInformationKt.kt
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/node/NodeKt.kt
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.node.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/node/node.pb.swift
Due: run-flutter-workflow, run-rust-workflow

feat: [qaul_ui] add BLE module integration to qaul_rpc
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/ble_connection_status.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
Due: run-flutter-workflow

feat: add node info on user account tab
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/node_info.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/node_translator.dart
Due: run-flutter-workflow

bug fix, extend file sharing functions
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/fileshare.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul_rpc.proto
  rust/libqaul/src/services/filesharing/filesharing_net.proto
  rust/libqaul/src/services/filesharing/filesharing_rpc.proto
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/mod.rs
Due: run-rust-workflow

qaul Security Documentation
  docs/qaul.net-manual/qaulId.md
  docs/qaul.net-manual/security.md
Due: none

security docs update
  docs/qaul.net-manual/security.md
Due: none

security documentation small typo fixes
  docs/qaul.net-manual/security.md
Due: none

fix bug, impl file history command
  rust/clients/cli/src/fileshare.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/services/filesharing/filesharing_rpc.proto
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

upgraded to rust version 2021 and libp2p 0.42
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

upgraded to rust-libp2p 0.42.2
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_info/src/types.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

Initial changes for upgrade
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

libqaul version update 0.3.0
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

feat: (Rust) add cross-compilation support for MacOS
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  rust/libqaul/build_libqaul_macos.sh
Due: run-rust-workflow

refactor: (Flutter) use release version of compiled Rust library on Windows build
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  utilities/installers/windows/bin/build_windows_installer
Due: run-flutter-workflow

ci: change tag regexes
  .circleci/config.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
