Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

ci: update android pipelines
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

ci: update android pipelines - fix cp cmd
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

libqaul RPC: return request_id for group module
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/group/mod.rs
Due: run-rust-workflow

docs: update documentation regarding android compilation
  docs/qaul/flutter/android.md
Due: none

chore: update android configuration to have it compile against Flutter 3.10.5 locally on M1
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/build.gradle
Due: run-flutter-workflow

1. Make changes for device discover issue.
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fixed: The first message in a new group now always starts at 0
  rust/libqaul/src/services/chat/storage.rs
Due: run-rust-workflow

fix: revert code changes on network tab
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: disable deprecated_member_use warning from analyzer
  qaul_ui/analysis_options.yaml
Due: run-flutter-workflow

etc: replace HasTappablesBridge with deprecated HasTappables for now
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
Due: run-flutter-workflow

feat: proof of concept implementation of android foreground service
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/FlutterBackgroundService.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PermissionHandler.kt
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/main.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

feat: add option to enable/disable background execution
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PreferenceManager.kt
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

feat: opening the app when tapping on the sticky background notification
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/FlutterBackgroundService.kt
Due: run-flutter-workflow

fix: remove error from Android 12 when opening the app and not defining the proper pending intent
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/FlutterBackgroundService.kt
Due: run-flutter-workflow

refactor: remove exit button in favor of allowing user to terminate app from recents
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/main.dart
Due: run-flutter-workflow

feat: change lock type for wi-fi
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/FlutterBackgroundService.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

feat: add background execution explanation screen
  qaul_ui/assets/about/android_background_execution.md
  qaul_ui/lib/helpers/navigation_helper.dart
  qaul_ui/lib/screens/about_android_background_execution_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fix: crypto session generation via DTN.
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/protobuf_build_scripts/files.txt
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.crypto.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/services/crypto/crypto_net.proto
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/qaul.net.crypto.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

fix: possible libqaul crash due to mal formatted group ID received from RPC
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/services/chat/message.rs
Due: run-rust-workflow

1. Make changes for device discover issue and 10 min issue.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

patch: temporarily hiding android options
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow
