Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

fix(ci): Pin sccache install with --locked flag
  .circleci/continue-config.yml
Due: none

fix(ci): Pin time crate versions for rustc 1.87 compatibility
  .circleci/continue-config.yml
Due: none

test(libqaul): Add BLE crypto integration tests
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

fix(ble): Fix race condition, restrict field visibility, add proto newline
  rust/libqaul/src/connections/ble/ble_net.proto
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

fix: fixed panick of ble_module on tokio spawn_local
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Add ble encryption
  rust/libqaul/src/connections/ble/ble_net.proto
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/ble/qaul.net.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.ble.rs
Due: run-rust-workflow

feat: add protobuf structures for user profile and DTN
  rust/libqaul/src/node/userprofile_net.proto
Due: run-rust-workflow

feat: add pagination support to FeedMessageRequest
  rust/clients/cli/src/feed.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.feed.rs
  rust/libqaul/src/services/feed/feed.proto
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/feed/qaul.rpc.feed.rs
Due: run-rust-workflow

feat(app): #541 feed command
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

fix: removed unused functions
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

refactor: use new libp2p protocol convention names
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

fix: removed compile warnings
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

refactor: (wip) frontend store abstraction to improve orchestration and composition, removing it from the ui logic
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
Due: run-flutter-workflow

refactor: abstract pagination metadata so we dont need providers
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/network_tab.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/dtn_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_tab_test.dart
Due: run-flutter-workflow

refactor: optimize user update logic
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
Due: run-flutter-workflow

fix: solve analyze errors
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_tab_test.dart
Due: run-flutter-workflow

refactor: streamline user update process by simplifying data handling
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
Due: run-flutter-workflow

feat: implement user pagination
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_tab_test.dart
Due: run-flutter-workflow

refactor: enhance user tab loading state management with LoadingDecorator
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
Due: run-flutter-workflow

fix: adjust minor inconsistencies and remove unused cases
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

feat(server): #541 group commands
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

refactor: fix feed message and implement getByUserId with tests
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

First code for radio streaming implementation
  rust/libqaul/Cargo.toml
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/radio_streamer.rs
Due: run-rust-workflow

Create RADIO_STREAMER.md
  rust/libqaul/src/services/RADIO_STREAMER.md
Due: run-rust-workflow

Integration test for new ble gatt protocol
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/gatt_protocol.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/tests/ble_gatt_protocol.rs
Due: run-rust-workflow

refactor(router): clean up users module interfaces
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

perf(router): reduce users module allocations
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

feat(server): #541 added the chat commands
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
