Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

ci: attempt fix for version resolution for ios; update fastlane
  qaul_ui/ios/Flutter/AppFrameworkInfo.plist
  qaul_ui/ios/Gemfile.lock
  qaul_ui/ios/Podfile
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner.xcodeproj/project.pbxproj
  qaul_ui/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

ci: attempt fix for version resolution for ios; update fastlane
  qaul_ui/ios/Runner.xcodeproj/project.pbxproj
Due: run-flutter-workflow

ci: update release notes
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/release-template.md
Due: none

[CI] Flutter pipeline updates (#614)
  .circleci/continue-config.yml
  circleci_config/config-continuation/commands/checkout-project.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-and-deploy-docker-qauld.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-linux-arm.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-arm-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-ios.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/build-qauld-arm-linux.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-macos.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  qaul_ui/ios/Flutter/AppFrameworkInfo.plist
  qaul_ui/ios/Gemfile.lock
  qaul_ui/ios/Podfile
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner.xcodeproj/project.pbxproj
  qaul_ui/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  utilities/installers/windows/bin/build_windows_installer
Due: run-flutter-workflow

Feature/314 ble linux (#1)
  rust/Cargo.toml
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/mod.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

fix(ble): import generated protobuf from libqaul
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
Due: run-rust-workflow

style: remove unused UUID
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

added ble_module to libqaul for linux
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

created a library out of the ble_module
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Removed unused SYS channels
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

refactor(linux-ble): run main loop on local task
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

feat(linux-ble): send up results from main loop
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

refactor(linux-ble): remove main.rs and pass callback to init
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
Due: run-rust-workflow

refactor(ble_module): run in tokio runtime
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

ci: create job to generate sbom
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/generate-sbom.yaml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-windows.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-windows.yml
  circleci_config/config-continuation/workflows/generate-sbom.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: test sbom pipeline nº2
  .circleci/config.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: test sbom pipeline nº3
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

ci: test sbom pipeline nº4
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/generate-sbom.yml
Due: none

ci: test sbom pipeline nº5
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

ci: test sbom pipeline nº6
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

feat: sbom generation script, update qaul_ui/android so that it can use cyclonedx for sbom generation
  .syft/config.yaml
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/ExampleInstrumentedTest.kt
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/core/BleWrapperClassTest.kt
  qaul_ui/android/blemodule/src/test/java/net/qaul/ble/ExampleUnitTest.kt
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.jar.old
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
  qaul_ui/android/gradlew.bat.old
  qaul_ui/android/gradlew.old
  qaul_ui/android/init.gradle
  qaul_ui/android/libqaul/build.gradle
  qaul_ui/android/libqaul/src/androidTest/java/net/qaul/libqaul/ExampleInstrumentedTest.kt
  qaul_ui/android/libqaul/src/test/java/net/qaul/libqaul/ExampleUnitTest.kt
  rust/.gitignore
  utilities/scripts/build-sbom.sh
Due: run-flutter-workflow, run-rust-workflow

ci: create job to generate sbom
  .circleci/config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/generate-sbom.yaml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-windows.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-android.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-ios.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-linux.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-macos.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-windows.yml
  circleci_config/config-continuation/workflows/generate-sbom.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

ci: test sbom pipeline nº3
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

ci: test sbom pipeline nº4
  circleci_config/config-continuation/workflows/generate-sbom.yml
Due: none

ci: test sbom pipeline nº5
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

ci: test sbom pipeline nº6
  circleci_config/config-continuation/jobs/generate-sbom.yaml
Due: none

feat: update generated continue-config.yml
  .circleci/continue-config.yml
Due: none

feat: Audio message recorder and player functionality implemented
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: update macos configuration to allow for the sending of audio messages
  qaul_ui/macos/Podfile
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/macos/Runner/DebugProfile.entitlements
  qaul_ui/macos/Runner/Info.plist
  qaul_ui/macos/Runner/Release.entitlements
Due: run-flutter-workflow

chore: update android configuration to allow for the sending of audio messages
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

chore: update ios configuration to allow for the sending of audio messages
  qaul_ui/ios/Podfile.lock
  qaul_ui/ios/Runner/Info.plist
Due: run-flutter-workflow

refactor: update audio message widget ui
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/audio_message_widget.dart
Due: run-flutter-workflow

refactor: simplify code, allow macos audio messages
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/file_sharing.dart
Due: run-flutter-workflow

Do not crash if bluetoothLeAdvertiser.startAdvertising fails
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

sled: remove sled_extension, save bincode directly
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/storage/database.rs
Due: run-rust-workflow

feat: update node creation dialog
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/qaul_table.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
Due: run-flutter-workflow

fix: block user dialog
  qaul_ui/lib/screens/home/user_details_screen.dart
Due: run-flutter-workflow
