Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

feat(crypto): Phase 1 — Noise KK session rotation primitives
  plan.md
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
Due: run-rust-workflow

feat(crypto): Phase 2 — wire rotation triggers, dispatch, drain ticker
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

feat(crypto): Phase 3 — CryptoRotation config RPC + CLI
  protobuf/generated/rust/qaul.rpc.crypto.rs
  protobuf/generated/rust/qaul.rpc.rs
  protobuf/proto_definitions/rpc/qaul_rpc.proto
  protobuf/proto_definitions/services/crypto/crypto_rpc.proto
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/crypto.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/src/lib.rs
Due: run-rust-workflow

feat(crypto): Phase 3 (cont.) — rotation event surface
  protobuf/generated/rust/qaul.rpc.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_rpc.proto
  rust/clients/cli/src/crypto.rs
  rust/libqaul/src/services/crypto/events.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

test(crypto): Phase 2 unit tests for rotation-aware helpers
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

test(crypto): Phase 4 — clean-rotation-under-load integration test
  tests/integration/lib/node.py
  tests/integration/test_crypto_rotation_clean.py
Due: none

test(crypto): Phase 4 — rotation during offline peer
  tests/integration/test_crypto_rotation_offline.py
  tests/integration/topologies/line-5-isolated4.json
Due: none

feat(crypto): Phase 4a — manual rotate RPC + qauld-ctl crypto subcommand
  protobuf/generated/rust/qaul.rpc.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_rpc.proto
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/crypto.rs
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/crypto.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/crypto/events.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

test(crypto): Phase 4 — grace-window expiry
  tests/integration/test_crypto_rotation_grace.py
Due: none

test(crypto): Phase 4 — simultaneous rotation by both peers
  tests/integration/test_crypto_rotation_simultaneous.py
Due: none

test(crypto): Phase 4 — rotation across qauld restart
  tests/integration/test_crypto_rotation_restart.py
Due: none

feat(crypto): Phase 5 — capability-gated rollout
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/proto_definitions/router/router_net_info.proto
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

docs(crypto): concept document for Noise KK session rotation
  docs/protocols/Noise-Session-Rotation.md
Due: none

Delete plan.md
  plan.md
Due: none

chore(proto): regenerate Dart and Swift group RPC stubs for pagination fields
  protobuf/generated/swift/services/group/group_rpc.pb.swift
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pbjson.dart
Due: run-flutter-workflow

feat(cli): add offset/limit pagination to group list and invited commands
  rust/clients/cli/README.md
  rust/clients/cli/src/group.rs
  rust/clients/qauld-ctl/src/commands/group.rs
Due: run-rust-workflow

feat(group): add offset/limit pagination to GroupList and GroupInvited
  protobuf/generated/rust/qaul.rpc.group.rs
  protobuf/proto_definitions/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/mod.rs
Due: run-rust-workflow

chore(proto): regenerate dart feed proto with SendMessageResponse
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/feed/feed.pbjson.dart
Due: run-flutter-workflow

feat(libqaul): echo back request_id for Feed Send
  protobuf/generated/rust/qaul.rpc.feed.rs
  protobuf/proto_definitions/services/feed/feed.proto
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

refactor(notification): update PublicNotificationController to use FeedMessage and improve data handling
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/decorator/nav_bar_test_stubs.dart
  qaul_ui/test/feed_message_store_test.dart
Due: run-flutter-workflow

feat: enhance message handling in LibqaulWorker and FeedTranslator
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
Due: run-flutter-workflow

fix: simplify user store listener syntax
  qaul_ui/lib/stores/feed_message_store.dart
Due: run-flutter-workflow

docs(crypto): proposal for queuing encrypted messages during KK msg 1
  docs/proposals/Handshake-Extras-During-Session-Creation.md
Due: none

feat(crypto): wire format and CryptoState fields for handshake extras
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

feat(crypto): add HandshakeExtras configuration
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

feat(crypto): primitives for handshake-extras encrypt and decrypt
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

test(crypto): unit tests for handshake-extras primitives
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

feat(connections): persist BLE active flag in config.yaml
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

feat(connections): wire BLE into Transports RPC dispatch
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

feat(cli): add transports list/enable/disable commands
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/cli/src/transports.rs
Due: run-rust-workflow

docs(transports): document the dynamic transport trait + per-transport active flag
  docs/qaul/rust/configuration.md
  docs/qaul/rust/transports.md
  rust/clients/cli/README.md
Due: run-rust-workflow

feat: implement pagination for chat rooms and group invites
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

fix: adjust analyze
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/chat_user_resolution_test.dart
  qaul_ui/test/providers/chat_notification_controller_test.dart
Due: run-flutter-workflow

feat: implement messenger search
  protobuf/generated/rust/qaul.rpc.chat.rs
  protobuf/proto_definitions/services/chat/chat.proto
  rust/clients/cli/README.md
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/search/mod.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/search.rs
  rust/libqaul/src/services/chat/storage.rs
Due: run-rust-workflow

feat: search module impl
  rust/libqaul/Cargo.toml
  rust/libqaul/src/lib.rs
  rust/libqaul/src/search/mod.rs
Due: run-rust-workflow

chore(proto): regenerate dart chat proto with search messages
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbjson.dart
Due: run-flutter-workflow

Refactor Migrate feed methods (#859)
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/public_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/decorator/nav_bar_test_stubs.dart
  qaul_ui/test/feed_message_store_test.dart
Due: run-flutter-workflow

fix(ui): address chat pagination review feedback
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

Chat room pagination (#861)
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/chat_user_resolution_test.dart
  qaul_ui/test/providers/chat_notification_controller_test.dart
Due: run-flutter-workflow

feat(ui): add ChatRoom and RoomMetaMessage components
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_message.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_room.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/widgets/room_meta_message.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/chat_room.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/room_meta_message.dart
Due: run-flutter-workflow
