Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

fix: add system-observe to plugs
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: add system-observe to plugs #2
  utilities/installers/linux/snapbuild
Due: none

fix: add system-observe to plugs #3
  utilities/installers/linux/snapbuild
Due: none

fix: attempt to set confinement to classic
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: attempt to set confinement to devmode
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: attempt to set confinement to devmode #2
  utilities/installers/linux/snapbuild
Due: none

fix: attempt to set confinement to devmode #3
  utilities/installers/linux/snapbuild
Due: none

fix: attempt to define layout to have liblibqaul.so present inside snap
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/snap/snapcraft.yaml
  utilities/installers/linux/snapbuild
Due: run-flutter-workflow

fix: attempt to define layout to have liblibqaul.so present inside snap #2
  utilities/installers/linux/snapbuild
Due: none

fix: attempt to use the dump plugin to have liblibqaul.so inside the snap
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: attempt to use the dump plugin to have liblibqaul.so inside the snap #2
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: attempt to use the dump plugin to have liblibqaul.so inside the snap #3
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

feat: update snapcraft configuration to allow for libqaul.so to be available from within the snap environment
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

Create app_es.arb
  qaul_ui/app_es.arb
Due: run-flutter-workflow

moved Spanish translation to translation folder
  qaul_ui/lib/l10n/app_es.arb
Due: run-flutter-workflow

fixed Spanish translation format
  qaul_ui/lib/l10n/app_es.arb
Due: run-flutter-workflow

chore: snapcraft updates
  qaul_ui/linux/CMakeLists.txt
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

chore: update snapcraft so that it doesn't hang on an empty window
  qaul_ui/lib/l10n/app_fr.arb
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: attempt to define LD_LIBRARY_PATH in order for liblibqaul.so to point to the right libc file
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: attempt to define LD_LIBRARY_PATH in order for liblibqaul.so to point to the right libc file #2
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: attempt building the snap using lxd instead
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  utilities/installers/linux/snapbuild
Due: none

snap: added `network-control` snap plugs
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: disble EmailLoggingCoordinator inside snap - it works again!
  qaul_ui/.gitignore
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/ffi.dart
Due: run-flutter-workflow

feat: add support for loading system default on first screen
  qaul_ui/lib/qaul_app.dart
Due: run-flutter-workflow

qaul ID bytes to string logging function
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

debug file reformatted
  rust/libqaul/src/rpc/debug.rs
Due: run-rust-workflow

added debug logs
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

fix: add zenity as a stage dependency for running the app from within the snap
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

Flutter: added missing Android BLE permission
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

Android BLE comments: TODO catch permission result
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
Due: none

chore: update to Flutter 3.7.0
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

fix: prevent UI crash when loading locale on linux, which uses UTF8
  qaul_ui/lib/qaul_app.dart
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
