Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

HotFix: Reversed blinking Network View, because the new view never updated.
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

fix: replace deprecated "onPopInvoked" method
  qaul_ui/lib/screens/home/home_screen.dart
Due: run-flutter-workflow

chore: linux - bump flutter version tag on snapcraft
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

chore: linux - remove dropped dependency in fmedia
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

fix: flutter - layout in "add node" dialog preventing proper render
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

chore: windows - bump flutter version on circleci
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
Due: none

chore: windows - bump flutter version on circleci nº 2
  .circleci/continue-config.yml
Due: none

patch: fork of libp2p with updated system-configuration dep via if-watch
  rust/Cargo.toml
Due: run-rust-workflow

chore: mobile - bump navbar height factor slightly to avoid rounding issue with overflow
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

fix: set network filters's alignment to be bottom center to avoid stack unpredictable gesture detection behavior on mobile
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
Due: run-flutter-workflow

Revert "patch: fork of libp2p with updated system-configuration dep via if-watch"
  rust/Cargo.toml
Due: run-rust-workflow

chore: lint
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

etc: make layout only affect ios devices
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
Due: run-flutter-workflow

fix: prevent keyboard from overlaying the text field on file/image share bottom sheet dialogs on ios
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

chore: bump gemfile dependencies for android
  qaul_ui/android/Gemfile.lock
Due: run-flutter-workflow

chore: flutter - bump shared_preferences to 2.4.2
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: flutter - replace discontinued uni_links with app_links
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

chore: flutter - update to flutter version 3.27.2
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  qaul_ui/devtools_options.yaml
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/packages/local_notifications/lib/src/local_notifications.dart
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/lib/src/image_manipulation.dart
  qaul_ui/packages/utils/lib/src/ip_utils.dart
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

deps: upgrade rust-libp2p to version 0.55.0, upgraded all rust libraries
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

chore: created Changelog entry for 2.0.0 Release Candidate 3
  CHANGELOG.md
Due: none

chore: update riverpod to v2.6.1
  qaul_ui/lib/coordinators/email_logging_coordinator/email_logging_coordinator.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/support_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chatfile_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/debug_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/dtn_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/node_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

chore: macos - move libqaul and remove unused scheme so flutter run works
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  qaul_ui/macos/Runner.xcworkspace/contents.xcworkspacedata
  qaul_ui/macos/Runner/AppDelegate.swift
  qaul_ui/macos/libqaul.xcodeproj/xcshareddata/xcschemes/libqaul.dylib (cdylib).xcscheme
  qaul_ui/macos/libqaul/libqaul.entitlements
  qaul_ui/macos/libqaul/libqaul.xcodeproj/project.pbxproj
  qaul_ui/macos/libqaul/libqaul.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  qaul_ui/macos/libqaul/libqaul.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Due: run-flutter-workflow

feat: convert DynamicNetworkScreen into a stateful widget to prevent unnecessary re-renders
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
Due: run-flutter-workflow

add qaul mesh graphics to README
  docs/README.md
  docs/_media/qaul-features.jpg
  docs/_media/qaul-mesh.jpg
  docs/_media/qaul-net.png
Due: none

deps: updated rust sub-libraries to current versions
  rust/clients/cli/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libp2p_modules/varint_prefixed_codec/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

docs: fixed graphics paths
  docs/README.md
  docs/_coverpage.md
Due: none

fix: include children in equatable props for the network node
  qaul_ui/lib/screens/home/dynamic_network/models/network_node.dart
Due: run-flutter-workflow

docs: added conventional commits specification
  docs/qaul/commit-guidelines.md
Due: none

chore: fix github security warning due to github bug because of unused removed file.
  emberweb/yarn.lock
Due: none

chore: removed empty placeholder file
  emberweb/yarn.lock
Due: none
