Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

test(server): #541 initial test results
  tests/integration/results/2026-03-13-grid4-3x3.json
  tests/integration/results/2026-03-13-line-10.json
  tests/integration/results/2026-03-13-line-5.json
  tests/integration/results/2026-03-16-grid4-5x5.json
  tests/integration/results/2026-03-16-grid8-4x4.json
  tests/integration/results/2026-03-16-routing-line-5.json
  tests/integration/results/2026-03-17-routing-grid4-3x3.json
  tests/integration/results/2026-03-17-routing-grid8-4x4.json
  tests/integration/results/2026-03-17-routing-line-10.json
  tests/integration/results/2026-03-17-routing-line-5.json
Due: none

test(app): dsd
  tests/integration/run_network_tests.py
Due: none

test(server): #541 set permission socket
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

test(shared): #541 updated errors from harness runner
  tests/integration/run_topologies.py
Due: none

feat(server): #541 added json flag for outpus
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

feat(shared): #541 added router subcommands to enable tests
  docs/research/testing-framework.md
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

fix(tests): #541 added print statements
  tests/integration/lib/node.py
  tests/integration/run.py
  tests/integration/test_user_discovery.py
Due: none

test(app): #541 added message routing tests
  tests/integration/test_message_routing.py
Due: none

test(app): #541 added a runner for all routing tests
  tests/integration/run_routing_tests.py
  tests/integration/test_neighbour_detection.py
Due: none

fix(test): updated the user discovery tests
  tests/integration/test_node_startup.py
  tests/integration/test_user_discovery.py
Due: none

fix: updated node discovery intervals
  .gitignore
  tests/integration/test_user_discovery.py
Due: none

test(app): #541 updated test scripts for periodical sentinels
  tests/integration/run_network_tests.py
  tests/integration/test_degraded_links.sh
Due: none

test(server): #5411 chnaged test to poll router info table
  tests/integration/test_route_expiration.py
  tests/integration/test_route_stability.py
Due: none

test(server): #541 updated test suites
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_user_discovery.py
Due: none

feat(server): #541 added json printing to other commands
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

fix(stores): make UsersStore.getByUserID dedup race-safe
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

refactor(flutter): streamline chat and group management by introducing GroupStore and updating chat-related logic (#838)
  qaul_ui/lib/main.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/stores/group_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

refactor: improve layout and accessibility of navigation items in the navbar
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
Due: run-flutter-workflow

feat: add QaulChatBubble widget
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_chat_bubble.dart
Due: run-flutter-workflow

feat(qaul: instance-based RouterState + qaul-sim simulation crate
  rust/Cargo.toml
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/flooder.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
  rust/qaul-sim/Cargo.toml
  rust/qaul-sim/benches/bench.rs
  rust/qaul-sim/src/lib.rs
  rust/qaul-sim/src/metrics.rs
  rust/qaul-sim/src/network.rs
  rust/qaul-sim/src/scenarios.rs
  rust/qaul-sim/src/simulator.rs
  rust/qaul-sim/src/topology.rs
Due: run-rust-workflow

feat(qaul: instance-based State structs for services, connections, node/storage/rpc
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/storage/database.rs
  rust/libqaul/src/utilities/filelogger.rs
Due: run-rust-workflow

feat(qaul: expand qaul-sim with multi-module simulation and integration tests
  rust/qaul-sim/benches/bench.rs
  rust/qaul-sim/src/integration.rs
  rust/qaul-sim/src/lib.rs
  rust/qaul-sim/src/metrics.rs
  rust/qaul-sim/src/scenarios.rs
  rust/qaul-sim/src/simulator.rs
  rust/qaul-sim/src/topology.rs
Due: run-rust-workflow

feat(qaul): deprecate global state variables
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/utilities/filelogger.rs
  rust/qaul-sim/Cargo.toml
  rust/qaul-sim/src/scenarios.rs
  rust/qaul-sim/src/simulator.rs
Due: run-rust-workflow

feat(qaul): remove all global state variables
  rust/libqaul/Cargo.toml
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/flooder.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/network_emul.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/storage/database.rs
  rust/libqaul/src/storage/mod.rs
  rust/libqaul/src/utilities/filelogger.rs
Due: run-rust-workflow

refactor(qaul): collapse redundant forwarding layers after instance-based refactoring
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/sys.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

Simplify code, refactor
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

fix router issue
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/tests/instance_init.rs
Due: run-rust-workflow

feat(qaul): sync impl with the spec
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/dtn_routed_v2.rs
  rust/qaul-proto/build.rs
Due: run-rust-workflow

test(qaul): add dtn v2 unit tests
  rust/libqaul/tests/dtn_routed_v2.rs
Due: run-rust-workflow

feat(qaul): remove all unwrap calls
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/network_emul.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
Due: run-rust-workflow

feat(qaul): initial dtn implementation
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/qaul-proto/build.rs
Due: run-rust-workflow

feat(qaul): encoded user info/profile
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/generated/rust/qaul.rpc.user_accounts.rs
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/node/user_accounts.proto
  protobuf/proto_definitions/router/router_net_info.proto
  protobuf/proto_definitions/router/users.proto
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

simplify
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix ci
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/src/commands/users.rs
Due: run-rust-workflow

feat(qaul): add preferred custody route to user profile
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/generated/rust/qaul.rpc.user_accounts.rs
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/node/user_accounts.proto
  protobuf/proto_definitions/router/router_net_info.proto
  protobuf/proto_definitions/router/users.proto
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix(libqaul): finish instance-based refactor so the branch compiles
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

bench(qaul-sim): exclude simulator setup/drop from timed region
  rust/qaul-sim/benches/bench.rs
Due: run-rust-workflow

fix(clients): thread instance/state through clients after libqaul refactor
  rust/clients/cli/src/users.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat: replace flutter pub get with custom scripts for dependency management and testing
  .circleci/continue-config.yml
  circleci_config/config-continuation/commands/install-flutter-deps.yml
  circleci_config/config-continuation/jobs/analyze-flutter.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/test-flutter.yml
  docs/qaul/README.md
  docs/qaul/flutter/dependencies-and-tests.md
  qaul_ui/Makefile
  qaul_ui/README.md
  qaul_ui/bin/fluttergetall.sh
  qaul_ui/bin/fluttertestall.sh
Due: run-flutter-workflow
