Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

Fix for multiple device found
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix BLE Connection
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix: send feed messages via BLE
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

I have read the CLA Document and I hereby sign the CLA
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
Due: run-flutter-workflow

Android BLE comments: TODO catch permission result
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
Due: none

1. Fixing reconnect issue.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

BLE module: Additional log messages
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix BLE Connection
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

added debug logs
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Fixed BLE node identification messages (workaround)
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Fix Permission Issue
  android/blemodule/build.gradle
  android/blemodule/src/main/AndroidManifest.xml
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/pubspec.lock
  rust/libqaul/build_libqaul_android.sh
Due: run-flutter-workflow, run-rust-workflow

debug file reformatted
  rust/libqaul/src/rpc/debug.rs
Due: run-rust-workflow

Fix ble service issue on blemodule
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

Fixed code for building
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/build.gradle
Due: none

Fix compilation issue for flutter app
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

Flutter: added missing Android BLE permission
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

Fix for re-connection issue
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

circle-ci: updated rust version to 1.69.0
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

Add Libqaul & Blemodule(android) interface module.
  android/blemodule/build.gradle
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  rust/libqaul/src/api/android.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

BLE end of workday commit
  android/libqaul/build.gradle
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

BLE routing table fix
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/connections.rs
Due: run-rust-workflow

fixed linux android build
  qaul_ui/android/gradle.properties
  rust/libqaul/build_libqaul_android.sh
  utilities/scripts/run-android.sh
Due: run-flutter-workflow, run-rust-workflow

remove local settings from android folder
  qaul_ui/android/.gitignore
  qaul_ui/android/.settings/org.eclipse.buildship.core.prefs
Due: run-flutter-workflow

qaul 2.0.0 beta 16
  CHANGELOG.md
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

ci: set fixed name to deb files, as depending on the pipeline they won't be available to populate the description
  qaul_ui/lib/qaul_app.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

etc: attempt update on snapcraft to force flutter version
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

etc: fix snapcraft configuration using flutter from git rather than plugin
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

feat: enable configuration to run snap on rpi4
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

ci: add step to build snap on arm
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-flutter-linux-arm.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-linux.yml
  utilities/installers/linux/snapbuild
  utilities/release-templates/release-template.md
Due: none

feat: have snap configuration fixed for compiling on arm
  qaul_ui/pubspec.lock
  qaul_ui/snap/snapcraft.yaml
Due: run-flutter-workflow

ci: set arm build as dependency for release
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-linux.yml
  circleci_config/scripts/pack.sh
Due: none

ci: bump Flutter versions on executors to 3.10
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: bump Flutter versions on executors to 3.10.5, change image registry of cirrusci to ghcr
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

fix: flutter linter
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/pubspec.lock
  qaul_ui/test/test_utils/test_responsive_widgets.dart
Due: run-flutter-workflow

fix: skipping widget tests temporarily to unblock pipeline pass
  qaul_ui/test/chat_tab/chat_tab_test.dart
Due: run-flutter-workflow

[feature] snap on arm64 - raspberry pi (#568)
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-flutter-linux-arm.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-linux.yml
  circleci_config/scripts/pack.sh
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/test_utils/test_responsive_widgets.dart
  utilities/installers/linux/snapbuild
  utilities/release-templates/release-template.md
Due: run-flutter-workflow

docs: update documentation regarding android compilation
  docs/qaul/flutter/android.md
Due: none

chore: update android configuration to have it compile against Flutter 3.10.5 locally on M1
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/build.gradle
Due: run-flutter-workflow
