Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Fix: spawn async task for join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

refactor(linux-ble): remove main.rs and pass callback to init
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
Due: run-rust-workflow

Feature/314 ble linux (#1)
  rust/Cargo.toml
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/mod.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

created a library out of the ble_module
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Debug: spawn join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

style: remove unused UUID
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

added ble_module to libqaul for linux
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

feat(linux-ble): send up results from main loop
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

Fix: WriteCharacterstic Api for version 33
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
Due: run-flutter-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Debug: Spawn Rust Async thread
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.yaml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

Fix: achieved stable connection: 1. Linux is able to detect other devices 2. Other devices can detect Linux BLE advertisements 3. Linux device is able to recieve messages from other qaul devices
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-flutter-workflow, run-rust-workflow

Updated the deprecated state::Storage
  rust/ble_module/src/rpc/mod.rs
Due: run-rust-workflow

Optimize sender and reciever flow
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

Fix: linux ble send message flow
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-flutter-workflow, run-rust-workflow

Fix: .vscode settings added
  .vscode/settings.json
Due: none

chore: optimized device discovery
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

Refactor the rust ble_module
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Debug: transfer adapter to async_std spawned task
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

feat: Added Stop and ble powered on check
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Debug: connecting to other bluetooth qaul devices
  .gitignore
  .vscode/settings.json
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

refactor: Clean the ble_module and remove unused functions
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

Fix: Flutter Ui to support linux ble
  .vscode/settings.json
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

Debug: Spawn linux BLE message sender
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-flutter-workflow, run-rust-workflow

Fix: Linux BLE message sender
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Debug: Add message listener
  .vscode/settings.json
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-flutter-workflow, run-rust-workflow

written upgrade module for qaul 2.0.0-rc.5
  qaul_ui/macos/libqaul/libqaul.xcodeproj/project.pbxproj
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/utilities/upgrade/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/old_config.rs
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow, run-rust-workflow

refactor: migrate from Hive to SharedPreferences
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

refactor: enhance UserPrefsHelper to support locale and notification settings with ValueNotifiers
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

refactor: update locale handling in app and rename test group for clarity
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

feat: remove adaptive theme and implement robust user prefs
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/theme_select_dropdown.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

refactor: remove unused completer
  qaul_ui/lib/helpers/user_prefs_helper.dart
Due: run-flutter-workflow

refactor: use `instance` singleton pattern
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/theme_select_dropdown.dart
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

refactor: enable dependency injection to remove visibleForTesting
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

refactor: simplify code by removing unused notifiers
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

improve: add data cleanup step for deprecated hive box
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

[#000] Migrate from Hive to SharedPreferences (#707)
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/helpers/user_prefs_helper.dart
  qaul_ui/lib/main.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/theme_select_dropdown.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/user_prefs_helper_test.dart
Due: run-flutter-workflow

feat(pw): switch to argon2 from bcrypt and update relevant password management functions
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
