Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

style: fix comment formatting in
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

fix(protocol): fix MTU check of qaul message by one byte to expected size.
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
Due: run-rust-workflow

test (ble): run android flutter in --verbose mode
  utilities/scripts/run-android.sh
Due: none

chore: added word spelling to vscode settings
  .vscode/settings.json
Due: none

test: added all libqaul features to qaul-cli
  rust/clients/cli/Cargo.toml
Due: run-rust-workflow

feat(libqaul): make BLE transport encryption optional
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

feat(home): enhance user loading and pagination in home screen and chat
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
Due: run-flutter-workflow

move send_file_chunks to be a full blocking worker, fixed bugs, dodgy ownership:
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat(ble-encryption): added "ble-encryption" option to qaul-cli
  rust/clients/cli/Cargo.toml
Due: run-rust-workflow

perf(services): reduce messaging feed chat and group allocations
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/group_id.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

perf(router): refactor APIs and reduce allocation churn
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

perf(chat-file): reduce helper and send path allocations
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

refactor(group): add mutation and fanout helpers
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

refactor(group-chat): batch event writes and normalize conversions
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/group_id.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

refactor(storage): add explicit flush modes for chat and group writes
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

perf(group): reduce notify and member-path allocations
  rust/libqaul/src/services/group/mod.rs
Due: run-rust-workflow

refactor(messaging): replace q8id magic slice with helper
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

fix: resolve compile errors in router, rtc, and cli proto wiring
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

perf(group): use slice lookups in storage and manage paths
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

perf(group): reduce member invite and update clones
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

feat(ble protobuf): added protobuf field to announce multiple ble devices
  protobuf/proto_definitions/connections/ble/ble.proto
Due: none

Fix: achieved stable connection: 1. Linux is able to detect other devices 2. Other devices can detect Linux BLE advertisements 3. Linux device is able to recieve messages from other qaul devices
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-flutter-workflow, run-rust-workflow

WIP: better GATT messaging
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
  qaul_ui/pubspec.lock
  rust/ble_module/src/ble/ble_service.rs
  rust/clients/cli/src/ble.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-flutter-workflow, run-rust-workflow

Integration test for new ble gatt protocol
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/gatt_protocol.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/tests/ble_gatt_protocol.rs
Due: run-rust-workflow

feat(protobuf): protobuf file for BLE
  protobuf/generated/rust/qaul.sys.ble.rs
Due: none

fix(ble protobuf): undid ble protobuf changes, due to build errors
  protobuf/generated/rust/qaul.sys.ble.rs
  protobuf/proto_definitions/connections/ble/ble.proto
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
