Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

fix(ci): Pin sccache install with --locked flag
  .circleci/continue-config.yml
Due: none

fix(ci): Pin time crate versions for rustc 1.87 compatibility
  .circleci/continue-config.yml
Due: none

feat(server): #541 intial prototype for qauld-tl
  rust/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/README.md
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(server): #541 data flow between qauld and qauld-ctl completed
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/src/socket.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

refactor(server): #541 add request_id to all libqaul responses
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/debug.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

feat(app): #541 node info command working from qauld-ctl
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

Feature/314 ble linux (#1)
  rust/Cargo.toml
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/mod.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

fix(ble): import generated protobuf from libqaul
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
Due: run-rust-workflow

refactor(linux-ble): run main loop on local task
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

Fix: spawn async task for join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Debug: spawn join_handle
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Fix: .vscode settings added
  .vscode/settings.json
Due: none

Removed unused SYS channels
  rust/libqaul/src/api/c.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

style: remove unused UUID
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

Debug: Spawn Rust Async thread
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.yaml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

refactor(ble_module): run in tokio runtime
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

feat(linux-ble): send up results from main loop
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/main.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-rust-workflow

Debug: transfer adapter to async_std spawned task
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

Updated the deprecated state::Storage
  rust/ble_module/src/rpc/mod.rs
Due: run-rust-workflow

refactor(linux-ble): remove main.rs and pass callback to init
  rust/ble_module/src/lib.rs
  rust/ble_module/src/main.rs
Due: run-rust-workflow

Fix: linux ble send message flow
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-flutter-workflow, run-rust-workflow

Fix: achieved stable connection: 1. Linux is able to detect other devices 2. Other devices can detect Linux BLE advertisements 3. Linux device is able to recieve messages from other qaul devices
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-flutter-workflow, run-rust-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

created a library out of the ble_module
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Refactor the rust ble_module
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-flutter-workflow, run-rust-workflow

Debug: Spawn linux BLE message sender
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
Due: run-flutter-workflow, run-rust-workflow

added ble_module to libqaul for linux
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

Debug: connecting to other bluetooth qaul devices
  .gitignore
  .vscode/settings.json
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/ble_uuids.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Refactor the rust ble_module
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Fix: WriteCharacterstic Api for version 33
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
Due: run-flutter-workflow

Optimize sender and reciever flow
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

Fix: Flutter Ui to support linux ble
  .vscode/settings.json
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

Debug: Add message listener
  .vscode/settings.json
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-flutter-workflow, run-rust-workflow

refactor: Clean the ble_module and remove unused functions
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
Due: run-rust-workflow

Fix: Linux BLE message sender
  rust/ble_module/src/ble/ble_service.rs
Due: run-rust-workflow

chore: optimized device discovery
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
Due: run-rust-workflow

feat: Added Stop and ble powered on check
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

WIP: better GATT messaging
  qaul_ui/android/blemodule/.gitignore
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
  qaul_ui/android/blemodule/src/main/proto/ble.proto
  qaul_ui/pubspec.lock
  rust/ble_module/src/ble/ble_service.rs
  rust/clients/cli/src/ble.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
  rust/libqaul/src/connections/ble/ble.proto
  rust/libqaul/src/connections/ble/ble_net.proto
  rust/libqaul/src/connections/ble/ble_rpc.proto
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/ble/qaul.net.ble.rs
  rust/libqaul/src/connections/ble/qaul.rpc.ble.rs
  rust/libqaul/src/connections/ble/qaul.sys.ble.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.sys.ble.rs
  rust/libqaul/src/utilities/qaul_id.rs
  utilities/scripts/run-android.sh
Due: run-flutter-workflow, run-rust-workflow

feat(app): #541 added node subcmd to qauld-ctl
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow
