Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

fix: issue with chat notifications not being displayed
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
Due: run-flutter-workflow

feat: show user status on chat navbar
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

Changelog updates
  CHANGELOG.md
Due: none

feat: enable background running app on Android
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/lib/main.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

Fixed BLE node identification messages (workaround)
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Fix for multiple device found
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

qaul 2.0.0 beta 15
  CHANGELOG.md
Due: none

ci: bump Xcode version to 14.1
  circleci_config/config-continuation/executors/@executors.yml
  qaul_ui/ios/fastlane/Fastfile
Due: run-flutter-workflow

ci: bump Xcode version to 14.1 - generate updated conf
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

ci: bump ios Fastlane version
  qaul_ui/ios/Gemfile.lock
  qaul_ui/ios/fastlane/Fastfile
Due: run-flutter-workflow

run MDNS on IPv6
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

fix: remove enableBackgroundTask call to test
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
  qaul_ui/lib/main.dart
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

Crosscompile libqaul & qauld for Raspberry Pi 64 bit
  docs/qaul/flutter/raspberry64.md
  rust/.cargo/config
  rust/libqaul/build_libqaul_raspberry64.sh
Due: run-rust-workflow

feat: automatically open the group chat when it's created
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
Due: run-flutter-workflow

feat: Adding a relay bot for matrix<>qaul bridge
  rust/Cargo.toml
  rust/clients/bridge/Cargo.toml
  rust/clients/bridge/README.md
  rust/clients/bridge/src/ble.rs
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/chatfile.rs
  rust/clients/bridge/src/cli.rs
  rust/clients/bridge/src/connections.rs
  rust/clients/bridge/src/debug.rs
  rust/clients/bridge/src/dtn.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/node.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/router.rs
  rust/clients/bridge/src/rpc.rs
  rust/clients/bridge/src/rtc.rs
  rust/clients/bridge/src/user_accounts.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

fix: support screen layout in german
  qaul_ui/lib/screens/support_screen.dart
Due: run-flutter-workflow

feat: disable tab's horizontal scroll whilst public dialog bottom sheet is open
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
Due: run-flutter-workflow

Connected Matrix World with Qaul World
  rust/clients/bridge/Cargo.toml
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Adding a README for qaul-matrix-bridge
  rust/clients/bridge/README.md
Due: run-rust-workflow

Completed Version 0 goals
  rust/clients/bridge/Cargo.toml
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

Get users in matrix room inside qaul
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

ios: append external testers group on Fastlane command, so it's also added on testflight
  qaul_ui/ios/fastlane/Fastfile
Due: run-flutter-workflow

ci: set fixed name to deb files, as depending on the pipeline they won't be available to populate the description
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

Fix for re-connection issue
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

BLE module: Additional log messages
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Fix for re-connection issue
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
Due: run-flutter-workflow

Creating the configuration file
  rust/clients/bridge/Cargo.toml
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/matrix.yaml
Due: run-rust-workflow

Organize the configuration within the bridge binary
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/matrix.yaml
Due: run-rust-workflow

adding copyright to configuration
  rust/clients/bridge/src/configuration.rs
Due: run-rust-workflow

BLE identity request, only repeat after 30 seconds
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
