Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

matrix-bridge: fix panic: wrong feed room argument
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

fixed startup panics
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

save matrix information into bridge storage folder
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Remove hardcoded feed room
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

created central Matrix_CONFIG
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

ci: include bridge in binaries zip, build it by adding -all flag
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
Due: none

ci: include bridge in binaries zip - fixed
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
Due: none

Solve cyclic initialization with storage object
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Converting println to log::info
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/chatfile.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/rpc.rs
Due: run-rust-workflow

ci: add new linux on arm jobs
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-libqaul-arm-linux.yml
  circleci_config/config-continuation/jobs/build-qauld-arm-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-linux.yml
Due: none

ci: update path on qauld build on arm, update release notes
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-qauld-arm-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/release-template.md
Due: none

ci: update arm64 output file names
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-arm-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/release-template.md
Due: none

ci: fix zip path
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-arm-linux.yml
Due: none

fix: improve group creation flow on mobile
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
Due: run-flutter-workflow

build noise-protocol from version-specific branch
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

chore: patch dependencies in preparation for security release; fix all dependency versions
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/build/.last_build_id
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/local_notifications/pubspec.yaml
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/packages/utils/pubspec.lock
  qaul_ui/packages/utils/pubspec.yaml
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

WIP: upgrade to rust-libp2p 0.51.1
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

libqaul: dependency upgrades: toml, base64, jini, android_logger
  rust/libqaul/Cargo.toml
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow

upgraded libp2p to 0.52.4
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

fix warnings
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/node/mod.rs
Due: run-rust-workflow

fix
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix user_account.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

Finished upgrade of qaul's Network Behaviour Modules fixed Todo's in qaul's network modules. both modules use the oneshot handler.
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/lib.rs
Due: run-rust-workflow

fix address using
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
Due: run-rust-workflow

update libp2p2 related parts
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

Finished upgrade to libp2p 0.52.3
  rust/clients/cli/src/group.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/utilities/upgrade/mod.rs
Due: run-rust-workflow

Push changes
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_info/src/lib.rs
  rust/libp2p_modules/qaul_info/src/protocol.rs
  rust/libp2p_modules/qaul_info/src/types.rs
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libp2p_modules/qaul_messaging/src/lib.rs
  rust/libp2p_modules/qaul_messaging/src/protocol.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/lan.rs
Due: run-rust-workflow

fix key using
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow

update key relation functions and structure
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
Due: run-rust-workflow

fix nano seconds using
  rust/libqaul/src/connections/events.rs
Due: run-rust-workflow

Upgraded all rust libraries to latest version
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libp2p_modules/qaul_info/Cargo.toml
  rust/libp2p_modules/qaul_messaging/Cargo.toml
  rust/libqaul/Cargo.toml
  rust/libqaul/src/services/crypto/crypto25519.rs
Due: run-rust-workflow
