Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

chore: [Flutter] map GroupResult in translator
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

protobuf files for refactoring
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chatfile_net.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbserver.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbserver.dart
Due: run-flutter-workflow, run-rust-workflow

updated crypto to sha-2 0.10.2 library
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/messaging/messaging.proto
Due: run-rust-workflow

fix routing problem
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/table.rs
Due: run-rust-workflow

ci: bump Flutter version to 3.3.1
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  qaul_ui/integration_test/src/screenshot_comparator.dart
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

feat: [Flutter] add option to remove user from group
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
Due: run-flutter-workflow

allow group name white space
  rust/clients/cli/src/group.rs
Due: run-rust-workflow

refactor: qaul_rpc package updates with Frontend chat API
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

implement save event function
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/manage.rs
Due: run-rust-workflow

Fix group updates & user removal from group
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbjson.dart
  rust/clients/cli/README.md
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/chat/ChatOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/services/chat/chat.pb.swift
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
Due: run-flutter-workflow, run-rust-workflow

refactor: [Flutter] restructure and cleanup chat room file
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_user.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/enums.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
Due: run-flutter-workflow

update file chunk size
  rust/libqaul/src/connections/lan.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

Fix warnings, restructure messaging & chatfile code
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/crypto.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

refactor: [Flutter] add group avatar
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_node_info_bottom_sheet.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/screens/home/tabs/feed_tab.dart
  qaul_ui/lib/screens/home/tabs/network_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/group_list_tile.dart
  qaul_ui/lib/widgets/icon_button_factory.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
  qaul_ui/lib/widgets/user_list_tile.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

q8id new 8 Byte representation of the qaul user ID
  rust/clients/cli/Cargo.toml
  rust/clients/cli/src/users.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

updated all protobuf files
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  rust/libqaul/src/connections/ble/qaul.sys.ble.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/qaul.rpc.router.rs
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/router/users.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/users/UsersOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/users/UserEntryKt.kt
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.router.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.sys.ble.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/router/users.pb.swift
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
Due: run-flutter-workflow, run-rust-workflow

implement DTN service
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

update group/file service modules
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/fileshare.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.filesharing.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.filesharing.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/filesharing/filesharing_net.proto
  rust/libqaul/src/services/filesharing/filesharing_rpc.proto
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/filesharing/qaul.net.filesharing.rs
  rust/libqaul/src/services/filesharing/qaul.rpc.filesharing.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

implement retransmit service
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

fix: [Flutter] display chat in threshold between Mobile & Tablet mode
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/utils.dart
  qaul_ui/lib/widgets/responsive_layout.dart
Due: run-flutter-workflow

update group service
  rust/clients/cli/Cargo.toml
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/Cargo.toml
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/group/group_net.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.net.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
Due: run-rust-workflow

implement retransmit service
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

updating RTC
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.rtc.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/rtc/mod.rs
  rust/libqaul/src/services/rtc/qaul.net.rtc.rs
  rust/libqaul/src/services/rtc/rtc_managing.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/services/rtc/rtc_net.proto
Due: run-rust-workflow

update DTN module
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retrans.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

refactor: [Flutter] yield one letter from initials() if name is composed of one word
  qaul_ui/packages/utils/lib/utils.dart
Due: run-flutter-workflow

qaul-cli: chatfile history: allow offset and limit to be optional
  rust/clients/cli/README.md
  rust/clients/cli/src/chatfile.rs
Due: run-rust-workflow

refactor: qaul_rpc package updates with Frontend chat API
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/pubspec.lock
  qaul_ui/test/network_node_test.dart
Due: run-flutter-workflow

refactor: [Flutter] update qaul_rpc to accommodate new API changes
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/debug_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/filesharing_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/node_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/router_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

implement DTN & make tests
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/dtn.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.dtn.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul.rpc.rs
  rust/libqaul/src/rpc/qaul_rpc.proto
  rust/libqaul/src/services/dtn/dtn_rpc.proto
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/dtn/qaul.rpc.dtn.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

refactor: [Flutter] define custom avatar builder on chat
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

update chat/group integration
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

chore: [Flutter] fix errors from rebase process
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/widgets/group_list_tile.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/pubspec.lock
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_net.pbserver.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pb.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbenum.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/dart/services/chat/chatfile_rpc.pbserver.dart
Due: run-flutter-workflow, run-rust-workflow

added code formatting behaviour for vscode
  .vscode/settings.json
Due: none

optimize & format
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

feat: (WIP) start group settings page
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

refactor: [Flutter] remove unused message
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
Due: run-flutter-workflow

fix: [Flutter] remove reference of useIsMounted() from within callbacks
  qaul_ui/lib/screens/home/tabs/feed_tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
Due: run-flutter-workflow

fixed warnings
  rust/clients/cli/src/group.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
