Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

ci: attempt to login within push step
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-docker-qauld.yml
Due: none

corrected Chinese translation
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
Due: run-flutter-workflow

ci: update build-flutter-macos job
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: first attempt on building & notarizing macos app from circleci
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  qaul_ui/macos/Podfile.lock
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/fastlane/Fastfile
Due: run-flutter-workflow

ci: reinstate macos workflow
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/build-and-deploy-flutter-macos.yml
Due: none

ci: regenerate configuration
  .circleci/continue-config.yml
Due: none

ci: add workflow to build and deploy qauld docker image
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-docker-qauld.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/build-and-deploy-docker-qauld.yml
  circleci_config/config-setup/workflows/setup.yml
  docs/qaul/infra/self-hosting-qauld.md
  utilities/qauld-docker/docker-compose.yml
Due: none

ci: add Gemfile
  qaul_ui/macos/Gemfile
Due: run-flutter-workflow

ci: fix fastlane name
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: fix fastlane platform
  qaul_ui/macos/fastlane/Fastfile
Due: run-flutter-workflow

ci: fix fastlane lane name
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: fix fastlane lane name #2
  .circleci/continue-config.yml
  qaul_ui/macos/fastlane/README.md
Due: run-flutter-workflow

ci: fix path to certs file
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: fix path to certs file #2
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: fix notarytool store-credentials cmd
  qaul_ui/macos/fastlane/Fastfile
Due: run-flutter-workflow

ci: fix notarytool store-credentials cmd #2
  qaul_ui/macos/fastlane/Fastfile
Due: run-flutter-workflow

ci: fix notarytool store-credentials cmd #3
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  qaul_ui/macos/fastlane/Fastfile
Due: run-flutter-workflow

ci: fix notarytool store-credentials cmd #5
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: fix notarytool store-credentials cmd #6
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: fix notarytool store-credentials cmd #7
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

ci: fix notarytool store-credentials cmd #8
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  qaul_ui/macos/fastlane/Fastfile
  qaul_ui/macos/fastlane/README.md
Due: run-flutter-workflow

ci: fix notarytool store-credentials cmd #9
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
Due: none

BLE: added log entries
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-flutter-workflow, run-rust-workflow

ci: use machine executor instead of docker image, which isn't well maintained
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  utilities/installers/linux/snapbuild
Due: none

chore: cleanup config files
  .circleci/config.yml
  .circleci/continue-config.yml
Due: none

fix(ble): import generated protobuf from libqaul
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/qaul.sys.ble.rs
Due: run-rust-workflow

style: remove unused UUID
  rust/ble_module/src/ble/ble_uuids.rs
Due: run-rust-workflow

fix: issue with icons not properly displaying in desktop; increase icon sizes
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/macos/Podfile.lock
Due: run-flutter-workflow

added ble_module to libqaul for linux
  rust/libqaul/Cargo.toml
Due: run-rust-workflow

created a library out of the ble_module
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/mod.rs
  rust/ble_module/src/rpc/msg_loop.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
