Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

feat(app): #880 index allocation and space
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

initial copy over
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Alamofire.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/AlamofireObjectMapper.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/IQKeyboardManager.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/ObjectMapper.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Pods-QaulBLE.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/SwiftProtobuf.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/QaulBLE/QaulBLE.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/advertiser/BleAdvertiser.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleReconnectPolicy.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleRole.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/l2cap/L2capChannel.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/BleManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/ConnectionEventListener.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/BleMetrics.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/SendQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleMeshService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/transport/BleTransport.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/transport/GattTransport.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/transport/L2capTransport.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/util/BleExtensions.kt
  qaul_ui/lib/l10n/app_localizations_de.dart
  qaul_ui/lib/l10n/app_localizations_id.dart
Due: run-flutter-workflow

feat(crypto): clock-free nonce-drain Noise KK session rotation
  docs/protocols/Noise-Session-Rotation.md
  plan.md
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/generated/rust/qaul.net.router_net_info.rs
  protobuf/generated/rust/qaul.rpc.crypto.rs
  protobuf/generated/rust/qaul.rpc.rs
  protobuf/proto_definitions/router/router_net_info.proto
  protobuf/proto_definitions/rpc/qaul_rpc.proto
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  protobuf/proto_definitions/services/crypto/crypto_rpc.proto
  rust/clients/cli/src/cli.rs
  rust/clients/cli/src/crypto.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/crypto.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/crypto/events.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/src/lib.rs
  tests/integration/lib/node.py
  tests/integration/test_crypto_rotation_clean.py
  tests/integration/test_crypto_rotation_grace.py
  tests/integration/test_crypto_rotation_offline.py
  tests/integration/test_crypto_rotation_restart.py
  tests/integration/test_crypto_rotation_simultaneous.py
  tests/integration/topologies/line-5-isolated4.json
Due: run-rust-workflow

feat(crypto): cold re-key (state healing) via rate-limited KK re-handshake
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

feat(users): echo request_id from UserUpdate to finish future-based RPC
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/router/users.proto
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  rust/libqaul/src/router/users.rs
Due: run-flutter-workflow, run-rust-workflow

refactor: update user fetching method to use usersStoreProvider
  qaul_ui/lib/screens/home/tabs/network_tab.dart
Due: run-flutter-workflow

refactor: migrate user verification and blocking logic to usersStore for improved state management
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/security_number.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

Initial integration of new module into the BleWrapperClass, and bug fixes regarding connection churn
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/advertiser/BleAdvertiser.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/SendQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleMeshService.kt
Due: run-flutter-workflow

feat(chat): add new icons and enhance chat footer functionality
  qaul_ui/assets/icons/emoticon.svg
  qaul_ui/assets/icons/geolocation.svg
  qaul_ui/assets/icons/send.svg
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

docs(crypto): proposal for envelope-based group file encryption
  docs/proposals/Efficient-Group-File-Encryption.md
Due: none

feat(crypto): group-file envelope encryption — primitives, wire, config
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/chat/file_envelope.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
Due: run-rust-workflow

feat(crypto): file_keys store for group-file envelope keys
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat(crypto): wire envelope group-file send/receive [WIP — e2e not yet working]
  protobuf/generated/rust/qaul.net.chatfile.rs
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/proto_definitions/services/chat/chatfile_net.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

feat: update send icon and add new emoticon and geolocation icons
  qaul_ui/assets/icons/send.svg
  qaul_ui/packages/qaul_components/assets/icons/emoticon.svg
  qaul_ui/packages/qaul_components/assets/icons/geolocation.svg
  qaul_ui/packages/qaul_components/assets/icons/send.svg
Due: run-flutter-workflow

feat(crypto): persist the rotation event log across reboots
  rust/libqaul/src/services/crypto/events.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

docs(crypto): proposal for queuing encrypted messages during KK msg 1
  docs/proposals/Handshake-Extras-During-Session-Creation.md
Due: none

feat(crypto): wire format and CryptoState fields for handshake extras
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

feat: enhance chat footer layout to support long texts
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

feat(qauld-ctl): script-hardening pass (banner, timeout, exit codes, stderr)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/connections.rs
  rust/clients/qauld-ctl/src/commands/debug.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/subscribe/mod.rs
Due: run-rust-workflow

test(crypto): unit tests for handshake-extras primitives
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

feat(crypto): primitives for handshake-extras encrypt and decrypt
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

feat(crypto): add HandshakeExtras configuration
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

fix(crypto): decode legacy CryptoState rows written before handshake extras
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

docs(qauld-ctl): refresh README for consolidated feature set
  rust/clients/qauld-ctl/README.md
Due: run-rust-workflow

feat(qauld-ctl): fold qauld-tui in as the 'tui' subcommand
  rust/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/TESTING-TUI.md
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/tui/app.rs
  rust/clients/qauld-ctl/src/tui/data.rs
  rust/clients/qauld-ctl/src/tui/mod.rs
  rust/clients/qauld-ctl/src/tui/ui.rs
  rust/clients/qauld-tui/Cargo.toml
Due: run-rust-workflow

docs(qauld-ctl): add README
  rust/clients/qauld-ctl/README.md
Due: run-rust-workflow

feat(qauld-tui): initial terminal UI (Phase 5)
  rust/Cargo.toml
  rust/clients/qauld-tui/Cargo.toml
  rust/clients/qauld-tui/src/app.rs
  rust/clients/qauld-tui/src/data.rs
  rust/clients/qauld-tui/src/main.rs
  rust/clients/qauld-tui/src/ui.rs
Due: run-rust-workflow

feat(qauld-ctl): port BLE, RTC, Auth subcommands (Phase 2)
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/authentication.rs
  rust/clients/qauld-ctl/src/commands/ble.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/rtc.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(qauld-ctl): completions + supervised run (Phase 4)
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/supervise.rs
Due: run-rust-workflow

feat(qauld-ctl): RpcTransport trait + embedded mode (Phase 3)
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/transport/embedded.rs
  rust/clients/qauld-ctl/src/transport/mod.rs
  rust/clients/qauld-ctl/src/transport/socket.rs
Due: run-rust-workflow

test(qauld-tui): regression test for empty-user_id feed send
  rust/clients/qauld-tui/src/data.rs
Due: run-rust-workflow
