Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

feat: [Flutter] add BLE permission requests on libqaul worker initialization
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

feat: listen for RightsRequest to trigger permission request on Android
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
Due: run-flutter-workflow

fix: [Flutter] compilation errors
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
Due: run-flutter-workflow

added protobuf dependency to flutter android gradle
  qaul_ui/android/build.gradle
Due: run-flutter-workflow

Add Libqaul & Blemodule(android) interface module.
  android/blemodule/build.gradle
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  rust/libqaul/src/api/android.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/rpc/sys.rs
Due: run-rust-workflow

Android BLE comments: TODO catch permission result
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
Due: none

added debug logs
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

chore: [Flutter] update gradle version
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
Due: run-flutter-workflow

Fix ble service issue on blemodule
  qaul_ui/android/app/build.gradle
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

Flutter: added missing Android BLE permission
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

qaul ID bytes to string logging function
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

Fixed code for building
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/libqaul/build.gradle
Due: none

Fix compilation issue for flutter app
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

BLE: added comments
  android/app/src/main/java/net/qaul/qaul/MainActivity.kt
  android/blemodule/.gitignore
  android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  android/blemodule/src/main/java/net/qaul/ble/DateTimeHelper.kt
  android/blemodule/src/main/java/net/qaul/ble/RemoteLog.kt
  android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  rust/libqaul/src/connections/ble/mod.rs
Due: run-rust-workflow

Upgraded Java-Version to 11 for Gradle
  android/app/build.gradle
  android/blemodule/build.gradle
  android/libqaul/build.gradle
Due: none

debug file reformatted
  rust/libqaul/src/rpc/debug.rs
Due: run-rust-workflow

run android without building rust libqaul
  utilities/scripts/run-android.sh
Due: none

Fix Permission Issue
  android/blemodule/build.gradle
  android/blemodule/src/main/AndroidManifest.xml
  android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
  qaul_ui/lib/widgets/widgets.dart
  qaul_ui/pubspec.lock
  rust/libqaul/build_libqaul_android.sh
Due: run-flutter-workflow, run-rust-workflow

I have read the CLA Document and I hereby sign the CLA
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/MainActivity.kt
Due: run-flutter-workflow

Moved Kotlin BLEModule and Libqaul to Flutter Android project
  qaul_ui/android/app/build.gradle
  qaul_ui/android/blemodule/.gitignore
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/proguard-rules.pro
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/ExampleInstrumentedTest.kt
  qaul_ui/android/blemodule/src/androidTest/java/net/qaul/ble/core/BleWrapperClassTest.kt
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/AppLog.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/DateTimeHelper.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/RemoteLog.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/callback/BleRequestCallback.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/proto/ble.proto
  qaul_ui/android/blemodule/src/test/java/net/qaul/ble/ExampleUnitTest.kt
  qaul_ui/android/gradle.properties
  qaul_ui/android/libqaul/.gitignore
  qaul_ui/android/libqaul/build.gradle
  qaul_ui/android/libqaul/consumer-rules.pro
  qaul_ui/android/libqaul/proguard-rules.pro
  qaul_ui/android/libqaul/src/androidTest/java/net/qaul/libqaul/ExampleInstrumentedTest.kt
  qaul_ui/android/libqaul/src/main/AndroidManifest.xml
  qaul_ui/android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/libqaul/src/test/java/net/qaul/libqaul/ExampleUnitTest.kt
  qaul_ui/android/settings.gradle
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  utilities/scripts/run-android.sh
Due: run-flutter-workflow

reinstating build script
  qaul_ui/android/gradle.properties
  qaul_ui/pubspec.lock
  utilities/scripts/run-android.sh
Due: run-flutter-workflow

fix: compilation issue with Flutter, accessing invalid package "badges"
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

feat(i18n); add italian translation
  qaul_ui/lib/l10n/app_it.arb
Due: run-flutter-workflow

fixed linux android build
  qaul_ui/android/gradle.properties
  rust/libqaul/build_libqaul_android.sh
  utilities/scripts/run-android.sh
Due: run-flutter-workflow, run-rust-workflow

ci: update Flutter version to 3.7.0 in Windows workflow
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
Due: none

chore: update Flutter's dependencies
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/coordinators/email_logging_coordinator/info_provider.dart
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
  qaul_ui/lib/widgets/language_select_dropdown.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
  qaul_ui/lib/widgets/qaul_fab.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

fea(italian): WIP add italian translation
  qaul_ui/lib/l10n/app_it.arb
Due: run-flutter-workflow

feature(italian): WIP translate to italian
  qaul_ui/lib/l10n/app_it.arb
Due: run-flutter-workflow

refactor(app_de): correct typos
  qaul_ui/lib/l10n/app_de.arb
Due: run-flutter-workflow

feat(app_it): WIP italian translation
  qaul_ui/lib/l10n/app_it.arb
Due: run-flutter-workflow

ci: temporarily disable integration tests jobs
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
Due: none

ci: add workflow to build and deploy qauld docker image
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-docker-qauld.yml
  circleci_config/config-continuation/parameters/@parameters.yml
  circleci_config/config-continuation/workflows/build-and-deploy-docker-qauld.yml
  circleci_config/config-setup/workflows/setup.yml
  docs/qaul/infra/self-hosting-qauld.md
  utilities/qauld-docker/docker-compose.yml
Due: none

ci: regenerate configuration
  .circleci/continue-config.yml
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
