Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: |
                            {
                              echo '{'
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-flutter$ ]]; then
                                echo '  "run-flutter-tagged-workflow": true'
                              fi
                              if [[ "$CIRCLE_TAG" =~ ^v[0-9]+\.[0-9]+\.[0-9]+(\+([0-9])*)+-rust$ ]]; then
                                echo '  "run-rust-tagged-workflow": true'
                              fi
                              echo '}'
                            } > /tmp/pipeline-parameters.json
                        name: Define tagged pipeline parameters

refactor: [Rust] add fail-safe to android compilation script
  rust/libqaul/build_libqaul_android.sh
Due: run-rust-workflow

fix: update android utilities scripts to run on MacOS
  utilities/scripts/build-android-release.sh
  utilities/scripts/run-android.sh
Due: none

fix: [Flutter] lint warning
  qaul_ui/lib/screens/home/tabs/tab.dart
Due: run-flutter-workflow

refactor: change default tap behavior on QaulListTile to be nothing
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

feat: name tap routes to UserDetails screen if avatar also does
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

feat: add default behavior when tapping on User avatar to open UserDetails screen
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

BLE end of workday commit
  android/libqaul/build.gradle
  android/libqaul/src/main/java/net/qaul/libqaul/libqaul.kt
  qaul_ui/android/app/src/main/AndroidManifest.xml
Due: run-flutter-workflow

feat: listen for RightsRequest to trigger permission request on Android
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
Due: run-flutter-workflow

feat: [Flutter] add BLE permission requests on libqaul worker initialization
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

fix: [Flutter] compilation errors
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

chore: [Flutter] update gradle version
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/build.gradle
  qaul_ui/android/gradle/wrapper/gradle-wrapper.properties
Due: run-flutter-workflow

ci: update release names on CD pipelines
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
Due: none

chore: [Flutter] MacOS - add code-signing to the installer script
  utilities/installers/macos/bin/dmgbuild
  utilities/installers/macos/config.json
Due: none

chore: [Flutter] MacOS - add Version number onto the installer filename
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  docs/flutter-release-template.md
  utilities/installers/macos/bin/dmgbuild
Due: none

chore: [Flutter] Windows - add Version number onto the installer filename
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  docs/flutter-release-template.md
  utilities/installers/windows/bin/build_windows_installer
Due: none

chore: [Flutter] Windows - update icon
  qaul_ui/assets/logo/icon_windows.png
  qaul_ui/windows/runner/resources/app_icon.ico
  utilities/installers/windows/assets/app_icon.ico
Due: run-flutter-workflow

docs: [Flutter] add documentation for updating the app icons
  docs/_sidebar.md
  docs/qaul/flutter/updating-icons.md
  utilities/installers/macos/bin/geticns
Due: none

chore: Regenerate MacOS icons
  docs/qaul/flutter/updating-icons.md
  qaul_ui/assets/logo/icon_desktop.png
  qaul_ui/assets/logo/icon_ios.png
  qaul_ui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_1024.png
  qaul_ui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_128.png
  qaul_ui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_16.png
  qaul_ui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_256.png
  qaul_ui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_32.png
  qaul_ui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_512.png
  qaul_ui/macos/Runner/Assets.xcassets/AppIcon.appiconset/app_icon_64.png
  qaul_ui/pubspec.yaml
  utilities/icon/Icon1024.png
  utilities/installers/macos/app_icon.icns
Due: run-flutter-workflow

etc: temporarily comment out signing step on dmgbuild
  utilities/installers/macos/bin/dmgbuild
Due: none

fix: Windows installer: update relative paths on mv command
  utilities/installers/windows/bin/build_windows_installer
Due: none

fix: [Flutter] publish step windows filename
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
Due: none

ci: [Rust] Add qauld compilation job
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/workflows/build-and-deploy-rust-linux.yml
  docs/rust-release-template.md
Due: none

ci: add Raspberry pi debian build of qauld, reinstate qauld binary
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/workflows/build-rust.yml
Due: none

ci: add CLI binaries for MacOS & Windows, have them be zipped by platform; update release template
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/jobs/build-qauld-linux.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  circleci_config/config-continuation/workflows/build-rust.yml
  docs/rust-release-template.md
Due: none

qaul beta 5
  qaul_ui/pubspec.yaml
  qaul_ui/snap/snapcraft.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow
