Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

added new version file to gitignore
  .gitignore
Due: none

update active/deactive internetnode & add name
  rust/clients/cli/src/connections.rs
  rust/libqaul/src/connections/connections.proto
  rust/libqaul/src/connections/internet.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/connections/qaul.rpc.connections.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.connections.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

update config 0.13.2 using
  rust/libqaul/Cargo.toml
  rust/libqaul/src/migrate/mig200b4to200b5/config200b4.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

feat: update macos dmg script and configuration to improve local usage
  utilities/installers/macos/bin/dmgbuild
  utilities/installers/macos/config.json
Due: none

docs: update documentation on how to create a notarized MacOS dmg
  docs/qaul/flutter/macos.md
Due: none

feat: add preview when file in history is an image
  qaul_ui/lib/screens/file_history_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
Due: run-flutter-workflow

refactor: extract repeating code from File classes in RPC
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/utils.dart
Due: run-flutter-workflow

fix: remove lint warnings
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
Due: run-flutter-workflow

Use an empty string for undefined Internet Node names
  rust/libqaul/src/utilities/upgrade/v2_0_0_beta_9/mod.rs
Due: run-rust-workflow

feat: add new RPC Connections field/message integration
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

feat: render node name in settings screen
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

refactor: simplify add/edit node dialog logic
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/internet_node.dart
Due: run-flutter-workflow

feat: add Name field on AddNodeDialog
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_tab/stubs.dart
Due: run-flutter-workflow

etc: update "pick image" icon on mobile
  qaul_ui/lib/screens/home/tabs/chat/widgets/custom_input.dart
Due: run-flutter-workflow

feat: update way images are previewed in HistoryScreen
  qaul_ui/lib/screens/file_history_screen.dart
Due: run-flutter-workflow

ci: remove redundant release templates
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/release-templates/flutter-release-template.md
  utilities/release-templates/release-template.md
  utilities/release-templates/rust-release-template.md
Due: none

ci: add super-linter workflow on Github Actions
  .github/workflows/linter.yml
  docs/README.md
Due: none

Added Chinese translations
  CHANGELOG.md
  qaul_ui/lib/l10n/app_zh-TW.arb
  qaul_ui/lib/l10n/app_zh.arb
Due: run-flutter-workflow

fix: removed hardcoded "Qaul" before public key
  qaul_ui/lib/widgets/user_details_banner.dart
Due: run-flutter-workflow

fixed: flutter linting error
  qaul_ui/lib/widgets/user_details_banner.dart
Due: run-flutter-workflow

named default Internet Node: qaul Community Node
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

ci: disable markdown linting from super-linter
  .github/workflows/linter.yml
Due: none

ci: reinstate running on push
  .github/workflows/linter.yml
Due: none

ci: remove -rust suffix as a requirement for Rust releases
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-android.yml
  circleci_config/config-continuation/jobs/build-and-deploy-flutter-ios.yml
  circleci_config/config-continuation/jobs/build-flutter-linux.yml
  circleci_config/config-continuation/jobs/build-flutter-macos.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-ios.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-macos.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  circleci_config/config-continuation/jobs/verify-version-rust.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

docs: update CircleCI docs
  docs/qaul/tooling/circleci.md
Due: none

ci: update Flutter tag filtering logic to remove build number
  .circleci/config.yml
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/verify-version-flutter.yml
  circleci_config/config-setup/workflows/setup.yml
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
