Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

refactor: update user loading logic to use usersStore and implement pagination handling
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/test/feed_message_store_test.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

perf(router): trim user q8id and security allocs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

perf(router): remove redundant public key clones
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

perf(router): refactor APIs and reduce allocation churn
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/feed_requester.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

perf(services): reduce messaging feed chat and group allocations
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/group/group_id.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

style(rust): format clients and libqaul sources
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/utils.rs
  rust/clients/cli/src/authentication.rs
  rust/clients/cli/src/debug.rs
  rust/clients/cli/src/feed.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/node.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/cli/src/user_accounts.rs
  rust/clients/cli/src/users.rs
  rust/clients/qauld/src/main.rs
  rust/libqaul/build.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/timestamp.rs
  rust/libqaul/tests/api_thread.rs
  rust/libqaul/tests/ble_crypto.rs
  rust/libqaul/tests/config_persistence.rs
  rust/libqaul/tests/instance_init.rs
Due: run-rust-workflow

refactor: simplify loading state management by removing ValueNotifiers
  qaul_ui/lib/screens/home/tabs/users_tab.dart
Due: run-flutter-workflow

refactor: remove unnecessary closing parenthesis in users_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
Due: run-flutter-workflow

perf(group): reduce notify and member-path allocations
  rust/libqaul/src/services/group/mod.rs
Due: run-rust-workflow

perf(group): use slice lookups in storage and manage paths
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

perf(group): reduce member invite and update clones
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

perf(chat-file): reduce helper and send path allocations
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

Implement User Pagination (#749)
  qaul_ui/lib/decorators/deeplink_decorator.dart
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/providers/notification_controller/chat_notification_controller_provider.dart
  qaul_ui/lib/providers/notification_controller/public_notification_controller_provider.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/network_tab.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/dtn_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_tab_test.dart
Due: run-flutter-workflow

patch: relative paths post fs reorganization
  rust/Cargo.toml
  rust/qaul-proto/build.rs
Due: run-rust-workflow

fix(app): #541 fixed issues with chatfile
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
Due: run-rust-workflow

refactor(group): add mutation and fanout helpers
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

refactor(storage): add explicit flush modes for chat and group writes
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

refactor(group-chat): batch event writes and normalize conversions
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/group_id.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

refactor: remove specific icons folder
  qaul_ui/lib/nav_bar/constants.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/pubspec.yaml
  qaul_ui/test/nav_bar/constants_test.dart
Due: run-flutter-workflow

docs(server): #541 testing framework
  docs/proposals/testing-framework-plan.md
Due: none

feat: integrate qaul_components and create connected nav bar
  qaul_ui/lib/decorators/nav_bar_overflow_handlers.dart
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/nav_bar/constants.dart
  qaul_ui/lib/nav_bar/widgets/qaul_nav_bar.dart
  qaul_ui/lib/providers/home_screen_tab_controller_provider.dart
  qaul_ui/lib/providers/providers.dart
  qaul_ui/lib/qaul_app.dart
  qaul_ui/packages/qaul_components/lib/constants/qaul_nav_bar_constants.dart
  qaul_ui/packages/qaul_components/lib/main.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
  qaul_ui/test/decorator/nav_bar_overflow_handlers_test.dart
  qaul_ui/test/decorator/nav_bar_test_stubs.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
  qaul_ui/test/nav_bar/widgets/qaul_nav_bar_item_test.dart
  qaul_ui/test/nav_bar/widgets/qaul_nav_bar_test.dart
  qaul_ui/test/packages/qaul_components/breakpoints_test.dart
  qaul_ui/test/packages/qaul_components/qaul_nav_bar_constants_test.dart
  qaul_ui/test/packages/qaul_components/qaul_nav_bar_helper_test.dart
Due: run-flutter-workflow

fix: Ble connection unstable and drop connection to send multiple messages
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
Due: run-flutter-workflow

fix: correct import order in qaul_nav_bar_decorator_test.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
Due: run-flutter-workflow

refactor: included qaul-proto library into ble_module
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/generated/rust/qaul.net.rtc.rs
  protobuf/generated/rust/qaul.rpc.rtc.rs
  rust/ble_module/Cargo.toml
  rust/ble_module/src/rpc/mod.rs
Due: run-rust-workflow

refactor: set relative path to file to fix build pipeline
  rust/libqaul/src/rpc/mod.rs
  rust/qaul-proto/src/lib.rs
Due: run-rust-workflow

refactor(messaging): replace q8id magic slice with helper
  rust/libqaul/src/services/messaging/retransmit.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

docs: added current state of WIP GATT messaging protocol
  docs/proposals/BLE/BLE-GATT-Messaging-Protocol.md
  docs/proposals/BLE/BLE-Mermaid-Diagrams.md
Due: none

docs: libqaul BLE connection <-> ble_module sys communication flow
  docs/protocols/BLE-Libqaul-to-BLE-Module-Communication.md
Due: none

docs: messaging protobuf structure
  docs/protocols/Messaging-Protobuf-Messaging-Structure.md
Due: none

Initial setup, we use tokio to call the async function send_file_chunks. need to explore proper error detection next
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

redo of previous commit
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

feat(server): #541 initial working code for qauld unix socket server
  rust/clients/qauld/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
