Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

feat(crypto): add HandshakeExtras configuration
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

test(crypto): unit tests for handshake-extras primitives
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

feat(crypto): primitives for handshake-extras encrypt and decrypt
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

docs(crypto): proposal for queuing encrypted messages during KK msg 1
  docs/proposals/Handshake-Extras-During-Session-Creation.md
Due: none

feat(crypto): wire format and CryptoState fields for handshake extras
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

android ble: remove unused google gms dependency
  qaul_ui/android/blemodule/build.gradle
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
Due: run-flutter-workflow

feat(qauld-tui): DTN analytics tab
  rust/clients/qauld-ctl/src/tui/app.rs
  rust/clients/qauld-ctl/src/tui/data.rs
  rust/clients/qauld-ctl/src/tui/mod.rs
  rust/clients/qauld-ctl/src/tui/ui.rs
Due: run-rust-workflow

feat(qauld-tui): Network analytics tab
  rust/clients/qauld-ctl/src/tui/app.rs
  rust/clients/qauld-ctl/src/tui/data.rs
  rust/clients/qauld-ctl/src/tui/mod.rs
  rust/clients/qauld-ctl/src/tui/ui.rs
Due: run-rust-workflow

feat(libqaul): add peers.disconnected subscribe topic plumbing
  protobuf/proto_definitions/rpc/subscribe.proto
  rust/libqaul/src/rpc/subscribe.rs
Due: run-rust-workflow

feat(crypto+tui): push-based crypto.rotation subscribe topic
  rust/clients/qauld-ctl/src/tui/app.rs
  rust/clients/qauld-ctl/src/tui/data.rs
  rust/clients/qauld-ctl/src/tui/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/rpc/subscribe.rs
  rust/libqaul/src/services/crypto/events.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

feat(qauld-tui): Crypto rotation analytics tab
  rust/clients/qauld-ctl/src/tui/app.rs
  rust/clients/qauld-ctl/src/tui/data.rs
  rust/clients/qauld-ctl/src/tui/mod.rs
  rust/clients/qauld-ctl/src/tui/ui.rs
Due: run-rust-workflow

fix(qauld-ctl): tui::app uses super::data after the qauld-tui merge
  rust/clients/qauld-ctl/src/tui/app.rs
Due: run-rust-workflow

chore(proto): regen qaul.rpc.subscribe.rs
  protobuf/generated/rust/qaul.rpc.subscribe.rs
Due: none

feat(qauld-tui): detail drawer (Enter) + per-tab filter (/)
  rust/clients/qauld-ctl/src/tui/app.rs
  rust/clients/qauld-ctl/src/tui/mod.rs
  rust/clients/qauld-ctl/src/tui/ui.rs
Due: run-rust-workflow

fix(crypto): drop duplicate test_account from rotation merge
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

docs(crypto): proposal for envelope-based group file encryption
  docs/proposals/Group-File-Encryption-Fanout.md
Due: none

docs(crypto): tighten group-file envelope proposal
  docs/proposals/Group-File-Encryption-Fanout.md
Due: none

docs(group): proposal for CRDT-based group membership + metadata
  docs/proposals/Group-State-CRDT.md
Due: none

refactor: update user fetching method to use usersStoreProvider
  qaul_ui/lib/screens/home/tabs/network_tab.dart
Due: run-flutter-workflow

feat(qauld-ctl): script-hardening pass (banner, timeout, exit codes, stderr)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/connections.rs
  rust/clients/qauld-ctl/src/commands/debug.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/subscribe/mod.rs
Due: run-rust-workflow

fix(crypto): decode legacy CryptoState rows written before handshake extras
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/storage.rs
Due: run-rust-workflow

test(app): #880 added tests for index allocator
  rust/libqaul/src/router_v2/index.rs
Due: run-rust-workflow

chore(app): #880 initial groundwork for v2 router
  .gitignore
  docs/protocols/Qaul-Routing-Protocol-Primer.md
  docs/protocols/Qaul-Routing-Protocol.md
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/qaul-sim/src/topology.rs
Due: run-rust-workflow

feat(shared): #880 added identities and profiles for users and nodes
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

feat(app): #880 added index allocation
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

feat(app): #880 added helper funcs for user acct
  rust/libqaul/src/router_v2/identity.rs
Due: run-rust-workflow

test(app): #880 added unit tests]
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

chore(app): #880 updated index allocaor
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow
