Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

feat(server): #541 handled reading and writing to socket server
  rust/clients/cli/src/authentication.rs
  rust/clients/cli/src/debug.rs
  rust/clients/cli/src/feed.rs
  rust/clients/cli/src/main.rs
  rust/clients/cli/src/node.rs
  rust/clients/cli/src/rpc.rs
  rust/clients/cli/src/user_accounts.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/socket.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/timestamp.rs
Due: run-rust-workflow

feat(server): #541 data flow between qauld and qauld-ctl completed
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/src/socket.rs
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/rpc/mod.rs
Due: run-rust-workflow

refactor(server): #541 update qauld socket srver to split responses
  rust/clients/qauld/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 intial prototype for qauld-tl
  rust/Cargo.toml
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/README.md
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

refactor(server): #541 add request_id to all libqaul responses
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/authentication.rs
  rust/libqaul/src/rpc/debug.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/feed/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

feat(app): #541 added node subcmd to qauld-ctl
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(app): #541 node info command working from qauld-ctl
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 completed users commands
  docs/qaul/rust/qaul-cli-usage.md
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/utils.rs
  rust/clients/cli/src/users.rs
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/authentication.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/tests/api_thread.rs
  rust/libqaul/tests/config_persistence.rs
  rust/libqaul/tests/instance_init.rs
Due: run-rust-workflow

feat(server): #541 implemented preflight req before any command
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(app): #541 feed command
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

fix(app): #541 fixed issues with chatfile
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
Due: run-rust-workflow

feat(server): #541 group commands
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

docs(server): #541 testing framework
  docs/proposals/testing-framework-plan.md
Due: none

feat(server): #541 added the chat commands
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/connections/ble/crypto.rs
  rust/libqaul/tests/ble_crypto.rs
Due: run-rust-workflow

docs(app): #541 updated the test plans
  docs/proposals/testing-framework-plan.md
Due: none

refactor(shared): #541 refactored proto files
  rust/clients/cli/src/feed.rs
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 handled reading and writing to socket server
  rust/clients/cli/src/feed.rs
  rust/libqaul/src/lib.rs
Due: run-rust-workflow

fix: solve analyze errors
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

fix: adjust minor inconsistencies and remove unused cases
  qaul_ui/lib/screens/home/tabs/users_tab.dart
Due: run-flutter-workflow

refactor: fix feed message and implement getByUserId with tests
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

refactor: (wip) frontend store abstraction to improve orchestration and composition, removing it from the ui logic
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/stores.dart
  qaul_ui/lib/stores/users_store.dart
Due: run-flutter-workflow

refactor: optimize user update logic
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
Due: run-flutter-workflow

refactor: streamline user update process by simplifying data handling
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
Due: run-flutter-workflow

refactor: update user loading logic to use usersStore and implement pagination handling
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/stores/feed_message_store.dart
  qaul_ui/lib/stores/users_store.dart
  qaul_ui/test/feed_message_store_test.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

feat(server): #541 data flow between qauld and qauld-ctl completed
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

fix: remove rebase garbage
  qaul_ui/lib/screens/home/tabs/users_tab.dart
Due: run-flutter-workflow

feat(app): #541 node info command working from qauld-ctl
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(app): #541 added node subcmd to qauld-ctl
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

feat(server): #541 implemented preflight req before any command
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

refactor(shared): #541 refactored proto files
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld/Cargo.toml
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

fix: rebased bugs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
