Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

feat: initial implementation
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

feat: update send icon and add new emoticon and geolocation icons
  qaul_ui/assets/icons/send.svg
Due: run-flutter-workflow

feat(chat): add new icons and enhance chat footer functionality
  qaul_ui/assets/icons/send.svg
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

Footer options menu pagination (#896)
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

feat: search groups (#875)
  .gitignore
  protobuf/generated/rust/qaul.rpc.group.rs
  protobuf/proto_definitions/services/group/group_rpc.proto
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pbjson.dart
  rust/clients/cli/README.md
  rust/clients/cli/src/group.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/search/mod.rs
  rust/libqaul/src/services/chat/search.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/search.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-flutter-workflow, run-rust-workflow

feat: enhance duplicate username handling with disambiguated display names
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_timeline_expansion.dart
Due: run-flutter-workflow

fix: adjust tail edges properly
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_timeline_expansion.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
Due: run-flutter-workflow

refactor: reorganize chat component exports and clean up imports
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
Due: run-flutter-workflow

fix(dtn-v2): release hardening — retention cap, quota self-heal, blocked senders, recipient-first delivery, V2 state RPC
  protobuf/generated/rust/qaul.rpc.dtn.rs
  protobuf/proto_definitions/services/dtn/dtn_rpc.proto
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/libqaul/src/services/dtn/mod.rs
Due: run-rust-workflow

fix(crypto): repair broken libqaul test build on main
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

fix(messaging): run pending-flush + V2 retransmit even when unconfirmed empty
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

fix(dtn): stop V2 routed sends leaking unconfirmed-table entries
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

feat(messaging): re-encrypt retransmits across session rotation (persisted)
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

fix(messaging): queue outbound messages sent during a peer handshake
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retransmit.rs
Due: run-rust-workflow

fix(chat-file): make file delivery confirmation actually work
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

fix(dtn): correct V1 storage accounting + make index writes atomic
  rust/libqaul/src/services/dtn/mod.rs
Due: run-rust-workflow

feat(crypto): Phase 4a — manual rotate RPC + qauld-ctl crypto subcommand
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

feat(crypto): Phase 3 (cont.) — rotation event surface
  rust/clients/cli/src/crypto.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

feat(crypto): Phase 2 — wire rotation triggers, dispatch, drain ticker
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

test(crypto): Phase 2 unit tests for rotation-aware helpers
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

feat(crypto+tui): push-based crypto.rotation subscribe topic
  rust/libqaul/src/lib.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

feat(crypto): Phase 3 — CryptoRotation config RPC + CLI
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

feat(crypto): primitives for handshake-extras encrypt and decrypt
  rust/libqaul/src/services/crypto/noise.rs
Due: run-rust-workflow

feat(crypto): Phase 1 — Noise KK session rotation primitives
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

feat(crypto): wire format and CryptoState fields for handshake extras
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

feat(crypto): Phase 5 — capability-gated rollout
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

fix(integration): drop superseded wall-clock rotation remnants after rebase
  rust/clients/cli/src/crypto.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
Due: run-rust-workflow

fix(qauld-ctl): line editing, quoted args, account crash & help in shell
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
Due: run-rust-workflow

Debug overlay disabled for prod
  qaul_ui/android/blemodule/src/main/AndroidManifest.xml
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
Due: run-flutter-workflow

Initial integration of new module into the BleWrapperClass, and bug fixes regarding connection churn
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/advertiser/BleAdvertiser.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/SendQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleMeshService.kt
Due: run-flutter-workflow

Medium priority queue
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/SendQueue.kt
Due: run-flutter-workflow

initial copy over
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Alamofire.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/AlamofireObjectMapper.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/IQKeyboardManager.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/ObjectMapper.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/Pods-QaulBLE.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/SwiftProtobuf.xcscheme
  iOS/QaulBLE/Pods/Pods.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
  iOS/QaulBLE/QaulBLE.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/advertiser/BleAdvertiser.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleConnection.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleReconnectPolicy.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/BleRole.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleActor.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/l2cap/L2capChannel.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/BleManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/ConnectionEventListener.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/BleMetrics.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/BLEScanDevice.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/Message.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/model/QueueModels.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/SendQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleMeshService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/BleService.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/transport/BleTransport.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/transport/GattTransport.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/transport/L2capTransport.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/util/BleExtensions.kt
Due: run-flutter-workflow
