Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

etc: configure MacOS for App Store/Testflight releases
  qaul_ui/macos/Runner.xcodeproj/project.pbxproj
  qaul_ui/macos/Runner/Configs/AppInfo.xcconfig
  qaul_ui/macos/Runner/Info.plist
Due: run-flutter-workflow

chat conversation list: filter out content type 0
  rust/libqaul/src/services/chat/storage.rs
Due: run-rust-workflow

crypto update: session id & package caching
  rust/libqaul/build.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.messaging.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/crypto.rs
  rust/libqaul/src/services/crypto/crypto25519.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/services/crypto/noise.rs
  rust/libqaul/src/services/crypto/storage.rs
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/messaging.proto
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/services/messaging/qaul.net.messaging.rs
  rust/libqaul/src/services/mod.rs
  rust/libqaul/src/services/rtc/rtc_messaging.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

fix routing problem
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/table.rs
Due: run-rust-workflow

implement users sync
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/info.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/router/qaul.net.router_net_info.rs
  rust/libqaul/src/router/router_net_info.proto
  rust/libqaul/src/router/user_requester.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.net.router_net_info.rs
Due: run-rust-workflow

update user list sync while receive feed message
  rust/libqaul/src/router/info.rs
Due: run-rust-workflow

Moved Chat Overview to Group list, show last message on Group
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/clients/cli/src/users.rs
  rust/libqaul/build.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/chat/message.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/conversation_id.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/group/storage.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

Fix group updates & user removal from group
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbjson.dart
  rust/clients/cli/README.md
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/chat/ChatOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/swift/services/chat/chat.pb.swift
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
Due: run-flutter-workflow, run-rust-workflow

refactor: [Flutter] add group avatar
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_node_info_bottom_sheet.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/screens/home/tabs/feed_tab.dart
  qaul_ui/lib/screens/home/tabs/network_tab.dart
  qaul_ui/lib/screens/home/tabs/users_tab.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/group_list_tile.dart
  qaul_ui/lib/widgets/icon_button_factory.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
  qaul_ui/lib/widgets/user_list_tile.dart
  qaul_ui/lib/widgets/widgets.dart
Due: run-flutter-workflow

feat: [Flutter] add option to remove user from group
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
Due: run-flutter-workflow

fix: [Flutter] remove reference to hook from onPressed callback
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
Due: run-flutter-workflow

chore: [Flutter] update enum mapping from chat messages
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
Due: run-flutter-workflow

chore: [Flutter] map GroupResult in translator
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

refactor: [Flutter] remove unused message
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
Due: run-flutter-workflow

refactor: [Flutter] update qaul_rpc to accommodate new API changes
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/group_invite.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/ble_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/connection_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/debug_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/feed_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/filesharing_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/node_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/router_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/user_accounts_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/users_translator.dart
Due: run-flutter-workflow

fix: [Flutter] merge conversationList with appropriate chat room in processResponse
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
Due: run-flutter-workflow

chore: [Flutter] update menu entry from "Classic Network View" to "Routing Data Table"
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
Due: run-flutter-workflow

fix: [Flutter] remove reference of useIsMounted() from within callbacks
  qaul_ui/lib/screens/home/tabs/feed_tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
Due: run-flutter-workflow

refactor: [Flutter] yield one letter from initials() if name is composed of one word
  qaul_ui/packages/utils/lib/utils.dart
Due: run-flutter-workflow

refactor: [Flutter] define custom avatar builder on chat
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix: [Flutter] display chat in threshold between Mobile & Tablet mode
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/utils.dart
  qaul_ui/lib/widgets/responsive_layout.dart
Due: run-flutter-workflow

refactor: [Flutter] build message status from factory construct
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
Due: run-flutter-workflow

refactor: [Flutter] restructure and cleanup chat room file
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_user.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/enums.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
Due: run-flutter-workflow

refactor: [Flutter] remove *_notifier files and merge their logic with their counterparts
  qaul_ui/packages/qaul_rpc/lib/src/models/feed_post.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/feed_post_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/file_history_entity_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/models.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/user_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/providers.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/abstract_rpc_module_translator.dart
Due: run-flutter-workflow

ci: bump Flutter version to 3.3.1
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
  circleci_config/config-continuation/jobs/build-flutter-windows.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-android.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-linux.yml
  circleci_config/config-continuation/jobs/integration-test-flutter-windows.yml
  qaul_ui/integration_test/src/screenshot_comparator.dart
  qaul_ui/ios/Podfile.lock
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/macos/Podfile.lock
  qaul_ui/packages/qaul_rpc/lib/src/libqaul/libqaul.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room.dart
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

implement security number
  rust/clients/cli/src/users.rs
  rust/libqaul/src/router/qaul.rpc.users.rs
  rust/libqaul/src/router/users.proto
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.users.rs
Due: run-rust-workflow

removed some warnings
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

added new q8id based group UUID
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/filesharing/mod.rs
  rust/libqaul/src/services/group/conversation_id.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/libqaul/src/utilities/qaul_id.rs
Due: run-rust-workflow

add more flags
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/retrans.rs
Due: run-rust-workflow

add more flags in unconfirmed table
  rust/libqaul/src/services/dtn/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
Due: run-rust-workflow

chat conversation render as uuid
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/services/chat/mod.rs
Due: run-rust-workflow

add content_type in chat_message
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/message.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
