Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

Allowing multiple users in a matrix room, Removing the users from Matrix
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

Acknowledging the qaul user name when the message arrives in matrix
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

Template for particular MessageType from Matrix.
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Adding group-info on the matrix menu
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Disable CLI for server compatibility
  rust/clients/bridge/src/cli.rs
  rust/clients/bridge/src/main.rs
Due: run-rust-workflow

Listen for incoming Qaul Invitations
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
Due: run-rust-workflow

Check for message being received else wait
  rust/clients/bridge/src/chat.rs
Due: run-rust-workflow

fix: set proper keyboard type when adding ipv6
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/screens/settings_screen.dart
Due: run-flutter-workflow

refactor: remove permission_handler dependency
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.yaml
  qaul_ui/pubspec.lock
Due: run-flutter-workflow

fix: copy DLL files using `find` cmd, rather than hard-coding their paths
  utilities/installers/windows/bin/build_windows_installer
Due: none

feat: hide bluetooth filter on network tab if not on android
  qaul_ui/lib/screens/home/dynamic_network/dynamic_network_screen.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
Due: run-flutter-workflow

fix: use powershell command instead of find, since latter clashes with windows command and doesn't work
  utilities/installers/windows/bin/build_windows_installer
Due: none

CLI arguments to initiate binary
  rust/clients/bridge/Cargo.toml
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Removing CLI
  rust/clients/bridge/src/cli.rs
  rust/clients/bridge/src/main.rs
Due: run-rust-workflow

Code cleanup
  rust/clients/bridge/src/ble.rs
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/chatfile.rs
  rust/clients/bridge/src/connections.rs
  rust/clients/bridge/src/debug.rs
  rust/clients/bridge/src/dtn.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/node.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/router.rs
  rust/clients/bridge/src/rtc.rs
  rust/clients/bridge/src/user_accounts.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

added resolver 2 to Cargo workspace definition, to compile on new rust version
  rust/Cargo.toml
Due: run-rust-workflow

upgraded rust to version 1.72
  .circleci/continue-config.yml
  circleci_config/config-continuation/executors/@executors.yml
Due: none

fixing bugs related to hardcoded feed room and dual messaging
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

initialize user account in bridge from libqaul
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/rpc.rs
  rust/clients/bridge/src/user_accounts.rs
Due: run-rust-workflow

Removing unwanted files
  rust/clients/bridge/src/ble.rs
  rust/clients/bridge/src/connections.rs
  rust/clients/bridge/src/debug.rs
  rust/clients/bridge/src/dtn.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/node.rs
  rust/clients/bridge/src/router.rs
  rust/clients/bridge/src/rpc.rs
  rust/clients/bridge/src/rtc.rs
Due: run-rust-workflow

feat: include all dll in the installer by using wildcard
  qaul_ui/pubspec.lock
  qaul_ui/windows/runner/Runner.rc
  utilities/installers/windows/inno_setup_win_installer.iss
Due: run-flutter-workflow

Adding flags in CLI startup
  rust/Cargo.toml
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Clean Comments
  rust/clients/bridge/src/chat.rs
  rust/clients/bridge/src/chatfile.rs
  rust/clients/bridge/src/feed.rs
  rust/clients/bridge/src/group.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
  rust/clients/bridge/src/rpc.rs
  rust/clients/bridge/src/user_accounts.rs
  rust/clients/bridge/src/users.rs
Due: run-rust-workflow

Removing Hardcoded bot-id
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Converting flags to optional flags
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Adding instructions in README
  rust/clients/bridge/README.md
Due: run-rust-workflow

upgraded libraries in lock-files
  .vscode/settings.json
  qaul_ui/packages/local_notifications/pubspec.lock
  qaul_ui/packages/qaul_rpc/pubspec.lock
  qaul_ui/packages/utils/pubspec.lock
Due: run-flutter-workflow

matrix-bridge: fix panic: wrong feed room argument
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

fixed PR merge conflict
  qaul_ui/packages/qaul_rpc/pubspec.lock
Due: run-flutter-workflow

fixed startup panics
  rust/clients/bridge/src/configuration.rs
  rust/clients/bridge/src/main.rs
  rust/clients/bridge/src/relay_bot.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
