Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

feat(app): #880 added manifest_delta and node_manifest messages
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/codec/utils.rs
Due: run-rust-workflow

test(app): #880 added prop tests
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router_v2/codec/messages.rs
Due: run-rust-workflow

feat(app): #880 index expiry
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

feat(app): #880 receiver loop
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/test_utils.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

test(app): #880 added tests for handling the receiver's loop
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

docs(app): #800 updated from push-based to pull-based
  docs/protocols/Qaul-Routing-Protocol.md
Due: none

feat(app): #880 node manifest propagation
  rust/libqaul/src/router_v2/manifest.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

fix(app): #880 fixed test sihnatures
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

test(app): #880 added tests for routing update messaging
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

fix(app): #880 fixed failing tests
  rust/libqaul/src/router_v2/manifest.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

refactor(app): #880 refactor manifest to use pull-based model
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/codec/mod.rs
  rust/libqaul/src/router_v2/manifest.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/table.rs
  rust/libqaul/src/router_v2/test_utils.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

test(app): #880 added tests for mappings
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

test(app): #880 tests for node manifest sending
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

feat(app): #880 added node manifest handling
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/manifest.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

test(app): #880 added tests for when the neighbour connects
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/manifest.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/test_utils.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

refactor(app): #880 moved tests files around
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/test_utils.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

fix(app): #880 fixed corresponding manifest tests
  rust/libqaul/src/router_v2/manifest.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

fix(app): #880 fixed propagating node manifests
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

feat(app): #880 handled routing update messages
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

feat(app): #880 routing update mechanism
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/seq.rs
  rust/libqaul/src/router_v2/table.rs
  rust/libqaul/src/router_v2/test_utils.rs
  rust/libqaul/src/router_v2/tests.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

feat(server): #880 handled node manifest
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

feat(chat): implement reply preview feature in chat bubbles
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_reply_bubble_preview.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_reply_bubble_preview.dart
Due: run-flutter-workflow

fix(chat): update divider color in chat footer reply preview test to use white
  qaul_ui/packages/qaul_components/test/chat_footer_reply_preview_test.dart
Due: run-flutter-workflow

feat(chat): add ChatFooterReplyPreview component and integrate it into ChatFooter
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer_reply_preview.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/test/chat_footer_reply_preview_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_footer_reply_preview.dart
Due: run-flutter-workflow

refactor(chat): remove unused light footer widget and related use cases from ChatFooter
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

feat(app): #880 index dump handling
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

feat(BleTopology): Implemented v1 of stage 1 and 2 of the ble topology plan.
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BleConstants.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/connection/ConnectionPool.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/scanner/BleScanner.kt
Due: run-flutter-workflow

feat(Telemetry): Telemetry build for ble.
  qaul_ui/android/app/src/main/AndroidManifest.xml
  qaul_ui/android/app/src/main/kotlin/net/qaul/qaul_app/PermissionHandler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/core/BleWrapperClass.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/debug/BleDebugOverlay.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/BleManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/manager/ConnectionEventListener.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/GpsProvider.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/metrics/SessionLogger.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleOperationType.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/queue/BleTaskScheduler.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/server/GattServer.kt
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  tools/field-test/mesh_replay.html
  tools/field-test/pull-sessions.sh
  tools/topology-sim/mesh_editor.html
Due: run-flutter-workflow

fix(app): #880 fixed index transaltion to get intial state working
  rust/libqaul/Cargo.toml
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/receive.rs
Due: run-rust-workflow

Add demo analytics script and doc
  rust/clients/qauld-ctl/DEMO-ANALYTICS.md
  rust/clients/qauld-ctl/demo-analytics.sh
Due: run-rust-workflow

fix(app): #880 fixed issues wit testing multi-user node
  rust/libqaul/src/lib.rs
  rust/libqaul/src/node/account_management.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/init.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/receive.rs
  rust/libqaul/src/router_v2/table.rs
  rust/libqaul/src/router_v2/test_utils.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

feat(chat): implement reply preview feature in chat bubbles (#930)
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_reply_bubble_preview.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_reply_bubble_preview.dart
Due: run-flutter-workflow

Implement chat reply footer preview (#931)
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer_reply_preview.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/test/chat_footer_reply_preview_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_footer_reply_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

feat(app): #880 self delegation
  rust/libqaul/src/node/account_management.rs
  rust/libqaul/src/node/user_accounts.rs
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/init.rs
  rust/libqaul/src/router_v2/manifest.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/propagation.rs
  rust/libqaul/src/router_v2/tests.rs
Due: run-rust-workflow

feat(chat): align chat dividers across themes
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/test/chat_header_test.dart
Due: run-flutter-workflow

feat(chat): integrate message reply flow
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/models/chat_message.dart
  qaul_ui/packages/qaul_components/lib/styles/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design/chat/reply_journey/reply_journey.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/pubspec.yaml
  qaul_ui/packages/qaul_components/widgetbook_workspace/test/reply_journey_test.dart
Due: run-flutter-workflow

feat(chat): refine message context menu presentation
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_message_context_menu.dart
  qaul_ui/packages/qaul_components/test/chat_message_context_menu_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_message_context_menu.dart
Due: run-flutter-workflow

fix(chat): update reply preview message for bubble spacing context
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/support/chat_fixtures.dart
Due: run-flutter-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
