Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

group status added
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.group.rs
  rust/libqaul/src/services/group/group_rpc.proto
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/qaul.rpc.group.rs
Due: run-rust-workflow

fixed: group appearing in group list after invite rejection
  rust/libqaul/src/services/group/member.rs
Due: run-rust-workflow

Protobuf messages for group update for all languages
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/chat/chat.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/services/group/group_rpc.pbjson.dart
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/chat/chat.pb.h
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/group/group_rpc.pb.cc
  rust/libqaul/src/rpc/protobuf_generated/cpp/services/group/group_rpc.pb.h
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/chat/ChatOuterClass.java
  rust/libqaul/src/rpc/protobuf_generated/java/qaul/rpc/group/GroupRpc.java
  rust/libqaul/src/rpc/protobuf_generated/kotlin/qaul/rpc/group/GroupInfoKt.kt
  rust/libqaul/src/rpc/protobuf_generated/swift/services/chat/chat.pb.swift
  rust/libqaul/src/rpc/protobuf_generated/swift/services/group/group_rpc.pb.swift
Due: run-flutter-workflow, run-rust-workflow

Added Group Events: Group Created & Invite Accepted
  rust/clients/cli/src/chat.rs
  rust/clients/cli/src/group.rs
  rust/libqaul/src/rpc/protobuf_generated/rust/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/chat.proto
  rust/libqaul/src/services/chat/qaul.rpc.chat.rs
  rust/libqaul/src/services/chat/storage.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
Due: run-rust-workflow

feat: [Flutter] add the new states from GroupEvent to UI
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/enums.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
Due: run-flutter-workflow

configure internet node optionally
  rust/libqaul/src/storage/configuration.rs
Due: run-rust-workflow

fix: [Flutter] set fixed color to bullhorn icon
  qaul_ui/lib/screens/home/tabs/public_tab.dart
Due: run-flutter-workflow

fix: [Flutter] use proper user icon on create account screen
  qaul_ui/lib/screens/create_account_screen.dart
  qaul_ui/lib/widgets/qaul_avatar.dart
Due: run-flutter-workflow

fix: [Flutter] group icon: update color and remove old icon from new chat dialog
  qaul_ui/assets/icons/group.svg
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
Due: run-flutter-workflow

fix: [Flutter] account for keyboard height to apply padding onto modal bottom sheet on public tab
  qaul_ui/lib/screens/home/tabs/public_tab.dart
Due: run-flutter-workflow

fix: [Flutter] improve event messages rendering
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/message/message_content.dart
  qaul_ui/pubspec.lock
  qaul_ui/pubspec.yaml
Due: run-flutter-workflow

ci: Remove iOS Integration test until compilation issue is resolved
  .circleci/continue-config.yml
  circleci_config/config-continuation/workflows/analyze-and-test-flutter.yml
Due: none

fix: [Flutter] fix new_user_flow test
  qaul_ui/integration_test/new_user_flow_test.dart
  qaul_ui/lib/screens/splash_screen.dart
Due: run-flutter-workflow

qaul app beta 9
  qaul_ui/pubspec.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

add persian translation
  qaul_ui/lib/l10n/app_fa.arb
Due: run-flutter-workflow

improve persian translation
  qaul_ui/lib/l10n/app_fa.arb
Due: run-flutter-workflow

upgraded to beta.2
  qaul_ui/android/.settings/org.eclipse.buildship.core.prefs
  qaul_ui/android/gradle/wrapper/gradle-wrapper.jar.old
  qaul_ui/android/gradlew.bat.old
  qaul_ui/android/gradlew.old
  qaul_ui/pubspec.yaml
  rust/clients/cli/Cargo.toml
  rust/clients/qauld/Cargo.toml
  rust/libqaul/Cargo.toml
Due: run-flutter-workflow, run-rust-workflow

ci: [Rust] update build jobs to have protoc installed on the environment
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/build-libqaul-android.yml
  circleci_config/config-continuation/jobs/build-libqaul-ios.yml
  circleci_config/config-continuation/jobs/build-libqaul-linux.yml
  circleci_config/config-continuation/jobs/build-libqaul-macos.yml
  circleci_config/config-continuation/jobs/build-libqaul-windows.yml
  circleci_config/config-continuation/workflows/build-rust.yml
Due: none

refactor: [Flutter] Extract hard coded Strings to English translation file
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/main.dart
  qaul_ui/lib/screens/home/tabs/chat/chat_tab.dart
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/group_settings.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
  qaul_ui/lib/screens/settings_screen.dart
  qaul_ui/lib/screens/support_screen.dart
  qaul_ui/lib/widgets/qaul_table.dart
Due: run-flutter-workflow

refactor: [Flutter] Add new fields' translations for supported languages
  qaul_ui/.gitignore
  qaul_ui/l10n.yaml
  qaul_ui/lib/decorators/search_user_decorator.dart
  qaul_ui/lib/l10n/app_ar.arb
  qaul_ui/lib/l10n/app_en.arb
  qaul_ui/lib/l10n/app_fa.arb
  qaul_ui/lib/l10n/app_id.arb
  qaul_ui/lib/l10n/app_pt.arb
  qaul_ui/lib/l10n/app_uk.arb
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/user_account_screen.dart
Due: run-flutter-workflow

refactor: [Flutter] Improve interaction with UserListTile when selecting to send group invites
  qaul_ui/lib/screens/home/tabs/chat/dialogs/dialogs.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/lib/screens/home/user_details_screen.dart
  qaul_ui/lib/widgets/qaul_list_tile.dart
Due: run-flutter-workflow

Fixed file sending bug
  rust/clients/cli/src/chat.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

ci: [Flutter] Windows - remove native_context_menu_plugin.dll as a dependency for the installation script
  .circleci/continue-config.yml
  circleci_config/config-continuation/jobs/publish-flutter-github-release.yml
  circleci_config/config-continuation/jobs/publish-rust-github-release.yml
  utilities/installers/windows/bin/build_windows_installer
  utilities/installers/windows/inno_setup_win_installer.iss
Due: none

Improve Persian Translation
  qaul_ui/lib/l10n/app_fa.arb
Due: run-flutter-workflow

fixed integration script for local android build
  utilities/scripts/build-android-release.sh
Due: none

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
