Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

docs(crypto): proposal for envelope-based group file encryption
  docs/proposals/Efficient-Group-File-Encryption.md
Due: none

feat(crypto): group-file envelope encryption — primitives, wire, config
  protobuf/generated/rust/qaul.net.crypto.rs
  protobuf/proto_definitions/services/crypto/crypto_net.proto
  rust/libqaul/src/services/chat/file_envelope.rs
  rust/libqaul/src/services/chat/mod.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
Due: run-rust-workflow

feat(crypto): wire envelope group-file send/receive [WIP — e2e not yet working]
  protobuf/generated/rust/qaul.net.chatfile.rs
  protobuf/generated/rust/qaul.net.messaging.rs
  protobuf/proto_definitions/services/chat/chatfile_net.proto
  protobuf/proto_definitions/services/messaging/messaging.proto
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/crypto/sessionmanager.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/messaging/mod.rs
  rust/libqaul/src/services/messaging/process.rs
Due: run-rust-workflow

feat(crypto): file_keys store for group-file envelope keys
  rust/libqaul/src/services/chat/file.rs
Due: run-rust-workflow

test(ble): rebase GATT integration test onto current main (squashed)
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/BLEUtils.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ConnectionManager.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/FlcCreate.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/ReceiveQueue.kt
  qaul_ui/android/blemodule/src/main/java/net/qaul/ble/service/SendQueue.kt
  qaul_ui/pubspec.lock
  rust/ble_module/Cargo.toml
  rust/ble_module/src/ble/ble_service.rs
  rust/ble_module/src/ble/utils.rs
  rust/ble_module/src/gatt_protocol.rs
  rust/ble_module/src/lib.rs
  rust/ble_module/src/rpc/msg_loop.rs
  rust/ble_module/src/rpc/utils.rs
  rust/ble_module/tests/ble_gatt_protocol.rs
Due: run-flutter-workflow, run-rust-workflow

feat(chat): add ChatMessageContextMenu component and update asset paths
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/edit.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/forward_arrow.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/reply_arrow.svg
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_message_context_menu.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/test/chat_message_context_menu_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_message_context_menu.dart
Due: run-flutter-workflow

feat: add new SVG icons and update ChatMessageContextMenu to utilize them and new features
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/arrow-down.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/arrow-up.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/copy.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/delete.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/info.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/plus_icon.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/share.svg
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_message_context_menu.dart
  qaul_ui/packages/qaul_components/test/chat_message_context_menu_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_message_context_menu.dart
Due: run-flutter-workflow

feat(chat): add ChatFooterReplyPreview component and integrate it into ChatFooter
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer_reply_preview.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/test/chat_footer_reply_preview_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_footer_reply_preview.dart
Due: run-flutter-workflow

refactor(chat): remove unused light footer widget and related use cases from ChatFooter
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

fix(chat): update divider color in chat footer reply preview test to use white
  qaul_ui/packages/qaul_components/test/chat_footer_reply_preview_test.dart
Due: run-flutter-workflow

refactor: restructure chat footer components and add new reply preview functionality
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer/chat_footer_reply_preview.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer/chat_footer.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer/chat_footer_reply_preview.dart
Due: run-flutter-workflow

refactor(widgetbook): restore bubble clustering and simplify chat journey
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/support/chat_fixtures.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design/chat/chat_journey.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
Due: run-flutter-workflow

Add chat journey components and use cases to widgetbook (#922)
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/support/chat_fixtures.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design/chat/chat_journey.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
Due: run-flutter-workflow

refactor(chat): simplify ChatMessageContextMenu and localize its labels
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_message_context_menu.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_ar.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_de.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_en.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_es.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_fr.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ar.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_de.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_en.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_es.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_fr.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ru.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_zh.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_ru.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_zh.arb
  qaul_ui/packages/qaul_components/test/chat_message_context_menu_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_message_context_menu.dart
Due: run-flutter-workflow

Create ChatMessageContextMenu component (#923)
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/arrow-down.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/arrow-up.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/copy.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/delete.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/edit.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/forward_arrow.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/info.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/plus_icon.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/reply_arrow.svg
  qaul_ui/packages/qaul_components/assets/icons/sub_menu/share.svg
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_message_context_menu.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_ar.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_de.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_en.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_es.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_fr.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ar.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_de.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_en.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_es.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_fr.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ru.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_zh.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_ru.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_zh.arb
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/test/chat_message_context_menu_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/components/chat/chat_message_context_menu.dart
Due: run-flutter-workflow

feat(crypto): enforce the final-nonce boundary on the draining session
  docs/protocols/Noise-Session-Rotation.md
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

chore(app): #880 initial groundwork for v2 router
  .gitignore
  docs/protocols/Qaul-Routing-Protocol-Primer.md
  docs/protocols/Qaul-Routing-Protocol.md
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/connections/mod.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/connections.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/table.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/qaul-sim/src/topology.rs
Due: run-rust-workflow

feat(app): #880 pending introductions and copyrights
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/codec/mod.rs
  rust/libqaul/src/router_v2/codec/utils.rs
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/metric.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/seq.rs
  rust/libqaul/src/router_v2/table.rs
Due: run-rust-workflow

feat(app): #880 added index allocation
  rust/libqaul/Cargo.toml
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

test(app): #880 added unit tests]
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

feat(app): #880 added tests for pending introductions
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

test(app): #880 added tests for routing table
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/table.rs
  rust/libqaul/src/services/crypto/mod.rs
  rust/libqaul/src/storage/configuration.rs
  rust/libqaul/src/utilities/upgrade/v2_0_0_rc_5/mod.rs
  rust/libqaul/tests/config_persistence.rs
  rust/qaul-sim/src/integration.rs
Due: run-rust-workflow

feat(app): #880 added routing update wire mesages
  rust/libqaul/src/router_v2/codec/messages.rs
  rust/libqaul/src/router_v2/codec/mod.rs
  rust/libqaul/src/router_v2/codec/utils.rs
Due: run-rust-workflow

feat(app): #880 added tests
  rust/libqaul/src/router_v2/codec/messages.rs
Due: run-rust-workflow

feat(shared): #880 added identities and profiles for users and nodes
  rust/libqaul/src/router_v2/identity.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

fix(app): #880 rebase errors
  rust/libqaul/src/services/crypto/mod.rs
Due: run-rust-workflow

feat(app): #880 added index dump messaging
  rust/libqaul/src/router_v2/codec/messages.rs
Due: run-rust-workflow

feat(app): #880 index allocation and space
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

chore(app): #880 wire codec work
  rust/libqaul/src/router_v2/codec.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

test(app): #880 added tests for index allocator
  rust/libqaul/src/router_v2/index.rs
Due: run-rust-workflow

feat(app): #880 added helper funcs for user acct
  rust/libqaul/src/router_v2/identity.rs
Due: run-rust-workflow

test(app): #880 added metrics tests
  rust/libqaul/src/router_v2/metric.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/table.rs
Due: run-rust-workflow

feat(app): #880 mapped incoming entries to nodes
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/seq.rs
  rust/libqaul/src/router_v2/table.rs
Due: run-rust-workflow

feat(app): #880 next hop implementation
  rust/libqaul/src/node/mod.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/table.rs
Due: run-rust-workflow

chore(app): #880 updated index allocaor
  rust/libqaul/src/router_v2/index.rs
  rust/libqaul/src/router_v2/mod.rs
Due: run-rust-workflow

test(app): #880 added tests for sequence number
  rust/libqaul/src/router_v2/seq.rs
Due: run-rust-workflow

feat(app): #880 sequence numbers
  rust/libqaul/src/router_v2/mod.rs
  rust/libqaul/src/router_v2/seq.rs
Due: run-rust-workflow

test(app): #880 update the tests
  rust/libqaul/src/router_v2/codec/messages.rs
Due: run-rust-workflow

test(app): #880 added delta encoding tests
  rust/libqaul/src/router_v2/codec.rs
Due: run-rust-workflow

feat(app): #880 added delta encoding func
  rust/libqaul/src/router_v2/codec.rs
Due: run-rust-workflow
