Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

.circleci/config.yml:

# ---------------------------------------------------
# ----- config.yml ----------------------------------
# ----- GENERATED CODE - DO NOT MODIFY BY HAND ------
# ---------------------------------------------------

orbs:
    continuation: circleci/continuation@0.3.1
    path-filtering: circleci/path-filtering@0.1.3
setup: true
version: 2.1
workflows:
    setup:
        jobs:
            - path-filtering/filter:
                base-revision: main
                config-path: .circleci/continue-config.yml
                mapping: |
                    qaul_ui/.* run-flutter-workflow true
                    rust/.* run-rust-workflow true
                name: default-setup
            - continuation/continue:
                configuration_path: .circleci/continue-config.yml
                filters:
                    branches:
                        ignore: /.*/
                    tags:
                        only: /.*/
                name: tag-setup
                parameters: /tmp/pipeline-parameters.json
                pre-steps:
                    - run:
                        command: "{\n  echo '{'\n  if [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?-flutter.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-flutter-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-flutter-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-flutter-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-flutter-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-flutter-windows-tagged-workflow\": true'\n    else\n      echo '  \"run-flutter-tagged-workflow\": true'\n    fi\n  elif [[ \"$CIRCLE_TAG\" =~ ^v[0-9]+\\.[0-9]+\\.[0-9]+(\\-[a-zA-Z]*(\\.[0-9]+)?)?(\\+([0-9])+)?.*$ ]]; then\n    if [[ \"$CIRCLE_TAG\" =~ ^.*-android$ ]]; then\n      echo '  \"run-rust-android-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-ios$ ]]; then\n      echo '  \"run-rust-ios-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-linux$ ]]; then\n      echo '  \"run-rust-linux-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-macos$ ]]; then\n      echo '  \"run-rust-macos-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-windows$ ]]; then\n      echo '  \"run-rust-windows-tagged-workflow\": true'\n    elif [[ \"$CIRCLE_TAG\" =~ ^.*-docker$ ]]; then\n      echo '  \"run-docker-tagged-workflow\": true'\n    else\n      echo '  \"run-rust-tagged-workflow\": true,'\n      echo '  \"run-docker-tagged-workflow\": true'\n    fi\n  \n  elif [[ \"$CIRCLE_TAG\" =~ ^generate-sbom$ ]]; then\n    echo '  \"run-generate-sbom\": true'\n  fi\n  echo '}'\n} > /tmp/pipeline-parameters.json\n"
                        name: Define tagged pipeline parameters

refactor: convert QaulNavBarDecorator to ConsumerStatefulWidget and refresh user list on returning from settings
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/lib/stores/feed_message_store.dart
Due: run-flutter-workflow

feat: first approach
  qaul_ui/packages/qaul_components/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/lib/qaul_chat_bubble_use_case.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
Due: run-flutter-workflow

feat: cli - new paginated feed message
  rust/clients/cli/README.md
  rust/clients/cli/src/feed.rs
Due: run-rust-workflow

fix: use the `feed.tree` instead of the in-memory `feed.messages
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

Use feed tree for pagination (#800)
  rust/clients/cli/README.md
  rust/clients/cli/src/feed.rs
  rust/libqaul/src/services/feed/mod.rs
Due: run-rust-workflow

feat(server): #541 added json printing to other commands
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

test: #541 updated testing plan to use json
  docs/proposals/testing-framework-plan.md
Due: none

test(shared): #541 added basic test guardrails
  tests/integration/lib/network.py
  tests/integration/lib/node.py
  tests/integration/run.py
Due: none

test(qauld): added network toplogy files
  tests/integration/topologies/grid4-3x3.json
  tests/integration/topologies/grid4-5x5.json
  tests/integration/topologies/line-10.json
  tests/integration/topologies/line-5.json
Due: none

fix: updated node discovery intervals
  .gitignore
  rust/clients/qauld-ctl/src/main.rs
  tests/integration/test_user_discovery.py
Due: run-rust-workflow

test(app): #541 user and node discovery
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_node_startup.py
  tests/integration/test_user_discovery.py
Due: none

fix(test): updated the user discovery tests
  tests/integration/test_node_startup.py
  tests/integration/test_user_discovery.py
Due: none

test(server): #541 set permission socket
  rust/clients/qauld/src/socket.rs
Due: run-rust-workflow

feat(server): #541 added json flag for outpus
  rust/clients/qauld-ctl/Cargo.toml
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
  rust/clients/qauld-ctl/src/commands/chatfile.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/group.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/node.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
  rust/clients/qauld-ctl/src/commands/users.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/libqaul/src/router/mod.rs
  rust/libqaul/src/services/chat/file.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/rtc/mod.rs
Due: run-rust-workflow

test(shared): #541 updated file permisssions
  tests/integration/run.py
Due: none

test: updated to use local node
  tests/integration/test_user_discovery.py
Due: none

test(app): #541 added message routing tests
  tests/integration/test_message_routing.py
Due: none

chore: #541 added message routing to test list
  tests/integration/run.py
Due: none

feat(shared): #541 added router subcommands to enable tests
  docs/research/testing-framework.md
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/router.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

chore(rebase): restore libqaul/cli files to origin/main
  rust/clients/cli/src/ble.rs
  rust/libqaul/src/api/mod.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

feat: update chat bubble use case with new date handling and message display logic
  qaul_ui/packages/qaul_components/lib/qaul_chat_bubble_use_case.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
Due: run-flutter-workflow

feat: implement tests
  qaul_ui/test/packages/qaul_components/qaul_chat_bubble_test.dart
Due: run-flutter-workflow

chore(app): added improvments
  .gitignore
Due: none

refactor: enhance chat bubble layout and message date handling for different display
  qaul_ui/packages/qaul_components/lib/qaul_chat_bubble_use_case.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
Due: run-flutter-workflow

feat: enhance chat message processing and date display
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

feat: add configuration options for chat display and improve message padding handling
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix: unify chat room
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

fix: correct import order in chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
Due: run-flutter-workflow

refactor: update libqaul worker methods to return the intended message types
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
  qaul_ui/test/chat_tab/chat_tab_test.dart
  qaul_ui/test/chat_tab/stubs.dart
  qaul_ui/test/users_store_test.dart
Due: run-flutter-workflow

feat: add future-based implementation apparatus
  qaul_ui/packages/qaul_rpc/lib/src/libqaul_worker.dart
Due: run-flutter-workflow

test(server): #541 updated test suites
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_user_discovery.py
Due: none

fix(shared): #541 routed request_id for users commands
  rust/libqaul/src/router/users.rs
Due: run-rust-workflow

fix(tests): #541 added print statements
  tests/integration/lib/node.py
  tests/integration/run.py
  tests/integration/test_user_discovery.py
Due: none

test: #541 fixed apssing tests
  tests/integration/run.py
  tests/integration/test_message_routing.py
  tests/integration/test_user_discovery.py
Due: none

refactor: cleanup component library, co-locate library tests
  qaul_ui/lib/decorators/qaul_nav_bar_decorator.dart
  qaul_ui/packages/qaul_components/lib/breakpoints.dart
  qaul_ui/packages/qaul_components/lib/constants/qaul_nav_bar_constants.dart
  qaul_ui/packages/qaul_components/lib/helper/qaul_nav_bar_helper.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/packages/qaul_components/test/qaul_navbar_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_navbar.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
  qaul_ui/test/packages/qaul_components/breakpoints_test.dart
  qaul_ui/test/packages/qaul_components/qaul_nav_bar_helper_test.dart
Due: run-flutter-workflow

refactor: reuse assets from components, group handlers into decorator
  qaul_ui/assets/icons/chat-filled.svg
  qaul_ui/assets/icons/chat-outlined.svg
  qaul_ui/assets/icons/menu.svg
  qaul_ui/assets/icons/network-filled.svg
  qaul_ui/assets/icons/network-outlined.svg
  qaul_ui/assets/icons/people-filled.svg
  qaul_ui/assets/icons/people-outlined.svg
  qaul_ui/assets/icons/public-filled.svg
  qaul_ui/assets/icons/public-outlined.svg
  qaul_ui/lib/decorators/nav_bar_overflow_handlers.dart
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/lib/screens/home/dynamic_network/widgets/network_type_filter.dart
  qaul_ui/lib/screens/home/home_screen.dart
  qaul_ui/test/decorator/nav_bar_overflow_handlers_test.dart
  qaul_ui/test/decorator/qaul_nav_bar_decorator_test.dart
Due: run-flutter-workflow

chore(tools): #541 added new topologies
  tests/integration/topologies/grid8-4x4.json
Due: none

chore(app): updated research doc
  docs/research/testing-framework.md
Due: none

refactor: move qaul_fab into component library
  qaul_ui/Makefile
  qaul_ui/lib/decorators/qaul_navbar_decorator.dart
  qaul_ui/lib/screens/home/tabs/public_tab.dart
  qaul_ui/lib/screens/home/tabs/tab.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_fab.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_fab.dart
Due: run-flutter-workflow
