Repository qaul/qaul.net: changes, and which CircleCI parameters are due for each by the changed paths.
All: run-flutter-workflow, run-rust-workflow

refactor(chat): update QaulChatBubble and ChatRoom use cases for improved structure and naming consistency
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/chat_room.dart
Due: run-flutter-workflow

UI Redesign Chat Room (#862)
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_message.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_room.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/widgets/room_meta_message.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/chat_room.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/room_meta_message.dart
Due: run-flutter-workflow

feat: initial implementation
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_chat_bubble.dart
Due: run-flutter-workflow

feat: improve implementation
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_room.dart
  qaul_ui/packages/qaul_components/lib/widgets/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat_preview.dart
Due: run-flutter-workflow

feat: implement chat timeline projection and message presentation logic
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_room.dart
  qaul_ui/packages/qaul_components/lib/widgets/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/widgets/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/widgets/message_presentation_meta.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/test/compute_message_presentation_test.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat_preview.dart
Due: run-flutter-workflow

fix: enhance chat room state management with merge and replace methods
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

refactor: address chat group names review feedback
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/widgets/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/widgets/message_presentation_meta.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
Due: run-flutter-workflow

Implement Chat Group Names (#863)
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat.dart
  qaul_ui/lib/screens/home/tabs/chat/widgets/chat_timeline_projection.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_room.dart
  qaul_ui/packages/qaul_components/lib/widgets/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/widgets/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/widgets/message_presentation_meta.dart
  qaul_ui/packages/qaul_components/lib/widgets/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/test/compute_message_presentation_test.dart
  qaul_ui/packages/qaul_components/test/qaul_chat_bubble_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_chat_bubble.dart
Due: run-flutter-workflow

fix: enhance chat room state management with merge and replace methods (#865)
  qaul_ui/packages/qaul_rpc/lib/src/models/chat_room/chat_room_list_notifier.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/chat_translator.dart
  qaul_ui/packages/qaul_rpc/lib/src/rpc_translators/group_translator.dart
Due: run-flutter-workflow

ci: publish docs and widgetbook via github pages action
  .github/workflows/pages.yml
Due: none

chore(widgetbook): match qaul branding for favicon and tab title
  qaul_ui/packages/qaul_components/widgetbook_workspace/web/favicon.ico
  qaul_ui/packages/qaul_components/widgetbook_workspace/web/favicon.png
  qaul_ui/packages/qaul_components/widgetbook_workspace/web/index.html
Due: run-flutter-workflow

refactor(qaul_components): introduce ChatTimeline as designer-language entry point
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/message_presentation_meta.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/room_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_loading_indicator.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/lib/models/chat_message.dart
  qaul_ui/packages/qaul_components/lib/models/chat_user.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_room.dart
  qaul_ui/packages/qaul_components/test/chat_timeline_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/chat_room.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/room_meta_message.dart
Due: run-flutter-workflow

refactor(qaul_components): introduce ChatTimeline as designer-language entry point (#866)
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/compute_message_presentation.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/group_chat_messages.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/message_presentation_meta.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/room_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_loading_indicator.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/lib/models/chat_message.dart
  qaul_ui/packages/qaul_components/lib/models/chat_user.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/widgets/chat_room.dart
  qaul_ui/packages/qaul_components/test/chat_timeline_test.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/chat_room.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/group_chat_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/room_meta_message.dart
Due: run-flutter-workflow

refactor(rpc): generate Debug RPC dispatch from proto service definition
  protobuf/build_scripts/files.txt
  protobuf/generated/rust/qaul.common.rs
  protobuf/generated/rust/qaul.rpc.debug.rs
  protobuf/proto_definitions/common/common.proto
  protobuf/proto_definitions/rpc/debug.proto
  qaul_ui/packages/qaul_rpc/lib/src/generated/common/common.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/common/common.pbenum.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/common/common.pbjson.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/rpc/debug.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/rpc/debug.pbjson.dart
  rust/clients/cli/src/debug.rs
  rust/libqaul/src/rpc/debug.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/service_generator.rs
  rust/qaul-proto/src/lib.rs
Due: run-flutter-workflow, run-rust-workflow

Translated using Weblate (German)
  qaul_ui/lib/l10n/app_de.arb
Due: run-flutter-workflow

feat: first implementation
  qaul_ui/packages/qaul_components/assets/icons/microphone.svg
  qaul_ui/packages/qaul_components/assets/icons/photos.svg
  qaul_ui/packages/qaul_components/assets/icons/plus.svg
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/macos/Podfile
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

refactor: adjust minor issues
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

feat(libqaul): event subscription RPC with disconnect cleanup
  protobuf/generated/rust/qaul.rpc.rs
  protobuf/generated/rust/qaul.rpc.subscribe.rs
  protobuf/proto_definitions/rpc/qaul_rpc.proto
  protobuf/proto_definitions/rpc/subscribe.proto
  rust/clients/cli/src/rpc.rs
  rust/clients/qauld/src/socket.rs
  rust/libqaul/src/connections/ble/mod.rs
  rust/libqaul/src/connections/events.rs
  rust/libqaul/src/lib.rs
  rust/libqaul/src/router/neighbours.rs
  rust/libqaul/src/rpc/mod.rs
  rust/libqaul/src/rpc/subscribe.rs
  rust/libqaul/src/services/messaging/process.rs
  rust/qaul-proto/build.rs
  rust/qaul-proto/src/lib.rs
Due: run-rust-workflow

feat(qauld-ctl): interactive shell, subscribe streaming, port qaul-cli commands
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/connections.rs
  rust/clients/qauld-ctl/src/commands/debug.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
  rust/clients/qauld-ctl/src/commands/feed.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/main.rs
  rust/clients/qauld-ctl/src/shell/mod.rs
  rust/clients/qauld-ctl/src/subscribe/mod.rs
Due: run-rust-workflow

Turkish translation added.
  qaul_ui/lib/l10n/app_localizations.dart
  qaul_ui/lib/l10n/app_localizations_tr.dart
  qaul_ui/lib/l10n/app_tr.arb
Due: run-flutter-workflow

feat(qauld-ctl): port transports list/enable/disable from qaul-cli
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/mod.rs
  rust/clients/qauld-ctl/src/commands/transports.rs
  rust/clients/qauld-ctl/src/main.rs
Due: run-rust-workflow

chore: update dependencies and localization support
  qaul_ui/packages/qaul_components/widgetbook_workspace/l10n.yaml
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_ar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_de.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_en.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_es.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_fa.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_fr.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_id.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_it.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_pt.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_ru.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_tr.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_uk.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/l10n/app_localizations_zh.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/support/widgetbook_nav_bar_labels.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/pubspec.yaml
Due: run-flutter-workflow

fix: adjust chat timeline
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
Due: run-flutter-workflow

feat: add consistent theming across components in widgetbook
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/room_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/styles/qaul_app_theme.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/support/widgetbook_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/room_meta_message.dart
Due: run-flutter-workflow

feat: update designer viewports in widgetbook with new device specifications
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.dart
Due: run-flutter-workflow

feat: search users method with online filter option
  .gitignore
  protobuf/generated/rust/qaul.rpc.users.rs
  protobuf/proto_definitions/router/users.proto
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pb.dart
  qaul_ui/packages/qaul_rpc/lib/src/generated/router/users.pbjson.dart
  rust/clients/cli/README.md
  rust/clients/cli/src/users.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/search/mod.rs
  rust/libqaul/src/services/chat/search.rs
Due: run-flutter-workflow, run-rust-workflow

chore: delete qaul_ui/packages/qaul_components/macos/Podfile
  qaul_ui/packages/qaul_components/macos/Podfile
Due: run-flutter-workflow

feat(ui): new chat footer (#869)
  qaul_ui/packages/qaul_components/assets/icons/microphone.svg
  qaul_ui/packages/qaul_components/assets/icons/photos.svg
  qaul_ui/packages/qaul_components/assets/icons/plus.svg
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_footer.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.directories.g.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_footer.dart
Due: run-flutter-workflow

fix: reorder localization imports
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_l10n_ext.dart
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.dart
Due: run-flutter-workflow

feat(qauld-ctl): add DTN V2 commands (custody enable/disable, send-routed)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/dtn.rs
Due: run-rust-workflow

feat(qauld-ctl): add account update (signed profile)
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/user_accounts.rs
Due: run-rust-workflow

feat(qauld-ctl): add 'chat search' command
  rust/clients/qauld-ctl/src/cli.rs
  rust/clients/qauld-ctl/src/commands/chat.rs
Due: run-rust-workflow

refactor(qaul_components): harden l10n fallback and tidy chat header
  qaul_ui/packages/qaul_components/l10n.yaml
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_l10n_ext.dart
  qaul_ui/packages/qaul_components/lib/styles/qaul_app_theme.dart
  qaul_ui/packages/qaul_components/macos/Podfile
  qaul_ui/packages/qaul_components/missing_translations.txt
Due: run-flutter-workflow

style(qaul_components): apply dart format
  qaul_ui/lib/qaul_app.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/room_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/support/widgetbook_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/qaul_chat_bubble.dart
Due: run-flutter-workflow

refactor(ui): component retouches and widgetbook improvements (#874)
  qaul_ui/lib/qaul_app.dart
  qaul_ui/packages/qaul_components/l10n.yaml
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/lib/design_components/chat/room_meta_message.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/lib/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_ar.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_de.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_en.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_es.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_fr.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_l10n_ext.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ar.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_de.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_en.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_es.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_fr.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_ru.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_localizations_zh.dart
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_ru.arb
  qaul_ui/packages/qaul_components/lib/l10n/qaul_components_zh.arb
  qaul_ui/packages/qaul_components/lib/qaul_components.dart
  qaul_ui/packages/qaul_components/lib/styles/qaul_app_theme.dart
  qaul_ui/packages/qaul_components/pubspec.yaml
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/main.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/support/widgetbook_preview.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_header.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/chat/chat_timeline.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/qaul_color_sheet.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_fab.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/design_components/shell/qaul_navbar.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/qaul_chat_bubble.dart
  qaul_ui/packages/qaul_components/widgetbook_workspace/lib/use_cases/special_forms/room_meta_message.dart
Due: run-flutter-workflow

refactor(libqaul): make search engine config-driven with optional ranking
  rust/libqaul/src/search/mod.rs
  rust/libqaul/src/services/chat/search.rs
Due: run-rust-workflow

feat(libqaul): add searchable chat groups ranked by recency
  .gitignore
  protobuf/generated/rust/qaul.rpc.group.rs
  protobuf/proto_definitions/services/group/group_rpc.proto
  rust/clients/cli/README.md
  rust/clients/cli/src/group.rs
  rust/libqaul/src/router/users.rs
  rust/libqaul/src/services/group/manage.rs
  rust/libqaul/src/services/group/member.rs
  rust/libqaul/src/services/group/mod.rs
  rust/libqaul/src/services/group/search.rs
  rust/libqaul/src/services/group/storage.rs
Due: run-rust-workflow

Path conditions:
  run-flutter-workflow: any of: qaul_ui/.*
  run-rust-workflow: any of: rust/.*
